<section class="">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="title-font-alt">Full Article</h4>
        <h1>Advancing Culturally Responsive Evaluations for Boys and Men of Color</h1>
        <hr/>
        <h4>by Hahn Cao Yu, Heather Lewis-Charp, and Traci Endo Inouye</h4>
        <p>
          <%= link_to issues_post2_path, class: "btn btn--sm btn--rise-orange" do %>
            Download Full Report <i class="material-icons">&#xE2C4;</i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
