
<section class="">
  <div class="container text-center">
    <h1>Full Article</h1>
    <h2>Advancing Culturally Responsive Evaluations for Boys and Men of Color</h2>
    <hr/>
    <h4>Hahn Cao Yu, Heather Lewis-Charp, and Traci Endo Inouye</h4>
    <%#= image_tag()%>
  </div>
</section>
