<section class="unpad">
  <div class="imagebg bg--primary text-center height-50" data-overlay="5">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/issue_briefs/yu/hero.png") %>
    </div>
    <div class="container">
      <br/><br/><br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>Advancing Culturally Responsive Evaluations for Boys and Men of Color</h1>
            <hr/>
            <h4>Yu, Lewis-Charp, Inouye</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
