
<section class="bg--secondary">
  <div class="container">
    <h4 class="text-center title-font-alt">You May Also Like...</h4>
    <br/>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-4">
            <div class="imagebg height-30 border--round bg-gradient-issue-brief-card boxed boxed--sm" data-overlay="9">
                <div class="background-image-holder">
                    <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                      <div class="col-sm-12">
                          <h4>
                            Where are our American Indian / Alaskan Native Boys and Young Men?
                          </h4>
                          <hr/>
                          <h5 class="title-font-alt">by Villegas</h5>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="imagebg height-30 border--round bg-gradient-issue-brief-card boxed boxed--sm" data-overlay="9">
              <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/godsil/hero.png") %>
              </div>
              <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>
                      Tools for Addressing the Disproportionate Discipline of Boys of Color in Schools
                    </h4>
                    <hr/>
                    <h5 class="title-font-alt">by Godsil</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="imagebg height-30 border--round bg-gradient-issue-brief-card  boxed boxed--sm" data-overlay="9">
                <div class="background-image-holder">
                    <%= image_tag("rise_assets/issue_briefs/teranishi/hero.png") %>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                      <div class="col-sm-12">
                          <h4>
                            The Significance of Data Disaggregation in the Study of Boys and Men of Color
                          </h4>
                          <hr/>
                          <h5 class="title-font-alt">by Tarenishi, Nguyen</h5>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
