<div class="row">
  <div class="col-md-12">
    <div class="swiper-auto-height-container position-relative width-100">
        <div class="swiper-wrapper overflow-hidden box-shadow">
            <!-- start slider item -->
            <div class="swiper-slide padding-50px-all cover-background position-relative xs-padding-20px-all " style="background-image:url(<%= image_url("stock/business/cta-hero/1.jpg")%>);">
                <div class="position-relative width-30 md-width-60 sm-width-85 xs-width-100 display-inline-block slide-banner last-paragraph-no-margin">
                    <div class="padding-80px-all bg-extra-dark-gray sm-padding-40px-all xs-padding-30px-all xs-text-center xs-width-100 box-shadow-dark" style="">
                        <h5 class="alt-font-3 text-extra-light-gray width-90 sm-width-100">our vision</h5>
                        <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
                        <h5 class="alt-font text-white width-90 sm-width-100">We are building expertise and a world-class capacity help companies in diversity and inclusion.</h5>
                        <p class="lead text-extra-light-gray width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide padding-50px-all cover-background position-relative xs-padding-20px-all" style="background-image:url(<%= image_url("stock/business/cta-hero/1.jpg")%>);">
                <div class="position-relative width-30 md-width-60 sm-width-85 xs-width-100 display-inline-block slide-banner last-paragraph-no-margin">
                    <div class="padding-80px-all bg-extra-dark-gray sm-padding-40px-all xs-padding-30px-all xs-text-center xs-width-100">
                      <h5 class="alt-font-3 text-extra-light-gray width-90 sm-width-100">our </h5>
                      <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
                      <h5 class="alt-font text-white width-90 sm-width-100">We are building expertise and a world-class capacity help companies in diversity and inclusion.</h5>
                      <p class="lead text-extra-light-gray width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide padding-50px-all cover-background position-relative xs-padding-20px-all" style="background-image:url(<%= image_url("stock/business/cta-hero/1.jpg")%>);">
                <div class="position-relative width-30 md-width-60 sm-width-85 xs-width-100 display-inline-block slide-banner last-paragraph-no-margin">
                    <div class="padding-80px-all sm-padding-40px-all xs-padding-30px-all xs-text-center xs-width-100">
                      <h5 class="alt-font-3 text-extra-light-gray width-90 sm-width-100">our vision</h5>
                      <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
                      <h5 class="alt-font text-white width-90 sm-width-100">We are building expertise and a world-class capacity help companies in diversity and inclusion.</h5>
                      <p class="lead text-extra-light-gray width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
        <div class="navigation-area">
            <div class="swiper-button-next swiper-next-style4 bg-primary text-white"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
            <div class="swiper-button-prev swiper-prev-style4"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        </div>
    </div>
  </div>
</div>
