
<div class="last-paragraph-no-margin bg-white" style="margin-top: -55px; padding: 200px; z-index: -999999;">
  <div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-8 col-sm-10 col-xs-12 text-center center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom">
            <span class="alt-font-3 text-black text-medium margin-30px-bottom display-block">corporate partnership</span>
            <h5 class="text-extra-dark-gray font-weight-300">Marketplace for Corporate Equity, Diversity and Inclusion</h6>
        </div>
    </div>
    <div class="row equalize sm-equalize-auto">
      <div class="col-md-5 col-md-offset-1  display-table sm-margin-15px-bottom" style="border-right: 1px solid #e5e5e5; padding: 0 50px;">
          <div class="display-table-cell vertical-align-middle">
              <strong class="font-weight-600 text-extra-dark-gray margin-15px-bottom display-block alt-font-3">The problem</strong>
              <p class="lead">Racial inequity, harassment, sexism, and humiliation are longstanding issues within our institutions.</p>
          </div>
      </div>
        <div class="col-md-5 display-table sm-margin-15px-bottom" style="padding: 0 50px;">
            <div class="display-table-cell vertical-align-middle">
                <strong class="font-weight-600 text-extra-dark-gray margin-15px-bottom display-block alt-font-3">Our Solution</strong>
                <p class="lead">Commitment to justice, understanding, and implementation. Staunch opposition to inequity in all forms.</p>
            </div>
        </div>
    </div>
  </div>
  <br/><br/><br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-4 col-xs-12 xs-margin-30px-bottom wow fadeInUp">
              <div class="feature-box-16 xs-width-100">
                  <%= image_tag("stock/business/areas/1.jpg", alt:"" )%>
                  <div class="feature-box-content text-center">
                      <div class="opacity-full-dark bg-extra-dark-gray"></div>
                      <div class="display-table height-100 width-100 position-relative">
                          <div class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb">
                              <div class="text-white alt-font-3 text-medium margin-15px-bottom">Diversity & Inclusion</div>
                              <p class="width-85 center-col text-extra-light-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-4 col-xs-12 xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.25s">
              <div class="feature-box-16 xs-width-100">
                  <%= image_tag("stock/business/areas/2.jpg", alt:"" )%>
                  <div class="feature-box-content text-center text-white">
                      <div class="opacity-full-dark bg-extra-dark-gray"></div>
                      <div class="display-table height-100 width-100 position-relative">
                          <div class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb">
                              <div class="text-white alt-font-3 text-medium margin-15px-bottom">Leadership Development</div>
                              <p class="width-85 center-col text-extra-light-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
              <div class="feature-box-16 xs-width-100">
                  <%= image_tag("stock/business/areas/3.jpg", alt:"" )%>
                  <div class="feature-box-content text-center text-white">
                      <div class="opacity-full-dark bg-extra-dark-gray"></div>
                      <div class="display-table height-100 width-100 position-relative">
                          <div class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb">
                              <div class="text-white alt-font-3 text-medium margin-15px-bottom">workshops & training</div>
                              <p class="width-85 center-col text-extra-light-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
              <div class="feature-box-16 xs-width-100">
                  <%= image_tag("stock/business/areas/4.jpg", alt:"" )%>
                  <div class="feature-box-content text-center text-white">
                      <div class="opacity-full-dark bg-extra-dark-gray"></div>
                      <div class="display-table height-100 width-100 position-relative">
                          <div class="vertical-align-middle display-table-cell padding-15px-lr padding-20px-tb">
                              <div class="text-white alt-font-3 text-medium margin-15px-bottom">Data & Measurement</div>
                              <p class="width-85 center-col text-extra-light-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end feature box item -->
        </div>
      </div>
    </div>
  </div>
</div>
