<div class="container">
      <div class="row">
          <div class="pricing-box-style1">
              <!-- start pricing item -->
              <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-30px-bottom wow fadeInUp">
                  <div class="pricing-box border-all border-width-1 border-color-extra-light-gray bg-white">
                      <div class="bg-extra-dark-gray padding-10px-tb alt-font-3 text-white font-weight-600 text-uppercase">level 1</div>
                      <div class="bg-light-gray padding-35px-all">
                          <h5 class="text-extra-dark-gray font-weight-500 no-margin-bottom">Culture Setting</h5>
                          <div class="text-extra-small text-uppercase margin-5px-top">Per Month</div>
                      </div>
                      <!-- start pricing features -->
                      <div class="padding-30px-all pricing-features sm-padding-20px-all xs-padding-30px-all">
                          <ul class="list-style-11">
                              <li>1 GB Photos</li>
                              <li>Secure Online Transfer</li>
                              <li>Basic Styles</li>
                              <li>No Customer Service</li>
                              <li>Manual Backup</li>
                          </ul>
                          <!-- start pricing action -->
                          <div class="pricing-action margin-35px-top sm-no-margin-top">
                              <a href="#" class="btn btn-rounded btn-transparent-dark-gray btn-very-small text-extra-small">Choose Plan</a>
                          </div>
                          <!-- end pricing action -->
                      </div>
                      <!-- end pricing features -->
                  </div>
              </div>
              <!-- end pricing item -->
              <!-- start pricing item -->
              <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                  <div class="pricing-box border-all border-width-1 border-color-extra-light-gray bg-white">
                      <div class="bg-extra-dark-gray padding-10px-tb alt-font-3 text-white font-weight-600 text-uppercase">level 2</div>
                      <div class="bg-light-gray padding-35px-all">
                          <h5 class="text-extra-dark-gray font-weight-500 no-margin-bottom">Online Learning</h5>
                          <div class="text-extra-small text-uppercase margin-5px-top">Per Month</div>
                      </div>
                      <!-- start pricing features -->
                      <div class="padding-30px-all pricing-features sm-padding-20px-all xs-padding-30px-all">
                          <ul class="list-style-11">
                              <li>1 GB Photos</li>
                              <li>Secure Online Transfer</li>
                              <li>Unlimited Styles</li>
                              <li>Customer Service</li>
                              <li>Manual Backup</li>
                          </ul>
                          <!-- start pricing action -->
                          <div class="pricing-action margin-35px-top sm-no-margin-top">
                              <a href="#" class="btn btn-rounded btn-transparent-dark-gray btn-very-small text-extra-small">Choose Plan</a>
                          </div>
                          <!-- end pricing action -->
                      </div>
                      <!-- end pricing features -->
                  </div>
              </div>
              <!-- end pricing item -->
              <!-- start pricing item -->
              <div class="col-md-3 col-sm-6 col-xs-12 highlight text-center sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s">
                  <div class="pricing-box border-all border-width-1 border-color-extra-light-gray bg-white">
                      <div class="bg-gold padding-10px-tb alt-font-3 text-white font-weight-600 text-uppercase">level 3</div>
                      <div class="bg-light-gray padding-35px-all">
                          <h6 class="text-extra-dark-gray font-weight-500 no-margin-bottom">Corporate Advisory</h6>
                          <div class="text-extra-small text-uppercase margin-5px-top">Per Month</div>
                      </div>
                      <!-- start pricing features -->
                      <div class="padding-30px-all pricing-features sm-padding-20px-all xs-padding-30px-all">
                          <ul class="list-style-11">
                              <li>2 GB Photos</li>
                              <li>Secure Online Transfer</li>
                              <li>Unlimited Styles</li>
                              <li>Customer Service</li>
                              <li>Manual Backup</li>
                          </ul>
                          <!-- start pricing action -->
                          <div class="pricing-action margin-35px-top sm-no-margin-top">
                              <a href="#" class="btn btn-rounded bg-gold btn-very-small text-extra-small">Choose Plan</a>
                          </div>
                          <!-- end pricing action -->
                      </div>
                      <!-- end pricing features -->
                  </div>
              </div>
              <!-- end pricing item -->
              <!-- start pricing item -->
              <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.6s">
                  <div class="pricing-box border-all border-width-1 border-color-extra-light-gray bg-white">
                      <div class="bg-extra-dark-gray padding-10px-tb alt-font-3 text-white font-weight-600 text-uppercase">level 4</div>
                      <div class="bg-light-gray padding-35px-all">
                          <h5 class="text-extra-dark-gray font-weight-500 no-margin-bottom">Diversity Partnership</h5>
                          <div class="text-extra-small text-uppercase margin-5px-top">Per Month</div>
                      </div>
                      <!-- start pricing features -->
                      <div class="padding-30px-all pricing-features sm-padding-20px-all xs-padding-30px-all">
                          <ul class="list-style-11">
                              <li>Unlimited Photos</li>
                              <li>Secure Online Transfer</li>
                              <li>Unlimited Styles</li>
                              <li>Customer Service</li>
                              <li>Auto Backup</li>
                          </ul>
                          <!-- start pricing action -->
                          <div class="pricing-action margin-35px-top sm-no-margin-top">
                              <a href="#" class="btn btn-rounded btn-transparent-dark-gray btn-very-small text-extra-small">Choose Plan</a>
                          </div>
                          <!-- end pricing action -->
                      </div>
                      <!-- end pricing features -->
                  </div>
              </div>
              <!-- end pricing item -->
          </div>
      </div>
  </div>
  <br/><br/><br/><br/><br/><br/><br/>
  
