
<section class="">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Graduation Prep Academy</h2>
      <p class="lead">This program includes a four-day visit to the University of Southern California.
        We will select 32 juniors (8 per racial/ethnic group) and cover all their travel expenses, lodging,
        and meals. During their visit to our campus in November 2017, the selected scholars will learn more about
        applying to and succeeding in graduate school; meet our faculty and hear about their research projects;
        interact with our graduate students and alumni; and tour Los Angeles.
      </p>
      <p class="lead">
        We will also pay for Academy participants to take a four-week Kaplan course valued at $1,200
        to prepare for the Graduate Record Exam (the GRE is required for admission to most graduate programs).
        Additionally, each Academy participant will be paired with a current male Ph.D. student of color who will
        offer mentoring throughout the graduate school application process, feedback on essays and other application
        materials, and advice on where to apply and ultimately enroll.</p>
      <p class="lead">
        Academy participation in no way guarantees eventual admission to the University of Southern California.
        If not at USC, our larger aim is for all 32 scholars to enroll in highly selective graduate programs at top research
        universities in Fall 2019, immediately upon completion of their bachelor’s degrees.</p>
      <p class="lead">
        The Grad Prep Academy was created in 2009 for Black undergraduate men interested in earning the Ph.D.
        in education. The expanded version now includes men of color from other racial/ethnic groups and extends into the
        other four RISE fields. Click here to download a report about the original version of the Academy [PDF].
      </p>
      <p class="lead">
        Participation in this project is limited to undergraduate men of color in their junior year – those who started their
        junior year of college in Fall 2017 and anticipate earning bachelor’s degrees at the end of Spring 2019. Applications
        are invited from college juniors across all majors, not just the five RISE fields. However, only those who have
        intellectual interests that are somehow related to the RISE fields should apply. This program is not intended for
        students who are interested in pursuing degrees like the M.D., J.D., MBA, or Ed.D., but instead is for those who are
        serious about earning a Ph.D. and eventually becoming researchers.
      </p>

      <p class="lead">All application materials must be submitted electronically (using the form below) no later than 11:59 p.m. (PST) on
          Monday, October 2, 2017.</p>

      <hr/>

      <p class="lead">Application Made Available Soon</p>
    </div>
  </div>
</section>
