
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="color--orange title-font-alt"> about the academy</h4>
        <hr class="" style="width: 20%;"/>
        <h2 class="color--orange">We invite Native American, Black, Latino, Asian American and Pacific Islander undergraduate
         men who are presently in their junior year to apply for participation in our Grad Prep
         Academy.</h2>
        <h4 class="">
           The RISE Grad Prep Academy is a project that prepares scholars for doctoral study and research-related careers
           in the five RISE fields: education, health, human services and social policy, juvenile and
           criminal justice, and workforce development.
        </h4>
        <br/>
        <p>
          <a href="#" class="btn">Grad Prep Appliction</a>
        </p>
      </div>
      <div class="col-md-4">
        <br/><br/><br/><br/>
        <%= image_tag("rise_assets/about/about-1.png", class: "border--round box-shadow-wide")%>
      </div>
    </div>
  </div>
</section>


<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <br/><br/><br/><br/><br/>
        <%= image_tag("rise_assets/about/about-1.png", class: "border--round box-shadow-wide")%>
        <%= image_tag("rise_assets/about/about-1.png", class: "border--round box-shadow-wide")%>
      </div>
      <div class=" col-md-offset-1 col-md-7">
        <h4 class="color--orange title-font-alt">the opportunity</h4>
        <hr class="" style="width: 20%;"/>
        <h2 class="color--orange">This program includes a four-day visit to the University of Southern California. We will select
       32 juniors and cover all their travel expenses, lodging, and meals.</h2>
        <h4>
           During their visit to our campus in November 2016, the selected scholars will learn more about
           applying to and succeeding in graduate school; meet our faculty and hear about their research
           projects; interact with our graduate students and alumni; and tour Los Angeles.
        </h4>
        <h4>
          We will also pay for Academy participants to take a four-week Kaplan course valued at $1,200
          to prepare for the Graduate Record Exam (the GRE is required for admission to most graduate
          programs). Additionally, each Academy participant will be paired with a current male Ph.D.
          student of color who will offer mentoring throughout the graduate school application process,
          feedback on essays and other application materials, and advice on where to apply and
          ultimately enroll.
        </h4>
        <h5 class="no-margin type--bold">Important Note:</h4>
        <h4>
          Academy participation in no way guarantees eventual admission to the University of Southern
          California. If not at USC, our larger aim is for all 32 scholars to enroll in highly selective
          graduate programs at top research universities in Fall 2018, immediately upon completion of
          their bachelor’s degrees.
        </h4>
        <br/>
        <p>
          <a href="#" class="btn">Grad Prep Appliction</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h4 class="color--orange title-font-alt">History & Background</h4>
        <hr class="" style="width: 20%;"/>
        <h2 class="color--orange">The Grad Prep Academy was created in 2009 at the University of Pennsylvania for Black
        undergraduate men interested in earning the Ph.D. in education. </h1>
        <h2>
        <h4>
          The expanded version now
          includes men of color from other racial/ethnic groups and extends into the other four RISE
          fields. Participation in this project is limited to undergraduate men of color in their junior
          year – those who started their junior year of college in Fall 2017 and anticipate earning
          bachelor’s degrees at the end of Spring 2019.
          <!-- Click here to download a report about the original version of the Academy [PDF]. -->
        </h4>
        <br/>
        <p>
          <a href="#" class="btn">Grad Prep Appliction</a>
        </p>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <br/><br/><br/><br/><br/>
        <%= image_tag("rise_assets/about/about-1.png", class: "border--round box-shadow-wide")%>
      </div>
    </div>
  </div>
</section>

<section class="bg--primary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="color--orange title-font-alt text-center">Application process</h4>
        <hr class="center" style="width: 20%;"/>
        <h2 class="type--bold text-center">Applications are invited from college juniors across all majors, not just the five RISE fields.</h2>
        <h4 class="text-center center type--underline" style="width: 70%;">Only those who have intellectual interests that are somehow related to the RISE fields should apply.</h5>
        <h2>
        <h4>
          This program is not
          intended for students  who are interested in pursuing degrees like the M.D., J.D., MBA, or
          Ed.D., but instead is for those who are serious about earning a Ph.D. and eventually
          becoming researchers.
        </h4>
        <h4>
          All application materials must be submitted electronically (form will be made available soon) no later than 11:59 p.m. (EST) on Monday, November 13, 2017. Please direct all questions to info@risebmoc.org.
        </h4>

        <h4>
          Essay Question (750 words maximum):What are your intellectual interests and long-term career aspirations relative to one of the five RISE fields, and how were they developed? If you had a Ph.D. in one of the RISE fields, what would you do in response to the problems or social phenomena that concern you most? How would your racial/ethnic group and our broader society benefit from research you would conduct after earning your Ph.D.? Which three RISE Principles would you commit your career to addressing?
        </h4>

        <div class="typeform-widget" data-url="https://amanianai.typeform.com/to/CaR84t" style="width: 100%; height: 500px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com//?utm_campaign=CaR84t&amp;utm_source=typeform.com-8585190-Pro&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

      </div>
    </div>
  </div>
</section>
