<section class="unpad">
  <div class="imagebg bg--primary text-center height-50" data-overlay="8">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/grad-prep/hero-grant-proposals.png") %>
    </div>
    <div class="container">
      <br/><br/><br/><br/>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>Grad Prep Academy</h1>
            <hr/>
            <h4>You Are Invited</h4>
            <!-- <p>
              <%#= image_tag("rise_assets/home/hero/icon/icon-scroll.png")%>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
