<!-- start slide item -->
<div class="swiper-slide cover-background" style="background-image: url(<%= image_url('stock/home/backgrounds/2.jpg')%>); background-position">
  <div class="full-screen width-100 position-relative">
    <div class="slider-typography text-left">
      <div class="slider-text-middle-main">
        <div class="slider-text-bottom padding-100px-lr xs-padding-30px-lr">
          <div class="swiper-bottom-content bg-black width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
            <p class="xs-margin-5px-bottom"><a href="single-project-page-01.html" class="lead font-weight-500 text-yellow alt-font-3 text-white-hover">
              companies and organizations</a></p>
            <h5 class="xs-margin-5px-bottom font-weight-300 text-white alt-font text-white-hover">
              "Few professionals
              know how to talk comfortably about race and racism with their colleagues. Even fewer know what to do when racial
              tensions arise, when data show racial disparities, and when frustrated citizens and employees demand
              accountability and racial justice.
              "</a></h4>
            <img src="https://res.cloudinary.com/allamerican/image/fetch/t_face_s270/https://speakerdata2.s3.amazonaws.com/photo/image/854367/hi-res" class="img-circle" style="border: 1px solid #333;" height="40" width="40"/>
            <div class="" style="display: inline-block">
              <span class="text-uppercase text-small text-gray font-weight-600">Shaun Harper /</span>
              <span class="alt-font-3 text-small text-gray font-weight-300">Executive Director</span><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end slide item -->
