
<section class="wow fadeIn no-padding-top padding-50px-bottom">
  <div class="container">
    <div class="row padding-20px-bottom" >
      <div class="col-md-8">
        <h6 class="text-extra-dark-gray font-weight-300 alt-font-3">Cost, Certificates, and Contact</h6>
        <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
        <h6 class="font-weight-300 text-extra-dark-gray">
          Each eight-week USC Equity Institute is $30,000. Institute participants receive individual, authentic University of Southern California Rossier School of Education executive leadership certificates, signed by the executive director of the Center and director of the Institutes, upon completion of the Institute.
        </h6>
        <br/>
        <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS37y1WmXuS9WEEPx2-d01XYvV1LxViQIK3kgNg8buebbIWDp94", class: "")%>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="row">
          <%= image_tag("http://www.nadohe.org/assets/bio/sumun%20pendakur%201.jpg", class: "img-circle col-md-8")%>
        </div>
        <hr/>
        <p class="text-medium">For more information, please contact:</p>
        Dr. Sumun L. Pendakur<br/>
        Chief Learning Officer<br/>
        USC Equity Institutes Director<br/>
        University of Southern California<br/>
        3470 Trousdale Parkway, WPH 1103<br/>
        Los Angeles, CA 90089<br/>
        pendakur@rossier.usc.edu<br/>
        (213) 740-3452
      </div>
    </div>
  </div>
</section>
