

<section class="wow fadeIn bg-extra-light-gray">
  <div class="container">
    <div class="row padding-20px-bottom" >
      <div class="col-md-10 col-md-offset-1">
        <h6 class="text-extra-dark-gray font-weight-300 alt-font-3">Curriculum</h6>
        <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
        <h5 class="font-weight-300 text-extra-dark-gray">
          Each USC Equity Institute has eight 90-minute modules.
        </h5>
        <h6 class="font-weight-300 text-extra-dark-gray">
          Higher education leaders contact us about having 20 colleagues from their campus participate in our eight-week professional learning experience, we ask the commissioning executive to choose six modules from this curriculum:
        </h6>
        <p>(the first two are foundational and therefore required)</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row box-shadow bg-white padding-60px-all">
      <!-- <h5 class="alt-font text-black text-center">8-Module Curriculum</h5> -->
      <img src="<%= image_path("logos/white-red.jpg")%>" class="logo-dark center" alt="The Race & Equity Center" style="height: 50px;">
      <hr/><br/>
      <div class="col-md-4">
        <p class="text-large font-weight-500 text-danger">Foundations in Racial Equity</p>
        <ul class="">
          <li>*REC 700 Foundations of Racial Equity in Higher Education</li>
          <li>*REC 701 Talking about Race, Racism, and Racial Inequities</li>
        </ul>

        <p class="text-large font-weight-500 text-danger">Race-Conscious Leadership in Higher Education</p>
        <ul class="">
          <li>REC 702 Race-Conscious Leadership in Higher Education</li>
          <li>REC 703 Race-Conscious Recruitment and Admissions</li>
          <li>REC 704 Advancing Racial Equity in Overwhelmingly White Contexts</li>
          <li>REC 705 Advancing Racial Equity in a Majority-Minority Context</li>
          <li>REC 706 Leading in Moments of Racial Crisis</li>
          <li>REC 708 Understanding Campus Unrest and Responding Student Protest</li>
        </ul>

        <p class="text-large font-weight-500 text-danger">Assessment, Evaluation, and Racial Equity</p>
        <ul class="">
          <li>REC 709 Using Assessment and Evaluation to Improve Campus Racial Climates</li>
          <li>REC 710 Assessing Racial Equity Through Disaggregating Data</li>
          <li>REC 711 Making Racial Equity Data Transparent</li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="text-large font-weight-500 text-danger">College Teaching and Learning</p>
        <ul class="">
          <li>REC 712 Understanding and Navigating Identity as Faculty</li>
          <li>REC 713 Creating Culturally Responsive and Culturally Sustaining Curricula</li>
          <li>REC 714 Reducing Stereotype Threat and Microaggressions in the Classroom</li>
          <li>REC 715 Inclusive Pedagogy and Classroom Transformation</li>
          <li>REC 716 Classroom Incivility and Productive Conversations about Race</li>
        </ul>
        <p class="text-large font-weight-500 text-danger">Racial Equity and Human Resources Management</p>
        <ul class="">
          <li>REC 717 Reducing Implicit Bias in the Search and Hiring Process</li>
          <li>REC 718 Recruiting and Selection of Professionals of Color</li>
          <li>REC 719 Retention and Advancement of Professionals of Color</li>
          <li>REC 720 Managing and Resolving Racial Tensions in the Workplace</li>
          <li>REC 721 Relationships of Power and Reducing Abuse of Power in the Workplace</li>
          <li>REC 722 Cultivating a Local Pipeline for Diverse Institutional Leadership</li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="text-large font-weight-500 text-danger">Leading Racial Equity</p>
        <ul class="">
          <li>REC 723 Accountability and Incentivizing Equity Goals</li>
          <li>REC 724 Strategic Planning and Action for Racial Equity</li>
          <li>REC 725 Messaging Commitment to Racial Equity and Inclusion</li>
          <li>REC 726 Effective Partnership with Chief Diversity Officers and Diversity Practitioners</li>
          <li>REC 727 Communicating Institutional Progress on Racial Equity Goals</li>
        </ul>
        <p class="text-large font-weight-500 text-danger">Contemporary Issues in Campus and Institutional Equity</p>
        <ul class="">
          <li>REC 728 Responding to Feedback on Being Perceived as Racist without Becoming Defensive</li>
          <li>REC 729 Dismantling Persistent Racial Equity Problems in STEM</li>
          <li>REC 730 Identifying, Understanding, and Confronting Implicit Bias</li>
          <li>REC 731 Xenophobia, Islamophobia, and Othering</li>
          <li>REC 732 Transgender Equity and Inclusion On-Campus</li>
          <li>REC 733 Cultivating Trans Inclusive Campus Environments</li>
          <li>REC 734 Racial Equity in Athletics</li>
        </ul>
      </div>
    </div>
  </div>
</section>
