
<!-- start feature box section -->
<section class="bg-warning wow fadeIn cover-background" style="background-image: url(<%= image_url('stock/home/backgrounds/1.jpg')%>);">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-6 col-sm-6 col-xs-12 center-col text-center">
        <div class="alt-font-3 text-white margin-5px-bottom text-uppercase text-small">usc equity institutes</div>
        <h5 class="text-white font-weight-400">The USC Equity Institutes is an eight-week professional learning series for 20 leaders and/or faculty members on a single college or university campus. </h5>
      </div>
    </div>
  </div>
</section>
<!-- start feature box section -->
