
<section class="wow fadeIn no-padding-top">
  <div class="container bg-warning padding-50px-all">
    <div class="row">
      <div class="col-md-6">
        <p class="text-large text-white">
          Each Institute has eight virtual modules that are taught synchronously one day each week. Using webcams, one expert instructor from the USC Race and Equity Center and the 20 participants engage together on our virtual learning platform for 90 minutes, all at the same time. USC Race and Equity Center staff and faculty affiliates, as well as highly respected scholars in our national network, teach the weekly modules.
        </p>

      </div>
      <div class="col-md-6">
        <p class="text-large text-white">
          When presidents, provosts, deans, and other senior leaders enroll their campus in an Equity Institute, we ask these executives to identify four opportunities to improve and advance racial equity at their colleges and universities. Over the eight-week experience, the 20 Equity Institute participants work in four teams (five colleagues per team) to design projects in each opportunity area. Team members collaborate on design tasks between virtual learning sessions each week. Over the eight weeks, Institute faculty members give feedback on each team’s design, implementation, accountability, assessment, resourcing, communication, and sustainability plans.
        </p>

      </div>
    </div>
  </div>
</section>
    <hr/>

<section class="wow fadeIn no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="text-extra-light-gray font-weight-300">How it Works</h6>
        <div class="row">
          <!-- start progress step item -->
          <div class="col-md-4 col-sm-4 col-xs-12 feature-box-10 xs-margin-20px-bottom wow fadeInUp last-paragraph-no-margin">
            <div class="display-inline-block padding-five-all margin-10px-bottom xs-no-margin-bottom xs-padding-15px-all">
                <span class="number alt-font border-width-2 border-all border-color-deep-pink border-radius-100 letter-spacing-minus-1 text-extra-dark-gray">01</span>
            </div>
            <div class="alt-font-3 text-medium text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">title #1</div>
            <p class="width-75 sm-width-85 xs-width-100">Higher education leaders contact us about having 20 colleagues from their campus participate in our eight-week professional learning experience</p>
          </div>
          <!-- end progress step item -->
          <!-- start progress step item -->
          <div class="col-md-4 col-sm-4 col-xs-12 feature-box-10 xs-margin-20px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
            <div class="display-inline-block padding-five-all margin-10px-bottom xs-no-margin-bottom xs-padding-15px-all">
                <span class="number number-center alt-font border-width-2 border-all border-color-deep-pink border-radius-100 letter-spacing-minus-1 text-extra-dark-gray">02</span>
            </div>
            <div class="alt-font-3 text-medium text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">title #2</div>
            <p class="width-75 sm-width-85 xs-width-100">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
          </div>
          <!-- start progress step item -->
          <div class="col-md-4 col-sm-4 col-xs-12 feature-box-10 wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
            <div class="display-inline-block padding-five-all margin-10px-bottom xs-no-margin-bottom xs-padding-15px-all">
                <span class="number alt-font border-width-2 border-all border-color-deep-pink border-radius-100 letter-spacing-minus-1 text-extra-dark-gray">03</span>
            </div>
            <div class="alt-font-3 text-medium text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">title #3</div>
            <p class="width-75 sm-width-85 xs-width-100">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
          </div>
          <!-- end progress step item -->
        </div>
      </div>
    </div>
  </div>
</section>
