

<section class="wow fadeIn padding-50px-bottom">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <!-- <h2 class="alt-font text-black font-weight-600 margin-5px-bottom">Portfolio Leadership</h2> -->
      <h6 class="text-extra-light-gray font-weight-300"></h6>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <h5 class="font-weight-300 text-extra-dark-gray">

      </h5>
    </div>
  </div>
  <div class="container">
    <div class="row padding-20px-bottom" >
      <div class="col-md-10 col-md-offset-1">
        <h6 class="text-extra-dark-gray font-weight-300 alt-font-3">Strategy and Theory of Change</h6>
        <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
        <h5 class="font-weight-300 text-extra-dark-gray">
          The USC Equity Institutes address four challenges
          that undermine racial equity on college and university campuses. Our theory of change is embedded in the articulation of these problems, and project outcomes are specified beneath each.
        </h6>
      </div>
    </div>
  </div>

</section>


<section class="wow fadeIn no-padding main-slider mobile-height content-right-slider">
    <div class="container-fluid">
        <div class="row equalize sm-equalize-auto">
            <div class="col-md-5 cover-background sm-height-500px xs-height-350px wow fadeIn" style="background-image:url('https://pbs.twimg.com/media/DBPlfDnXcAAGSzq.jpg')"></div>
            <div class="swiper-full-screen swiper-container col-md-5 no-padding-lr white-move bg-red xs-padding-20px-tb wow fadeIn">
                <div class="swiper-wrapper">
                    <!-- start slider item -->
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-four-tb padding-eighteen-lr md-padding-eight-all sm-padding-thirteen-all xs-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-white opacity4">02</span>
                                <p class="alt-font-3 font-weight-600 text-white text-uppercase position-absolute left-0 right-0 top-35 sm-top-25 xs-top-12">Challenge</p>
                            </div>
                            <h5 class="alt-font text-white">Postsecondary educators often neglect to engage in serious, honest conversations about race and racism on campus. </h4>
                            <p class="width-100 text-white sm-width-95 xs-width-85 text-medium">Our center’s campus racial climate studies consistently reveal that race and the discussion of racism remain taboo in most academic departments and campus units. Most White participants say they fear being perceived as naïve about racial issues, or even worse, as racist if they speak the wrong words. Many people of color in our research fear the professional ramifications of calling out racism, while others become fatigued by always being the only persons raising their White colleagues’ consciousness. Ours and others’ research shows that faculty members and campus leaders have learned to skillfully talk around race without explicitly naming particular racial problems, persons, or groups.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-four-tb padding-eighteen-lr md-padding-eight-all sm-padding-thirteen-all xs-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-white opacity4">03</span>
                                <p class="alt-font-3 font-weight-600 text-white text-uppercase position-absolute left-0 right-0 top-35 sm-top-25 xs-top-12">Challenge</p>
                            </div>
                            <h5 class="alt-font text-white">Few campus leaders know how to effectively ‘do’ racial equity. </h4>
                            <p class="width-100 text-white sm-width-95 xs-width-85 text-medium">One major finding from our five-year national study on the early-career experiences of higher education professionals is that few actually learn how to ‘do’ racial equity in their graduate degree programs. Accordingly, practically nothing is taught about what to say or do, for example, when white supremacists show up on a campus. Moreover, most senior leaders confess to us that they never learned what to do when academic progress reports show alarming disparities within and between racial groups; when racial segregation is observable and commonplace on campus; and when faculty and student demographics are terribly mismatched. If racial equity is to be achieved, people who work on college campuses (those who are supposed to do something about inequities) must be taught content and strategies they never learned anywhere else in their academic and professional upbringing.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-four-tb padding-eighteen-lr md-padding-eight-all sm-padding-thirteen-all xs-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-white opacity4">04</span>
                                <p class="alt-font-3 font-weight-600 text-white text-uppercase position-absolute left-0 right-0 top-35 sm-top-25 xs-top-12">Challenge</p>
                            </div>
                            <h5 class="alt-font text-white">Racism undermines campus equity goals. </h4>
                            <p class="width-100 text-white sm-width-95 xs-width-85 text-medium"> Racial inequities in first-to-second year persistence, six-year graduation rates, faculty and staff promotion, and employee turnover are rarely understood to be outcomes produced by racist institutional policies, cultures, and practices. The Chronicle of Higher Education, Inside Higher Ed, and other outlets frequently publish news stories about racist incidents on college campuses that are consistent with examples students, faculty, and staff members of color offer Center researchers in our climate studies. These experiences negatively affect sense of belonging and mattering, student success, and employee productivity and retention.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-four-tb padding-eighteen-lr md-padding-eight-all sm-padding-thirteen-all xs-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-white opacity4">05</span>
                                <p class="alt-font-3 font-weight-600 text-white text-uppercase position-absolute left-0 right-0 top-35 sm-top-25 xs-top-12">Challenge</p>
                            </div>
                            <h5 class="alt-font text-white">Racism undermines campus equity goals. </h4>
                            <p class="width-100 text-white sm-width-95 xs-width-85 text-medium"> Racial inequities in first-to-second year persistence, six-year graduation rates, faculty and staff promotion, and employee turnover are rarely understood to be outcomes produced by racist institutional policies, cultures, and practices. The Chronicle of Higher Education, Inside Higher Ed, and other outlets frequently publish news stories about racist incidents on college campuses that are consistent with examples students, faculty, and staff members of color offer Center researchers in our climate studies. These experiences negatively affect sense of belonging and mattering, student success, and employee productivity and retention.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <!-- end slider item -->




                </div>
                <!-- start slider pagination -->
                <div class="swiper-button-next slider-long-arrow-white"></div>
                <div class="swiper-button-prev slider-long-arrow-white"></div>
                <!-- end slider pagination -->
            </div>
        </div>
    </div>
</section>
