<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="color--orange title-font-alt text-center">Authors</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">
          Scheitler &bull; Shimkhada &bull; Ko &bull; Ponce
        </h1>
      </div>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h4 class="type--bold margin-bottom-10">Introduction</h4>
                <h4 class="">
                  Given the high burden of violence on boys and men of color, it should be a priority to
                  understand the factors contributing to violence exposure and involvement, and evaluate
                  programs that might reduce this burden. As described in more detail below, strengths-based
                  approaches hold particular promise for alleviating the burden of violence. It is the purpose
                  of this paper to review existing knowledge on strengths-based approaches for boys and men of
                  color.
                </h4>
                <hr/>
                <div class="row">
                  <div class="col-md-5">
                    <h5 class="no-margin">Principal Investigator</h5>
                    <ul class="">
                      <li>A. J. Scheitler, EdD</li>
                      <li>Riti Shimkhada, PhD</li>
                      <li>Michelle Ko, MD, PhD</li>
                    </ul>
                  </div>
                  <div class="col-md-7">
                    <h5 class="type--bold no-margin">Principal Investigator</h5>
                    <ul>
                      <li>Ninez A. Ponce, MPP, PhD</li>
                    </ul>
                  </div>
                </div>
                <hr/>
                <p class="center">
                  <%= link_to fieldscans_download_fs3_url, class: "btn btn--sm btn--block btn--rise-orange" do %>
                    Download Full Report <i class="material-icons">&#xE2C4;</i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <%= image_tag("fieldscans/fs3/fs3.png", class: "box-shadow-light")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
