<section class="unpad">
  <div class="imagebg bg-gradient-issue-brief-post text-center height-50" data-overlay="9">
    <div class="background-image-holder">
      <%= image_tag("fieldscans/fs3/hero.jpg") %>
    </div>
    <div class="container">
      <br/><br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h4 class="title-font-alt">Fieldscans</h4>
            <hr/>
            <h1>Physical and Mental Health Interventions for Black Men in the United States<h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
