<style>
  .article__body h4 {
    font-size: 16px;
    line-height: 26px;
  }
</style>

<section class="unpad bg--secondary">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-12">
        <h4 class="title-font-alt text-center">Background</h4>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="type--bold ">Physical and Mental Health Interventions for Black Men in the United States</h2>
            <hr/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="overflow-scroll overflow-height-500">
              <h4 class="text-justify">
                This report, submitted to RISE for Boys and Men of Color (BMOC), is a comprehensive report of the findings from a field scan performed
                by the University of Michigan (U-M) Gender and Health Research (GendHR) Lab on physical and mental health interventions
                for black men1 in the United States.
              </h4>
              <h4 class="text-justify">
                This field scan is a natural extension of the GendHR Lab’s work on black men’s social and cultural experiences, and how these
                experiences contribute to their health trajectories and transitions. For the current RISE field scan, members of the GendHR Lab
                conducted a thorough and systematic review of the empirical and grey literatures to identify successful strategies used by organizations,
                agencies, and individuals across the United States to develop and maintain physical and mental health interventions for
                black men ages 18 and older.
              </h4>
              <h4 class="text-justify">
                Several physical and mental health interventions that target black men exist. Yet, few studies have (a) examined the unique characteristics
                of these interventions, and (b) examined the way these interventions have improved health outcomes for black men. The
                current field scan sought to extend the work of previous studies by applying an intersectional approach to examining patterns in
                successful physical and mental health interventions for black men. There is a need for this field scan because it increases knowledge
                about the influences of contextual factors on individual- and community- level intervention work that is currently being done
                with black men. Therefore, we are pleased to submit a field scan that provides a comprehensive synopsis of previous and existing
                physical and mental health interventions that target black men in the United States.
              </h4>
              <h4 class="text-justify">
                This RISE field scan on physical and mental health interventions for black men in the United States contributes to the knowledge
                needed to develop culturally sensitive and gender-specific health intervention approaches for black men in the future. This field
                scan also provides an important basis for policy decisions regarding physical and mental health services and in designing interventions
                that will be most effective for subgroups of black men. Through this field scan, we strive to understand the disparity between
                how black men articulate physical and mental health conditions and researchers and practitioners’ roles in working with them to improve
                these conditions. Acknowledging the importance of physical and mental health for black men will inform a strengths-based
                framework that documents the range of health-specific needs of this subgroup of men of color. A strengths-based framework is
                necessary to create evidence-based treatments and strategies to improve their health conditions. Overall, this field scan significantly
                advances a grossly under-studied area of culturally sensitive and gender--specific health interventions that are designed and
                implemented (specifically) with black men in mind.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
