<a id="start"></a>
<%#= render "layouts/shared/header_top_bar" %>
<%= render "layouts/shared/sidepanel" %>
<div class="nav-container">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="index.html">
                      <%= image_tag("rise_assets/hero_head/logo_icon/icon-nav/logoicon-nav-white.svg", class:"logo logo-light")%>
                      <%= image_tag("rise_assets/hero_head/logo_icon/icon-nav/logoicon-nav-white.svg", class:"logo logo-dark")%>
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <%= render "layouts/shared/nav_menu" %>
</div>
