<section class="wow fadeIn padding-90px-top no-padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
        <ul class="blog-header-style1 equalize sm-equalize-auto" style="margin-bottom: 10px;">
          <!-- start blog post item -->
          <li class="sm-padding-15px-bottom one-fourth-screen sm-height-450px sm-height-450px">
              <div class="blog-banner cover-background" style="background-image:url(<%= image_url('stock/portfolios/header/1.jpg')%>);">
                  <!-- <div class="opacity-light bg-extra-dark-gray"></div> -->
                  <figure>
                      <figcaption>
                          <a href="#partners" class="text-uppercase alt-font-3 font-weight-600 margin-10px-bottom display-inline-block">learning</a>
                          <a href="#partners" class="text-extra-large display-block alt-font margin-25px-bottom sm-margin-seven-bottom">USC Equity Institutes</a>
                      </figcaption>
                  </figure>
              </div>
          </li>
          <!-- start blog post item -->
          <!-- end blog post item -->
          <li class="blog-column-active sm-padding-15px-bottom one-fourth-screen sm-height-450px">
              <div class="blog-banner cover-background" style="background-image:url('<%= image_url('stock/portfolios/header/2.jpg')%>');">
                  <!-- <div class="opacity-light bg-extra-dark-gray"></div> -->
                  <figure>
                      <figcaption>
                          <a href="#partners" class="text-extra-small text-uppercase alt-font-3 font-weight-600 margin-10px-bottom display-inline-block">measurement</a>
                          <a href="#partners" class="text-extra-large display-block alt-font margin-25px-bottom sm-margin-seven-bottom xs-width-100">The National Asssessment of Collegiate Campus Climates (NACCC)</a>
                      </figcaption>
                  </figure>
              </div>
          </li>
          <!-- start blog post item -->
          <!-- end blog post item -->
          <li class="sm-padding-15px-bottom one-fourth-screen sm-height-450px">
              <div class="blog-banner cover-background" style="background-image:url('<%= image_url('stock/portfolios/header/3.jpg')%>');">
                  <!-- <div class="opacity-light bg-extra-dark-gray"></div> -->
                  <figure>
                      <figcaption>
                          <a href="#partners" class="text-extra-small text-uppercase alt-font-3 font-weight-600 margin-10px-bottom display-inline-block">Development</a>
                          <a href="#partners" class="text-extra-large display-block alt-font margin-25px-bottom sm-margin-seven-bottom">The USC Equity Summit Series</a>
                      </figcaption>
                  </figure>
              </div>
          </li>
          <!-- start blog post item -->
          <!-- end blog post item -->
          <li class="sm-padding-15px-bottom one-fourth-screen sm-height-450px">
              <div class="blog-banner cover-background" style="background-image:url('<%= image_url('stock/portfolios/header/4.jpg')%>');">
                  <!-- <div class="opacity-light opacity-black bg-extra-dark-gray"></div> -->
                  <figure>
                      <figcaption>
                          <a href="#partners" class="text-extra-small text-uppercase alt-font-3 font-weight-600 margin-10px-bottom display-inline-block">human capital</a>
                          <a href="#partners" class="text-extra-large display-block alt-font margin-25px-bottom sm-margin-seven-bottom">The National Equity Network</a>
                      </figcaption>
                  </figure>
              </div>
          </li>
          <!-- start blog post item -->
          <!-- end blog post item -->
        </ul>
      </div>
    </div>
  </div>
</section>
