 <section class="wow fadeIn no-padding-top padding-50px-bottom">
  <div class="container">
    <div class="col-md-9 col-md-offset-1">
      <h6 class="text-extra-dark-gray font-weight-300 alt-font-3">our work</h6>
      <h2 class="alt-font text-black font-weight-500 margin-5px-bottom">Strategy & Approach</h2>
      <br/>
      <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
      <h6 class="font-weight-300 text-extra-dark-gray">
        Leadership by adaptability means remaining culturally humble and nimble to an ever-changing climate; ready to seize opportunity."
      </h6>
    </div>
  </div>
</section>

<section class="no-padding-top wow fadeIn">
    <div class="container">
        <div class="row equalize no-margin feature-box-14 bg-grey box-shadow">
          <!-- start feature box item -->
          <div class="col-md-4 col-sm-6 col-xs-12 border-right border-color-extra-light-gray display-table border-bottom wow fadeInUp last-paragraph-no-margin">
            <div class="display-table-cell vertical-align-middle padding-eight-all xs-padding-30px-tb xs-no-padding-lr">
                <!-- <i class="icon-desktop icon-large text-deep-pink"></i> -->
                <!-- <span class="display-block alt-font-3 font-weight-600 text-medium-gray margin-10px-bottom sm-margin-15px-top">Learning & Capacity </span> -->
                <h4 class="alt-font text-black">[Our work matters because race.]</h4>
                <p class="text-medium">[Dismantling an issue as big as racism requires a robust interdisciplinary network of expert scholars, as well as a wide range of strategies, tools, partnerships, and resources.
                At the USC Race and Equity Center, we aim to be helpful. Actionable intelligence, as well as scalable and adaptable.]</p>
            </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-md-8 col-sm-6 col-xs-12 text-center border-right border-color-extra-light-gray display-table border-bottom wow fadeInUp last-paragraph-no-margin">
              <div class="display-table-cell vertical-align-middle padding-four-all xs-padding-30px-tb xs-no-padding-lr">
                <div class="icon-play">
                  <div class="absolute-middle-center width-30">
                    <%= image_tag("images/icon-play.png")%>
                  </div>
                </div><%= image_tag("stock/portfolios/intro/1.jpg", class: "")%>
              </div>
          </div>
          <!-- end feature box item -->
        </div>
    </div>
    <div id="directors"></div>
</section>
