
<section class="wow fadeIn no-padding h-nav margin-70px-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
                <a href="#current"><h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Current Initiatives</h6></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.2s">
                <a href="#strategy"><h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Strategy & Approach</h6></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.4s">
                <a href="#directors"><h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Program Directors</h6></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.6s">
                <a href="#corporate_partners"><h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Corporate Parnterships</h6></a>
            </div>
        </div>
    </div>
    <div id="current"></div>
</section>
