
<section class="wow fadeIn padding-50px-top">
  <div class="container padding-six-bottom">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <h6 class="alt-font-3 font-weight-300">Current initiatives</h6>
        <h2 class="alt-font text-black font-weight-500 margin-5px-bottom">Our Work</h2>
        <br/>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
        <h6 class="font-weight-300 text-extra-dark-gray">
          Our portfolios represent a new beginning for organizations seeking clearer indicators of success and to move the needle on racial equity.
        </h6>
      </div>
    </div>
  </div>

  <div class="wow fadein no-padding wow fadeIn xs-padding-30px-tb">
    <div class="container-fluid">
      <div class="row equalize feature-box-14">
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-6 col-xs-12 display-table last-paragraph-no-margin wow fadeInRight bg-white box-shadow" style="margin-top: -50px; border-top: 1px solid #eee;">
              <div class="display-table-cell vertical-align-top padding-40px-tb padding-60px-lr xs-padding-seven-all">
                <div class="height-400px" style="height: 400px;">
                  <span class="display-block alt-font-3 text-medium text-danger margin-15px-top margin-10px-bottom text-center ">online learning</span>
                  <h4 class="text-black alt-font text-center ">The USC Equity Institutes</h4>
                  <p class="text-medium  text-left">
                    The USC Equity Institutes aim to bridge a specific gap: professionals often ascend to leadership roles without having had
                    a proper course of study on how to effectively address persistent and pervasive racial problems, how to responsibly act in
                    periods of racial crisis, or how to achieve racial equity.
                  </p>
                  <p class="text-medium text-left">
                    The USC Equity Institutes enable institutional leaders to achieve
                    long-term, significant, and sustainable organizational change.
                  </p>
                </div>
                <p class="font-weight-300 text-medium text-medium-gray">
                  <%#= link_to "learn more", pages_equity_institutes_path, class: "btn btn-large btn-black text-medium btn-rounded box-shadow-dark" %>
                </p>
                <div class="clearfix" style="">
                  <%= image_tag("stock/portfolios/small-thumb/sumi.jpg", class: "img-circle pull-left", style: "box-shadow: 1px 1px 1px #111; border: 2px solid #333; position: relative; z-index: 999; margin-right: -5px;", height:"45", width:"45")%>
                  <div class="pull-left padding-20px-left margin-10px-top">
                    <span class="text-uppercase text-small no-margin alt-font-3 font-weight-700 display-block">Dr. Sumun L. Pendakur</span>
                    <span class="small-text no-margin font-weight-500" >Program Director</span>
                  </div>
                </div>
                <div class="audio-box" style=" position: relative;">
                    <%#=image_tag("images/icon-play.png", class:"play", style:"position: absolute; left: -2%; top: 10%; z-index: 9; height: 60px; border-radius: 4px; opacity: .95;  background: #1c1c1c;")%>

                  </div>

              </div>
          </div>
          <!-- end feature box -->
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-6 col-xs-12 bg-red  display-table last-paragraph-no-margin wow fadeInRight no-padding" data-wow-delay="0.2s">
              <div class="display-table-cell vertical-align-top padding-40px-tb padding-60px-lr xs-padding-seven-all">
                <div class="height-400px" style="height: 400px;">
                  <span class="display-block alt-font-3 text-medium text-white margin-15px-top margin-10px-bottom text-center ">data + measurement</span>
                  <h4 class="alt-font text-white text-center">The National Assessment of Campus Collegiate Climates</h4>
                  <p class="text-medium text-left text-white">
                    The National Assessment Of Collegiate Campus Climates is a national survey of undergraduate students at colleges and universities
                    across the nation to gather information regarding  students’ sense of belong and inclusion on campus, how they meaningfully interact
                    across social differences (race, gender, sexual orientation, religion, ability, etc.), and other topics related to diversity.
                  </p>
                </div>
                <div class="clearfix" style="">
                  <%= image_tag("stock/portfolios/small-thumb/natasha.jpg", class: "img-circle pull-left", style: "box-shadow: 1px 1px 1px #111; border: 2px solid #333; position: relative; z-index: 999; margin-right: -5px;", height:"45", width:"45")%>
                  <div class="pull-left padding-20px-left margin-10px-top">
                    <span class="text-uppercase text-small text-white no-margin alt-font-3 font-weight-600 display-block">Shaun Harper</span>
                    <span class="small-text no-margin text-white font-weight-500" >Executive Director</span>
                  </div>
                </div>
                <div class="audio-box" style=" position: relative;">
                    <%#=image_tag("images/icon-play.png", class:"play", style:"position: absolute; left: -2%; top: 10%; z-index: 9; height: 60px; border-radius: 4px; opacity: .95;  background: #1c1c1c;")%>
                    <!-- <img src="https://cdn.pixabay.com/photo/2017/02/01/00/21/audio-2028515_960_720.png" style="filter: brightness(0) invert(1); width: 100%; max-height: 70px; opacity: .15;" alt="brochure image" /> -->
                  </div>

              </div>
          </div>
          <!-- end feature box -->
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-6 col-xs-12 display-table last-paragraph-no-margin wow fadeInRight bg-white box-shadow" style="margin-top: -50px; border-top: 1px solid #eee;" data-wow-delay="0.4s">
              <div class="display-table-cell vertical-align-top padding-40px-tb padding-60px-lr xs-padding-seven-all">
                <div class="height-400px" style="height: 400px;">
                  <span class="display-block alt-font-3 text-medium text-danger margin-15px-top margin-10px-bottom text-center ">Discussion of the Idea</span>
                  <h4 class="text-black alt-font text-center ">The USC Equity <br/>Summit Series</h4>
                  <p class="text-medium text-left">
                    The USC Equity Summit Series will be a 1-3 day professional development events for faculty members and administrators at colleges and universities across the country.
                  </p>
                  <p class="text-medium text-left">
                    Occasionally, Summits are offered in a multipart virtual format.
                  </p>
                </div>
                <div class="clearfix" style="">
                  <%= image_tag("stock/portfolios/small-thumb/sumi.jpg", class: "img-circle pull-left", style: "box-shadow: 1px 1px 1px #111; border: 2px solid #333; position: relative; z-index: 999; margin-right: -5px;", height:"45", width:"45")%>
                  <div class="pull-left padding-20px-left margin-10px-top">
                    <span class="text-uppercase text-small no-margin alt-font-3 font-weight-600 display-block">Dr. Sumun L. Pendakur</span>
                    <span class="small-text no-margin font-weight-500" >Program Director</span>
                  </div>
                </div>
                <div class="audio-box" style=" position: relative;">
                    <%#=image_tag("images/icon-play.png", class:"play", style:"position: absolute; left: -2%; top: 10%; z-index: 9; height: 60px; border-radius: 4px; opacity: .95;  background: #1c1c1c;")%>
                    <!-- <img src="https://cdn.pixabay.com/photo/2017/02/01/00/21/audio-2028515_960_720.png" style="filter: brightness(0) invert(1); width: 100%; max-height: 70px; opacity: .15;" alt="brochure image" /> -->
                  </div>

              </div>
          </div>
          <!-- end feature box -->
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-6 col-xs-12 display-table bg-warning  last-paragraph-no-margin wow fadeInRight no-padding" data-wow-delay="0.6s">
              <div class="display-table-cell vertical-align-top padding-30px-tb padding-60px-lr xs-padding-seven-all">
                  <div class="height-400px" style="height: 400px;">
                    <span class="display-block alt-font-3 text-medium text-white margin-15px-top margin-10px-bottom text-center ">Discussion of the Idea</span>
                    <h4 class="text-white alt-font text-center">The National Equity Network</h4>
                    <p class="text-medium text-white text-left">
                        The National Equity Network will be a resource for higher education leaders, human resources officers,
                        and search committees. This online registry will include thousands of people of color who are presently
                        employed at, or are interested in working for colleges and universities.
                    </p>
                    <p class="text-medium text-white text-left">
                      It will position the Center as a nationally recognized supplier of racially diverse candidates for career
                      opportunities.
                    </p>
                  </div>
                  <div class="clearfix" style="">
                    <%= image_tag("stock/portfolios/small-thumb/wilmon.jpg", class: "img-circle pull-left", style: "box-shadow: 1px 1px 1px #111; border: 2px solid #333; position: relative; z-index: 999; margin-right: -5px;", height:"45", width:"45")%>
                    <div class="pull-left padding-15px-left">
                      <span class="text-uppercase text-small text-white no-margin alt-font-3 sfont-weight-600 display-block">Wilmon A. Christian III</span>
                      <span class="small-text no-margin text-white font-weight-500 text-left">Program Director</span>
                    </div>
                  </div>

                  <div class="audio-box" style="position: relative;">
                    <%#=image_tag("images/icon-play.png", class:"play", style:"position: absolute; left: -2%; top: 10%; z-index: 9; height: 60px; border-radius: 4px; opacity: .95;  background: #1c1c1c;")%>
                    <!-- <img src="https://cdn.pixabay.com/photo/2017/02/01/00/21/audio-2028515_960_720.png" style="filter: brightness(0) invert(1); width: 100%; max-height: 70px; opacity: .15;" alt="brochure image" /> -->
                  </div>
              </div>
          </div>
          <!-- end feature box -->
      </div>
  </div>
  <div id="strategy"></div>
</section>
