<!-- <section class="no-padding one-third-screen position-relative wow fadeIn">
    <div class="opacity-medium bg-extra-dark-gray z-index-0"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table one-third-screen page-title-medium">
                <div class="display-table-cell vertical-align-middle text-center">

                </div>
            </div>
        </div>
    </div>
    <video loop="" autoplay="" controls="" muted class="html-video" poster="">
      <source type="video/mp4" src='<%#= video_url("REC-clip-01.mov")%>'></source>
      <source type="video/ogg" src="video/video.ogg"></source>
      <source type="video/webm" src="video/video.webm"></source>
    </video>
</section> -->


<section class="wow fadeIn padding-50px-bottom">
  <div class="container padding-four-bottom">
      <h6 class="font-weight-300 alt-font-3 text-center">our mission and objectives</h6>
      <h2 class="font-weight-300 alt-font text-extra-dark-gray text-center">About the USC Race & Equity Center</h1>
        <br/><br/>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-5">
              <%= image_tag("stock/business/header/1.jpg", class: "img-rounded")%>
            </div>
            <div class="col-md-7  padding-50px-all">
              <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
              <h4 class="font-weight-300 text-extra-dark-gray alt-font">
                Racism is America’s longest standing social problem.
              </h4>
              <p class="text-large font-weight-300 text-extra-medium-gray">
                As such, racial inequities are persistent and pervasive in schools, colleges and universities, workplace settings, and our larger society.
                Despite this, few professionals know how to talk comfortably about race and racism with their colleagues
                We design sustainable cultures of diversity and inclusion for people and organizations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-extra-light-gray padding-eight-tb">


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">


          <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-5">
                  <h6 class="display-block alt-font-3 font-weight-600 text-medium-gray sm-margin-15px-top">about our work</h6>
                  <h3 class="font-weight-300 alt-font text-extra-dark-gray">Why the USC Race & Equity Work Matters</h3>
                  <!-- <h6 class="font-weight-300 alt-font-3">our mission and objectives</h6> -->
                </div>
                <div class="col-md-7">
                  <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
                  <div class="clearfix"></div>
                  <h6 class="font-weight-300 text-black margin-10px-bottom">Lives depend greatly on the research our faculty affiliates produce and activities our center staff undertake.” </h6>
                  <p class="font-weight-300 text-medium text-medium-gray">- Dr. Shaun R. Harper</p>
                </div>
            </div>
          </div>
          <br/>

        <div class="row equalize no-margin feature-box-14 bg-white box-shadow">
          <!-- start feature box item -->
          <div class="col-md-3 col-sm-6 col-xs-12 border-right border-color-extra-light-gray display-table border-bottom wow fadeInUp last-paragraph-no-margin">
            <div class="display-table-cell vertical-align-middle padding-twelve-all xs-padding-30px-tb xs-no-padding-lr">
              <h5 class="text-extra-large alt-font text-black">Our work matters because race continues to matter in our country.</h4>
              <p class="text-medium">Dismantling an issue as big as racism requires a robust interdisciplinary network of expert scholars, as well as a wide range of strategies, tools, partnerships, and resources.
              At the USC Race and Equity Center, we aim to be helpful. Actionable intelligence, as well as scalable and adaptable models of success, inform our ongoing quest for racial equity.</p>
              <p><a href="#" class="btn btn-large btn-warning btn-rounded">Explore our Work </a></p>
            </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-md-9 col-sm-6 col-xs-12 text-center border-right border-color-extra-light-gray display-table border-bottom wow fadeInUp last-paragraph-no-margin">
            <div class="display-table-cell vertical-align-middle padding-four-all xs-padding-30px-tb xs-no-padding-lr">
              <div class="icon-play">
                <div class="absolute-middle-center width-30">
                  <%= image_tag("images/icon-play.png")%>
                </div>
              </div>
              <%= image_tag("stock/portfolios/intro/1.jpg", class: "")%>
            </div>
          </div>
          <!-- end feature box item -->
        </div>
      </div>
    </div>
  </div>
</section>
