<!-- start portfolio section -->
<section class="wow fadeIn padding-90px-top sm-padding-50px-top xs-padding-30px-top">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-8 col-sm-10 col-xs-12 center-col text-center last-paragraph-no-margin sm-margin-40px-bottom xs-margin-30px-bottom">
              <!-- <h4 class="alt-font font-weight-600 text-extra-dark-gray">Goals & Commitments</h4> -->
              <p class="font-weight-300 text-medium text-medium-gray alt-font-3">Faculty affiliates</p>
              <br/>
              <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
              <h5 class="font-weight-300 text-extra-dark-gray">We are culturally humble, culturally nimble, and pushing <br/>against academic and societal norms.</h5>

              <br/>
          </div>
      </div>
      <div class="row">
            <div class="col-md-12">
                <!-- start filter navigation -->
                <ul class="portfolio-filter text-extra-dark-gray text-medium nav nav-tabs border-none portfolio-filter-tab-1 font-weight-600 alt-font-3 text-uppercase text-center margin-80px-bottom text-small sm-margin-40px-bottom xs-margin-20px-bottom">
                    <li class="nav active"><a href="javascript:void(0);" data-filter="*" class="xs-display-inline light-gray-text-link text-very-small">data & research</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".web" class="xs-display-inline light-gray-text-link text-very-small">civic engagement</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".advertising" class="xs-display-inline light-gray-text-link text-very-small">thought leadership</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".branding" class="xs-display-inline light-gray-text-link text-very-small">community</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".design" class="xs-display-inline light-gray-text-link text-very-small">partnership</a></li>
                </ul>
                <!-- end filter navigation -->
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 no-padding xs-padding-15px-lr">
              <div class="filter-content overflow-hidden">
                  <ul class="portfolio-grid work-4col hover-option2 gutter-medium">
                      <li class="grid-sizer"></li>
                      <!-- start  portfolio item -->
                      <li class="grid-item web branding design wow fadeInUp last-paragraph-no-margin">
                          <a href="single-project-page-01.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/DSCF5563.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item web branding design wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                          <a href="single-project-page-02.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/DSCF5879 (2).jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">community</span>
                                                  <p class="text-white text-uppercase text-extra-small">south central, los angeles</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item advertising branding photography wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                          <a href="single-project-page-03.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/USC-Community-12-2.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item web advertising design wow fadeInUp last-paragraph-no-margin">
                          <a href="single-project-page-04.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/DSCF5917.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item web branding design wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                          <a href="single-project-page-05.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/DSCF4245-3.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item web advertising branding design photography wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                          <a href="single-project-page-06.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/DSCF4435-2.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item web advertising branding design photography wow fadeInUp last-paragraph-no-margin">
                          <a href="single-project-page-07.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/DSCF4740-2.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item web branding design photography wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                          <a href="single-project-page-08.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/DSCF4751.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item web advertising branding wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                          <a href="single-project-page-01.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/DSCF5297-4.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item branding design photography wow fadeInUp last-paragraph-no-margin">
                          <a href="single-project-page-02.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/USC Community-3-2.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item advertising design wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                          <a href="single-project-page-03.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/USC Community-4-3.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                      <!-- start portfolio item -->
                      <li class="grid-item advertising design photography wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                          <a href="single-project-page-04.html">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink"><img src="images/Community/USC Community-5-2.jpg" alt=""/></div>
                                  <figcaption>
                                      <div class="portfolio-hover-main text-left">
                                          <div class="portfolio-hover-box vertical-align-bottom">
                                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                  <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                  <span class="line-height-normal alt-font-3 text-white text-uppercase margin-one-half-bottom display-block font-weight-600">thought leadership</span>
                                                  <p class="text-white text-uppercase text-extra-small">Dr. Charles H.F. David</p>
                                              </div>
                                          </div>
                                      </div>
                                  </figcaption>
                              </figure>
                          </a>
                      </li>
                      <!-- end portfolio item -->
                  </ul>
              </div>
          </div>
      </div>
    </div>
</section>
