<section class="parallax wow fadeIn" style="background: url(<%= image_url('stock/home/backgrounds/4.jpg')%>); background-size: cover; border: 10px solid #fff; border-top: 90px solid #fff;">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container padding-four-lr sm-padding-30px-lr">
    <div class="row">
      <div class="col-md-8">
        <h6 class="display-block alt-font-3 font-weight-600 text-light-gray sm-margin-15px-top">about us</h6>
        <h3 class="text-white alt-font">We design sustainable cultures of diversity and inclusion for people and organizations.</h3>
        <br/>
        <h5 class="text-white alt-font">
          Then, <span class="text-gold">we lead.</span>
          <a href="#" class="margin-30px-left btn btn-large btn-warning btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto text-white">
            Watch Video <i class="text-white margin-10px-left fas fa-play"></i>
          </a>
        </h5>
      </div>
    </div>
  </div>
</section>
