
<section id="leadership" class="wow fadeIn padding-80px-top leadership">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="font-weight-300 text-medium text-medium-gray text-center alt-font-3">our leadership</p>
        <h2 class="text-black text-center alt-font">Leading us Forward</h2>
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-12 center-col text-center last-paragraph-no-margin sm-margin-40px-bottom xs-margin-30px-bottom">
            <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
            <h6 class="text-center text-black font-weight-300">A truly interdisciplinary and intersectional research center, liberated from narrow conceptions of race as binary</h6>
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 wow fadeIn">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 wow fadeInUp row">
            <div class=" box-shadow margin-15px-all">
              <%= image_tag("stock/team/charles.jpg", alt:"", style: "padding: 10px;")%>
              <div class="slider-typography" style="z-index: 99; position: relative;">
                <div class="slider-text-middle-main">
                  <div class="slider-text-bottom">
                    <div class="bg-red box-shadow-dark">
                      <!-- <div class="box-separator-line width-180px bg-white md-width-120px sm-width-90px sm-display-none" style="height: 2px;  top: 70px;"></div> -->
                      <div class="padding-15px-all height-400">
                        <h5 class="alt-font font-weight-600 text-white margin-5px-bottom">Dr. Shaun Harper</h5>
                        <h6 class="no-margin text-left font-weight-300 text-gold">Executive Director</h6>
                        <p class="no-margin text-large text-left font-weight-300 text-white">[Director of Research]</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 wow fadeInUp row">
            <div class=" box-shadow margin-15px-all">
              <%= image_tag("stock/team/charles.jpg", alt:"", style: "padding: 10px;")%>
              <div class="slider-typography" style="z-index: 99; position: relative;">
                <div class="slider-text-middle-main">
                  <div class="slider-text-bottom">
                    <div class="bg-red box-shadow-dark">
                      <!-- <div class="box-separator-line width-180px bg-white md-width-120px sm-width-90px sm-display-none" style="height: 2px;  top: 70px;"></div> -->
                      <div class="padding-15px-all">
                        <h5 class="alt-font font-weight-600 text-white no-margin">Dr. Charles H.F. Davis</h5>
                        <h6 class="no-margin text-left font-weight-300 text-gold">Chief Strategy Officer</h6>
                        <p class="no-margin text-large text-left font-weight-300 text-white">Director of Research</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 wow fadeInUp row">
            <div class=" box-shadow margin-15px-all">
              <%= image_tag("stock/team/sumi.jpg", alt:"", style: "padding: 10px;")%>
              <div class="slider-typography" style="z-index: 99; position: relative;">
                <div class="slider-text-middle-main">
                  <div class="slider-text-bottom">
                    <div class="bg-red box-shadow-dark">
                      <!-- <div class="box-separator-line width-180px bg-white md-width-120px sm-width-90px sm-display-none" style="height: 2px;  top: 70px;"></div> -->
                      <div class="padding-15px-all">
                        <h5 class="alt-font font-weight-600 text-white no-margin">Dr. Sumi</h6>
                        <h6 class="no-margin text-left font-weight-300 text-gold">Chief Learning Officer</h6>
                        <p class="no-margin text-large font-weight-300 text-white">Director, USC Equity Institutes</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <br/><br/>
        <div class="padding-50px-all text-center">
          <h5 class="text-extra-dark-gray font-weight-300">Visit our team page, to meet the entire REC Team</h5>
          <p class=""><a href="#" class="btn btn-large btn-warning btn-rounded">Meet our Team, Researchers and Affiliates</a></p>
        </div> -->
      </div>
    </div>
  </div>
</section>
