<!-- <section class="wow fadeIn padding-100px-top" style="margin-bottom: -100px; z-index: -9;">
  <div class="container">
    <div class="">
      <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12 last-paragraph-no-margin wow fadeInUp">
          <h6 class="alt-font-3">what we do</h6>
          <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom pull-left"></i>
          <div class="clearfix"></div>
          <h6 class="font-weight-300 text-extra-dark-gray">We design sustainable cultures of diversity and inclusion for people and organizations. But first, we show up and listen. We engage, research and learn. We cultivate empathy, openness, and awareness.” </h5>
          <p class="font-weight-300 text-medium text-medium-gray">- Dr. Shaun R. Harper</p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-1 wow fadeInUp"  data-wow-delay="0.2s">
          <div class="display-table-cell vertical-align-middle text-center xs-no-padding-right">
            <img src="images/explore-work-02.png" alt="" class="width-100">
          </div>
          <p class="text-medium-gray margin-70px-top">
            The University of Southern California is home to a dynamic research and organizational
            improvement center that helps professionals in educational institutions, corporations. </p>
          <p><a href="#" class="btn btn-warning btn-rounded btn-large">Learn more about current work</a></p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="wow fadeIn">
  <div class="container">
    <h6 class="font-weight-300 alt-font-3">our mission and objectives</h6>
    <h2 class="font-weight-300 alt-font text-extra-dark-gray">Long-term Goals and Commitments</h1>
    <div class="row">
      <div class="col-md-8">
        <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
        <h6 class="font-weight-300 margin-10px-bottom text-black">Lives depend greatly on the research our faculty affiliates produce and activities our center staff undertake.</h6>
        <p class="font-weight-300 text-medium text-medium-gray">- Dr. Shaun R. Harper</p>
      </div>
    </div>
  </div>
  <div class="container-row box-shadow bg-extra-light-gray">
    <div class="row">
      <!-- <div class="col-md-3">
        <div class="display-table-cell vertical-align-middle padding-50px-all">
          <h6 class="alt-font-3">2018 targets</h6>
          <h5 class="alt-font">Our Current Focus</h4>
          <hr/>
          <ul class="no-padding list-style-4 text-large font-weight-300">
            <li>Launch Prism</li>
            <li>Launch the NACCC</li>
            <li>Strategy Paper for the the National Equity Network team</li>
            <li>Find more creative ideas for your</li>
            <li>Launch the National Equity Network</li>
          </ul>
        </div>
      </div> -->
      <div class="col-md-6 col-md-offset-1">
        <div class="padding-50px-all ">
          <!-- <h6 class="alt-font-3">organizational objectives</h6> -->
          <h5 class="alt-font text-black margin-40px-tb">Our Core Focus Areas</h5>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s">
              <div class="row">
                <div class="col-md-3 text-center xs-no-padding-lr">
                  <h2 class="text-yellow letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">01</h2>
                </div>
                <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                  <span class="font-weight-300 text-extra-large text-black margin-5px-bottom display-block">Data and Research</span>
                  <p class="width-80 md-width-100">[Lorem Ipsum is simply text the printing and typesetting standard industry.]</p>
                </div>
              </div>
              <br/>
              <br/>
              <div class="row">
                <div class="col-md-3 text-center xs-no-padding-lr">
                    <h2 class="text-yellow letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">03</h2>
                </div>
                <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                    <span class="font-weight-300 text-extra-large text-black margin-5px-bottom display-block">Capacity Building</span>
                    <p class="width-80 md-width-100">[Lorem Ipsum is simply text the printing and typesetting standard industry.]</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 sm-text-center wow fadeIn last-paragraph-no-margin" data-wow-delay="0.4s">
              <div class="row">
                <div class="col-md-3 text-center xs-no-padding-lr">
                  <h2 class="text-yellow letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">
                    02
                  </h2>
                </div>
                <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                  <span class="font-weight-300 text-extra-large text-black margin-5px-bottom display-block">Thought Leadership</span>
                  <p class="width-80 md-width-100">[Lorem Ipsum is simply text the printing and typesetting standard industry.]</p>
                </div>
              </div>
              <br/>
              <br/>
              <div class="row">
                <div class="col-md-3 text-center xs-no-padding-lr">
                  <h2 class="text-yellow letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">04</h2>
                </div>
                <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                  <span class="font-weight-300 text-extra-large text-black margin-5px-bottom display-block">Impact and Advocacy</span>
                  <p class="width-80 md-width-100">[Lorem Ipsum is simply text the printing and typesetting standard industry.]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <%= image_tag("stock/portfolios/header/4.jpg", alt:"")%>
      </div>
    </div>
  </div>
</section>
