
<section class="wow fadeIn no-padding h-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
                <a href="#our_history"><h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Our History</h6></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.2s">
                <a href="#mission_goals"><h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Mission & Goals</h6></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.4s">
                <a href="#aims_commitments"><h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Aims & Commitments</h6></a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.6s">
                <a href="#faculty_affiliates"><h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Faculty Affiliates</h6></a>
            </div>
        </div>
    </div>
</section>
