
<section class="wow fadeIn bg-white" style="background: url('<%= image_url('stock/about/1.jpg')%>'); background-size: cover;">
  <div class="container-fluid timeline padding-eight-lr padding-twelve-bottom">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="text-black alt-font">Our History</h1>
        <br/>

          <div class="col-md-5">
            <h6 class="font-weight-300 alt-font-3">[a brief history]</h6>
            <h3 class="font-weight-300 alt-font text-extra-dark-gray">
              Our established and successful track record.
            </h4>

          </div>
          <div class="col-md-7">
            <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
            <h6 class="font-weight-300 text-black margin-10px-bottom">Lives depend greatly on the research our faculty affiliates produce and activities our center staff undertake.” </h6>
            <p class="font-weight-300 text-medium">- Dr. Shaun R. Harper</p>
          </div>
      </div>
    </div>
  </div>
  <div class="container-fluid timeline">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 bg-white padding-100px-all padding-50px-top box-shadow-light" style="margin-top: -200px;">
        <p class="font-weight-300 text-center text-medium text-medium-gray alt-font-3 margin-50px-bottom" style="font-size: 20px !important;">2007 - Present</p>
        <div class="row">
          <!-- start feature box -->
          <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-10px-bottom xs-text-center wow fadeInUp last-paragraph-no-margin margin-20px-bottom">
              <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left xs-no-padding-lr pull-left xs-margin-15px-bottom">
                  <h5 class="text-light-gray bg-red text-gold box-shadow  padding-10px-all border-radius-4">2007</h5>
              </div>
              <div class="col-md-9 col-sm-8 col-xs-12 no-padding">
                  <span class="margin-5px-bottom text-black display-block font-weight-400 xs-margin-10px-bottom text-large">
                    Professor Shaun R. Harper founded the Center for the Study of Race and Equity in Education (CSREE) at the University of
                    Pennsylvania.</span>
                  <ul class="">
                    <li>Brought together faculty members and Ph.D. students from academic schools and departments
                    across the Penn campus whose research focused on race in education. </li>
                    <li>Osrganized into two portfolios: K-12 education
                    and higher education.</li>
                  </ul>
              </div>
          </div>
          <!-- end feature box -->
          <!-- start feature box -->
          <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-10px-bottom xs-text-center wow fadeInUp last-paragraph-no-margin margin-20px-bottom">
              <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left xs-no-padding-lr pull-left xs-margin-15px-bottom">
                  <h5 class="text-light-gray bg-red text-gold box-shadow  padding-10px-all border-radius-4">2011</h5>
              </div>
              <div class="col-md-9 col-sm-8 col-xs-12 no-padding">
                  <span class="margin-5px-bottom text-black display-block font-weight-400 xs-margin-10px-bottom text-large">
                    CSREE’s K-12 conducts workshops and professional learning activities for teachers and leaders in schools
                    and districts across U.S. </span>
                    <ul class="">
                      <li> Harper and another center researcher published a report analyzing the
                      disproportionate impact of suspensions and expulsions on Black students in 3,022 K-12 school districts across 13 Southern
                      states. </li>
                    </ul>
              </div>
          </div>
          <!-- end feature box -->
          <!-- start feature box -->
          <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-10px-bottom xs-text-center wow fadeInUp last-paragraph-no-margin margin-20px-bottom">
              <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left xs-no-padding-lr pull-left xs-margin-15px-bottom">
                  <h5 class="text-light-gray bg-red text-gold box-shadow  padding-10px-all border-radius-4">2011</h5>
              </div>
              <div class="col-md-9 col-sm-8 col-xs-12 no-padding">
                  <span class="margin-5px-bottom text-black display-block font-weight-400 xs-margin-10px-bottom text-large">
                    Dr. Ali Michael  published a
                  seminal book with Teachers College Press, Raising Race Questions: Whiteness and Inquiry in Education.</span>
                  <ul class="">
                    <li>Partnership with the New York City Department of Education and Open Society Foundations.</li>
                    <li>Conducted a study on Black and Latino male student success in 40 public high schools across NYC.</li>
                  </ul>
              </div>
          </div>
          <!-- end feature box -->
        </div>
        <div class="row">
          <!-- start feature box -->
          <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-10px-bottom xs-text-center wow fadeInUp last-paragraph-no-margin">
              <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left xs-no-padding-lr pull-left xs-margin-15px-bottom">
                  <h5 class="text-light-gray bg-red text-gold box-shadow  padding-10px-all border-radius-4">2011</h5>
              </div>
              <div class="col-md-9 col-sm-8 col-xs-12 no-padding">
                <span class="margin-5px-bottom text-black display-block font-weight-400 xs-margin-10px-bottom text-large">
                   Climate studies led  on more than 40 campuses across the country that included over 10,000 face-to-face interviews. </span>
                <ul class="">
                  <li>College presidents, deans, and other administrators spent 3-4 days on their campuses conducting
                  interviews with students, faculty, and staff members. </li>
                  <li>Qualitative campus climate assessment was the signature activity in the Center’s higher education portfolio.</li>
                </ul>
              </div>
          </div>
          <!-- end feature box -->
          <!-- start feature box -->
          <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-10px-bottom xs-text-center wow fadeInUp last-paragraph-no-margin">
              <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left xs-no-padding-lr pull-left xs-margin-15px-bottom">
                  <h5 class="text-light-gray bg-red text-gold box-shadow  padding-10px-all border-radius-4">2011</h5>
              </div>
              <div class="col-md-9 col-sm-8 col-xs-12 no-padding">
                  <span class="margin-5px-bottom text-black display-block font-weight-400 xs-margin-10px-bottom text-large">
                    8,000 campus leaders and faculty members participate in CSREE’s four-part virtual convening on racism in higher education.
                  </span>
                  <ul class="">
                    <li>The Penn Center also published a range of research reports on race and student success in higher education. </li>
                    <li>Davis directed and
                    produced, Saving Tomorrow, Today: The Curriculum of New America, a nationally televised documentary on equity in education.</li>
                  </ul>
              </div>
          </div>
          <!-- end feature box -->
          <!-- start feature box -->
          <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-30px-bottom xs-text-center wow fadeInUp last-paragraph-no-margin">
              <div class="col-md-3 col-sm-4 col-xs-12 no-padding-left xs-no-padding-lr pull-left xs-margin-15px-bottom">
                  <h5 class="text-light-gray bg-red text-gold box-shadow  padding-10px-all border-radius-4">2016</h5>
              </div>
              <div class="col-md-9 col-sm-8 col-xs-12 no-padding">
                  <span class="margin-5px-bottom text-black display-block font-weight-400 xs-margin-10px-bottom text-large">
                    Research featured or quoted in the New York Times, Washington Post, Wall Street Journal and over
                      11,000 other news outlets.
                  </span>
                  <ul class="">
                    <li>Harper also talked about CSREE’s studies on CNN, ESPN, PBS, and NPR.</li>
                    <li>The Center brought thousands of community members, educators, researchers, and policymakers to the Penn campus for in-person convenings.</li>
                  </ul>
              </div>
          </div>
          <!-- end feature box -->
        </div>
      </div>
    </div>
  </div>
</section>
