
<section class="wow fadeIn bg-extra-dark-gray no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="images/logos/gold-black.jpg" style="margin-top: 60px; height:50px; width: auto;margin-left: auto; margin-right: auto; display: table; box-shadow: 1px 1px 1px #000; border-radius: 2px;"/>
      </div>
      <div class="col-md-offset-1 col-md-8">
        <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
        <h2 class="alt-font text-white">Los Angeles is a unique ecosystem in which we get to leverage unique opportunities to do important racial equity work.</h1>
        <p class="lead font-weight-300 text-dark-gray">We are pushing the boundaries of academic norms which have historically valued Eurocentric ways of knowing.</h6>
      </div>
    </div>
    <div class="position-relative margin-100px-top sm-margin-50px-tb wow fadeInUp sm-height-auto" style="background-image:url('images/videos/bw.png'); background-size: cover;">
      <div class="wow fadeIn height-600px">
        <div class="opacity-light bg-black"></div>
        <div class="container position-relative">
          <div class="row">
            <div class="col-lg-6 col-md-6 text-center center-col">
              <a  href="https://player.vimeo.com/video/75976293" class="popup-vimeo">
              <img src="images/icon-play.png" class="width-30" alt=""/ style="margin-top: 170px;"></a>
              <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
