<section class="unpad">
  <div class="imagebg bg--primary text-center height-40" data-overlay="8">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/ideation-challenge/hero-ideation-challenge.png") %>
    </div>
    <div class="container">
      <br/>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>Rise Ideation Challenge Award</h1>
            <hr/>
            <h4>A Call to Action</h4>
            <!-- <p>
              <%#= image_tag("rise_assets/home/hero/icon/icon-scroll.png")%>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="unpad">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
              <div class="article__body">
                  <p>RISE BMOC is a strategic facilitator fo researchers, evaluators, scholars, policy makers, advocates, and practitioners. We are reaching out to this board and diverse network to solicit ideas that spur solution-based, action-orientd dialogue and further discourse on the tissue. In seekign thoughtful, concise, and innovative solutions to address this phenomenon, our goals is to provide an open forum focused on improving outcomes and a monetary award. We invite you to think of creatively and imagine new possibilities. Please do not be inhibited by the current political climate. Ability to implement is not a requirement. However, we hope that the submissions will inform local and national conversations on police reform. RISE will create space for discussion of th Ideaiton topic during its upcoming Spring 2018 Convening and on th RISE website.</p>

                  <hr/>
                  <h3>The Topic</h3>
                  <p>RISE BMOC is a strategic facilitator fo researchers, evaluators, scholars, policy makers, advocates, and practitioners. We are reaching out to this board and diverse network to solicit ideas that spur solution-based, action-orientd dialogue and further discourse on the tissue. In seekign thoughtful, concise, and innovative solutions to address this phenomenon, our goals is to provide an open forum focused on improving outcomes and a monetary award. We invite you to think of creatively and imagine new possibilities. Please do not be inhibited by the current political climate. Ability to implement is not a requirement. However, we hope that the submissions will inform local and national conversations on police reform. RISE will create space for discussion of th Ideaiton topic during its upcoming Spring 2018 Convening and on th RISE website.</p>

                  <hr/>
                  <h3>The Challenge</h3>
                  <p>What is an innovative approcah to end the unaccounted for and disproportionate killing of unarmed Black men and boys by the police? RISE BMOC invites riourous solution-based thinking, inventiveness, and critical discussion on how to counteract this phenomenon.

                  <hr/>
                  <h3>Criteria for Consideration of Applicants</h3>
                  <p>RISE BMOC is a strategic facilitator fo researchers, evaluators, scholars, policy makers, advocates, and practitioners. We are reaching out to this board and diverse network to solicit ideas that spur solution-based, action-orientd dialogue and further discourse on the tissue. In seekign thoughtful, concise, and innovative solutions to address this phenomenon, our goals is to provide an open forum focused on improving outcomes and a monetary award. We invite you to think of creatively and imagine new possibilities. Please do not be inhibited by the current political climate. Ability to implement is not a requirement. However, we hope that the submissions will inform local and national conversations on police reform. RISE will create space for discussion of th Ideaiton topic during its upcoming Spring 2018 Convening and on th RISE website.</p>


                  <hr/>
                  <h3>Who Should Submit</h3>
                  <ul>
                    <li>Scholars/Researchers/Evaluators (focused on BMOC issues)</li>
                    <li>Practitioners (actively working on BMOC issues).</li>
                    <li>Policy Makers/Advocates</li>
                    <li>Concerned Community Members (mothers, fathers, relatives, allies of BMOC)</li>
                    <li>Youth (12-24)</li>
                  </ul>



                  <hr/>
                  <h3>Submission Requirements</h3>
                  <ul>
                    <li>Strict word limit of 1,000 words</li>
                    <li>Once the application window opens, create a Foundant account for the purpose of submitting your application.</li>
                  </ul>

                  <hr/>
                  <h3>Important Dates</h3>
                  <p class="lead">Forthcoming</p>


                  <hr/>
                  <h3>Award Levels</h3>
                  <p class="lead">Forthcoming</p>
              </div>

          </div>
      </div>
      <!--end of row-->
  </div>
</section>
