<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="color--orange title-font-alt text-center"> Fieldscan 4</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">
          Watkins &bull; Mitchell &bull; Mouzon &bull; Hawkins
        </h1>
      </div>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h4 class="type--bold margin-bottom-10">Introduction</h4>
                <h4 class="">
                   Inequities in social determinants of health—the many dimensions that contribute to overall
                   quality of life including education, criminal justice, economic opportunity, and workforce
                   development—are a major driver of health inequities. Among these, educational attainment
                   (or lack thereof) has consistently been demonstrated to have one of the strongest associations
                   with long-term health and quality of life outcomes.
                </h4>
                <hr/>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="type--bold no-margin">Principal Investigator</h5>
                    <ul>
                      <li>Ninez A. Ponce, MPP, PhD</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h5 class="no-margin">Authors</h5>
                    <ul class="">
                      <li>Daphne C. Watkins, PhD</li>
                      <li>Jamie Mitchell, PhD</li>
                      <li>Dawne Mouzon, PhD</li>
                      <li>Jaclynn Hawkins, PhD</li>
                    </ul>
                  </div>
                </div>
                <hr/>
                <p class="center">
                  <%= link_to fieldscans_download_fs4_url, class: "btn btn--sm btn--block btn--rise-orange" do %>
                    Download Full Report <i class="material-icons">&#xE2C4;</i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <%= image_tag("fieldscans/fs4/fs4.png", class: "box-shadow-light")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
