<style>
  .article__body h4 {
    font-size: 16px;
    line-height: 26px;
  }
</style>

<section class="unpad bg--secondary">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-12">
        <h4 class="title-font-alt text-center">Background</h4>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="type--bold ">The Status of Evaluation and Research on Effective Interventions Serving Boys and Men of Color</h2>
            <hr/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="overflow-scroll overflow-height-500">
              <h4 class="text-justify">
                Inequities in social determinants of health—the many dimensions that contribute to overall quality of life including education, criminal
                justice, economic opportunity, and workforce development—are a major driver of health inequities. Among these, educational
                attainment (or lack thereof) has consistently been demonstrated to have one of the strongest associations with long-term health
                and quality of life outcomes.1,2 The education achievement gap appears to have the greatest impact on boys and men of color: for
                black men with fewer than 12 years of education, life expectancy is 14 years shorter than that of white men with a college degree
                or more.3 However, the understanding of the mechanisms by which education and other social determinants intersect with each
                other, and health, is still nascent.
              </h4>
              <h4 class="text-justify">
                Furthermore, both public health and education professionals have raised concerns that poor health among children impedes educational
                attainment. Boys of color are disproportionately impacted by poor nutrition, obesity, chronic conditions such as asthma,
                and adverse family events that can increase risk for poor mental health, all of which can negatively impact attendance, learning
                performance, and eventual educational attainment. By examining health and education in concert, researchers can inform policymakers
                on interventions with the potential for positive, synergistic effects.
              </h4>
              <h4 class="text-justify">
                School-based health promotion programs represent a model that engages both the health and education sectors. Schools are a
                critical platform to tackle childhood health issues largely because children spend so much of their time at school, and thus school
                is a place that can offer opportunities for interventions.4 Schools are also important because the behaviors and norms embraced
                by teachers, mentors, and peers influence a child’s attitudes toward healthy living.5 Well-established literature has shown that early
                life experiences, including those at school, shape a child’s health and development trajectory.6
              </h4>
              <h4 class="text-justify">
                For healthcare providers, schools also present an opportunity to reach socially disadvantaged children who may otherwise face
                challenges in accessing health services. For educators, health interventions have the potential to ameliorate children’s health concerns
                and foster greater focus on learning. This is especially important when attempting to assess health programs serving minority
                populations; in 2014, more than 40 percent of students of color attended a high-poverty public school.7
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
