<li class="dropdown">
    <span class="dropdown__trigger">Data Center</span>
    <div class="dropdown__container">
        <div class="container">
            <div class="row">
                <div class="dropdown__content dropdown__content--lg col-md-12 col-sm-12">
                    <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs  bg-gradient-video" data-overlay="9">
                        <div class="background-image-holder">
                            <%= image_tag("rise_assets/about/about-img.png") %>
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <span class="h3 color--white type--bold">Download Data</span>
                                    <p class="lead color--white">Download and review RISE data and research from our website.</p>
                                    <a href="<%= data_center_education_url %>" class="btn btn--xs type--uppercase">
                                        <span class="btn__text">
                                            Our Data Center <i class="material-icons color--white">&#xE315;</i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-5">
                      <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                          <h4 class="no-margin">The Data Center</h4>
                          <hr class=""/>
                          <p class="lead">
                            This repository organizes hundreds of downloadable open-source charts, graphs, and images. Enter the Data Center to get high resolution  graphics of the most current community data for your review or to include in your own reports and proposals.
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
                <!--end dropdown content-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end dropdown container-->
</li>
