<li class="dropdown">
    <span class="dropdown__trigger">Expert Directory</span>
    <div class="dropdown__container">
        <div class="container">
            <div class="row">
                <div class="dropdown__content dropdown__content--lg col-md-8 col-sm-12">
                    <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs  bg-gradient-video" data-overlay="9">
                        <div class="background-image-holder">
                            <%= image_tag("rise_assets/about/about-img.png") %>
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    <span class="h3 color--white type--bold">Search Experts</span>
                                    <p class="lead color--white">Search hundreds of experts in our RISE directory.</p>
                                    <a href="<%= directory_education_url %>" class="btn type--uppercase">
                                        <span class="btn__text">
                                            Our Directory <i class="material-icons color--white">&#xE315;</i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-6">
                      <div class="row">
                        <h4 class="no-margin">The Expert Directory</h4>
                        <hr class=""/>
                        <div class"row" style="overflow: scroll; max-height: 400px; scrollbar: white-space: pre-wrap;">
                          <div class="col-md-6 col-sm-12">
                            Abdill Aasha<br/>
                            Anderson Kenneth<br/>
                            Andrews	Dorinda<br/>
                            Armah IV Niiobli<br/>
                            Austin Algernon<br/>
                            Ballysingh Tracy<br/>
                            Berhanu	Jonathan<br/>
                            Bird  Kisha<br/>
                            Bitsoi Lee<br/>
                            Bonner II	Fred<br/>
                            Brayboy	Bryan<br/>
                            Bristol Travis<br/>
                            Brockenbrough	Edward<br/>
                            Brown	Allison<br/>
                            Brunson	Rod<br/>
                            Bryant Rhonda<br/>
                            Burt Brian<br/>
                            Cabrera	Nolan<br/>
                            Caldwell Cleopatra<br/>
                            Campos Emmet<br/>
                            Carrión	Alejandro<br/>
                            Castillo	Nathan<br/>
                            Choi Yoonsun<br/>
                            Cook Stephanie<br/>
                            Corbin Theodore<br/>
                            Dancy II T. Elon<br/>
                            Darrell Hudson	Darrell<br/>
                            David	E.J.R.<br/>
                            Davis	James<br/>
                            Day	Joseph<br/>
                            Douglas	Ty-Ron<br/>
                            Doyle	Otima<br/>
                            Dunigan	Robert<br/>
                            Elm	Jessica<br/>
                            Fajardo	Ismael<br/>
                            Flennaugh	Terry<br/>
                            Flores Edilberto<br/>
                            Garcia Nichole<br/>
                            Garcia Hugo<br/>
                            Gibbs	Linda<br/>
                            Gilbert	Keon<br/>
                            Gracia J. Nadine<br/>
                            Harper Shaun<br/>
                            Hartlep	Nicholas<br/>
                            Hewitt Damon<br/>
                            Howard Tyrone<br/>
                            Hurtado	Aída<br/>
                            Hussen Sophia<br/>
                            Jackson	John<br/>
                            Jackson	Jerlando<br/>
                            Jackson II	Ronald<br/>
                            Johnson, Jr. Waldo<br/>
                            Jones	Jamal<br/>
                            Julion Wrenetha<br/>
                            Keo	Peter<br/>
                            Lee	Lloyd<br/>
                            Lewis	Chance<br/>
                            Lindsey	Michael<br/>
                          </div>
                          <div class="col-md-6 col-sm-12">                            Lofton	Richard
                            Marks	Bryant<br/>
                            Martinez Andrew<br/>
                            Martinez Jr. Eligio<br/>
                            Mauer	Marc<br/>
                            McCoy	Henrika<br/>
                            McCready Lance<br/>
                            McCune Jeffrey<br/>
                            McGowan	Brian<br/>
                            McGuire	Keon<br/>
                            Mendez Jason<br/>
                            Mitchell Jamie<br/>
                            Mooring Shawn<br/>
                            Museus Samuel<br/>
                            Nelson Joseph<br/>
                            Nembhard Ché<br/>
                            Ocampo Anthony<br/>
                            Patrón Oscar<br/>
                            Platt	Spencer<br/>
                            Ponjuan	Luis<br/>
                            Powell Wizdom<br/>
                            Pérez II David<br/>
                            Ravenhell	Joseph<br/>
                            Rich John<br/>
                            Richardson Joseph<br/>
                            Rivera Jason<br/>
                            Rodriguez	Sarah<br/>
                            Rodriguez	Linda<br/>
                            Salinas Jr.	Cristobal<br/>
                            Scheitler	AJ<br/>
                            Shannon	Morgan<br/>
                            Shek Yen Ling<br/>
                            Slopen Natalie<br/>
                            Soodjinda	Daniel<br/>
                            Spohn	Cassia<br/>
                            Stevenson	Howard<br/>
                            Sáenz	Victor<br/>
                            Tachine	Amanda<br/>
                            Takeuchi David<br/>
                            Tatum	Alfred<br/>
                            Tengan Ty<br/>
                            Thangaraj	Stanley<br/>
                            Thierry	Jordan<br/>
                            Toldson	Ivory<br/>
                            Tran Minh<br/>
                            Treadwell	Henrie<br/>
                            Trujillo	Matthew<br/>
                            Urias	Marissa<br/>
                            Vega Juan<br/>
                            Voisin Dexter<br/>
                            Walters	Howard<br/>
                            Warren Chezare<br/>
                            Watkins	Daphne<br/>
                            Winn Donna-Marie<br/>
                            Wood J. Luke<br/>
                            Yeh	Theresa<br/>
                            Young	Alford<br/>
                          </div>
                        </div>
                      </div>
                      <!--end of row-->
                    </div>
                </div>
                <!--end dropdown content-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end dropdown container-->
</li>
