<li class="dropdown">
    <span class="dropdown__trigger">Expert Directory</span>
    <div class="dropdown__container">
        <div class="container">
            <div class="row">
                <div class="dropdown__content dropdown__content--lg col-md-8 col-sm-12">
                    <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs bg-gradient-video" data-overlay="9">
                        <div class="background-image-holder">
                                  <%= image_tag("rise_assets/issue_briefs/teranishi/hero.png") %>
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <span class="h3 color--white">Search hundreds of experts in our RISE directory.</span>
                                    <a href="<%= directory_landing_url %>" class="btn type--uppercase">
                                        <span class="btn__text">
                                            Coming Soon.
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-6">
                        <div class="row">
                          <h4 class="no-margin">The Expert Directory</h4>
                          <hr class=""/>
                            <div class"boxed" style="overflow: scroll; max-height: 400px;">
                              <div class="col-sm-6">
                                <ul class="menu-vertical">
                                  <li>
                                      <a href="elements-accordions.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-boxes.html">
                                          Shaun Montgomery
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-buttons.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-colors.html">
                                          Sandra Williams
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-countdown.html">
                                          Tim Fergerson
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-dropdowns.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-form-elements.html">
                                          David Willis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-gradient-backgrounds.html">
                                          Cory Anderson
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-accordions.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-boxes.html">
                                          Shaun Montgomery
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-buttons.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-colors.html">
                                          Sandra Williams
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-countdown.html">
                                          Tim Fergerson
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-dropdowns.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-form-elements.html">
                                          David Willis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-gradient-backgrounds.html">
                                          Cory Anderson
                                      </a>
                                  </li>
                                  </li>
                                  <li>
                                      <a href="elements-colors.html">
                                          Sandra Williams
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-countdown.html">
                                          Tim Fergerson
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-dropdowns.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-form-elements.html">
                                          David Willis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-gradient-backgrounds.html">
                                          Cory Anderson
                                      </a>
                                  </li>
                                </ul>
                            </div>
                              <div class="col-sm-6">
                                <ul class="menu-vertical">
                                  <li>
                                      <a href="elements-accordions.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-boxes.html">
                                          Shaun Montgomery
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-buttons.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-colors.html">
                                          Sandra Williams
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-countdown.html">
                                          Tim Fergerson
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-dropdowns.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-form-elements.html">
                                          David Willis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-gradient-backgrounds.html">
                                          Cory Anderson
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-accordions.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-boxes.html">
                                          Shaun Montgomery
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-buttons.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-colors.html">
                                          Sandra Williams
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-countdown.html">
                                          Tim Fergerson
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-dropdowns.html">
                                          Michael Davis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-form-elements.html">
                                          David Willis
                                      </a>
                                  </li>
                                  <li>
                                      <a href="elements-gradient-backgrounds.html">
                                          Cory Anderson
                                      </a>
                                  </li>
                                </li>
                                <li>
                                    <a href="elements-colors.html">
                                        Sandra Williams
                                    </a>
                                </li>
                                <li>
                                    <a href="elements-countdown.html">
                                        Tim Fergerson
                                    </a>
                                </li>
                                <li>
                                    <a href="elements-dropdowns.html">
                                        Michael Davis
                                    </a>
                                </li>
                                <li>
                                    <a href="elements-form-elements.html">
                                        David Willis
                                    </a>
                                </li>
                                <li>
                                    <a href="elements-gradient-backgrounds.html">
                                        Cory Anderson
                                    </a>
                                </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <!--end of row-->
                    </div>
                </div>
                <!--end dropdown content-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end dropdown container-->
</li>
