<li class="dropdown">
    <span class="dropdown__trigger">Expert Directory</span>
    <div class="dropdown__container">
        <div class="container">
            <div class="row">
                <div class="dropdown__content dropdown__content--lg col-md-8 col-sm-12">
                    <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs" data-overlay="5">
                        <div class="background-image-holder">
                            <img alt="background" src="img/dropdown-2.jpg" />
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <img alt="Logo" src="img/logo-light.png" class="image--xxs" />
                                    <span class="h3 color--white">Detailed and organised elements</span>
                                    <a href="elements.html" class="btn btn--primary type--uppercase">
                                        <span class="btn__text">
                                            Explore Elements
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="menu-vertical">
                                    <li>
                                        <a href="elements-accordions.html">
                                            Accordions
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-boxes.html">
                                            Boxes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-buttons.html">
                                            Buttons
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-colors.html">
                                            Colors
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-countdown.html">
                                            Countdown
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-dropdowns.html">
                                            Dropdowns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-form-elements.html">
                                            Form Elements
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-gradient-backgrounds.html">
                                            Gradient Backgrounds
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-grid.html">
                                            Grid System
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-image-backgrounds.html">
                                            Image Backgrounds
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-instagram.html">
                                            Instagram
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-lightbox.html">
                                            Lightbox
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-maps.html">
                                            Maps
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-modals.html">
                                            Modals
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-navigation.html">
                                            Navigation Bars
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-navigation-inpage.html">
                                            Navigation In-Page
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="menu-vertical">
                                    <li>
                                        <a href="elements-navigation-sidebar.html">
                                            Navigation Sidebar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-notifications.html">
                                            Notifications
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-parallax.html">
                                            Parallax
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-pricing.html">
                                            Pricing
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-radials.html">
                                            Radials
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-scrims-overlays.html">
                                            Scrims &amp; Overlays
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-sliders.html">
                                            Sliders
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-tables.html">
                                            Tables
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-tabs.html">
                                            Tabs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-tooltips.html">
                                            Tooltips
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-twitter.html">
                                            Twitter Feed
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-typed-text.html">
                                            Typed Text
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-typography.html">
                                            Typography
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-video-background.html">
                                            Video Backgrounds
                                        </a>
                                    </li>
                                    <li>
                                        <a href="elements-video-inline.html">
                                            Video Inline
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                </div>
                <!--end dropdown content-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end dropdown container-->
</li>
