<section class="cover height-50 imagebg bg--primary switchable" data-overlay="8">
  <br/>
  <div class="background-image-holder">
    <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <p class="text-center">
        <%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo.png", class: "col-md-2 col-md-offset-5")%>
      </p>
    </div>
    <hr style="width: 50%; border-color: rgba(245, 208, 0, .75); border-width: 2px;" class="center"/>
    <h2 class="text-center title-font-alt">Data Center: <span class="color--yellow">criminal justice</span></h2>
    <div class="modal-instance block">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 pull-left">
          <p class="text-center">
            <a href="#" class="btn btn-sm btn-block modal-trigger">Research Methodology</a>
          </p>
        </div>
      </div>
      <div class="modal-container">
            <div class="modal-content">
             <div class="boxed boxed--lg" style="padding: 50px 100px;">
               <h3 class="text-bold">Research Methodology</h3>
               <hr class="short">

               <h4 class="text-bold no-margin">Description of the Data</h4>
               <p>
                 The estimated proportion of incarceration data by US demographic for men 18 years old and over, disaggregated by race, ethnicity and state.
               </p>

               <p>
                 Pie Chart 1. Total proportions reported by race/ethnicity are the estimates of men greater than 18 divided by the total US male population over 18 as reported in the American Community Survey from 2007-2011.
               </p>

               <p>
                 Pie Chart 2. The first set of custody data is the proportion of males over 18 in custody by race/ethnicity divided by their total US demographic population by race/ethnicity.
               </p>

               <p>Pie Chart 3. The second set of custody data represents Proportion 2 divided by Proportion 1.</p>

               <h4 class="text-bold no-margin">Data Source</h4>
               <p class="">
                 Incarceration data was retrieved from ICPSR 34540 National Prisoner Statistics, 1978-­2011 available for download from the Inter-university Consortium for Political and Social Research (<a href="https://www.icpsr.umich.edu/icpsrweb/NACJD/studies/34540">ICPSR</a>).
               </p>
               <p>Demographic data from 2007-2011 was retrieved form Table DP05 of the American Community Survey available for download on the <a href="https://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml">American FactFinder Website</a>.</p>

               <h4 class="text-bold no-margin">Notes</h4>
               <p class="">
                 The determination of race and Hispanic origin differs across states. In some states DOCs, inmates are asked to self-­identify race and ethnicity at time of admission, some rely on information in the arrest or court documents accompanying the prisoner at admission, in others prison officials classify the inmates visually upon entrance to the facility. Based on comparisons of race and ethnicity data recorded on administrative records from the NPS and inmate self-identification data obtained from inmate surveys, Hispanic inmates and inmates identifying as more than one race are underrepresented in the NPS. BJS uses the inmate surveys to adjust for the NPS undercount in its <a href="https://www.bjs.gov/index.cfm?ty=pbse&sid=40">annual Prisoners reports</a>. NPS race and ethnicity data available to the public at the National Archive of Criminal Justice Data (<a href="https://www.icpsr.umich.edu/icpsrweb/content/NACJD/index.html">NACJD</a>) are the unadjusted counts originally reported by the states.
               </p>
             </div>
             <div class="modal-close modal-close-cross"></div>
           </div>
          </div>
    </div><!--end of modal instance-->
    <!-- <h4 class="text-center">
       This repository organizes hundreds of downloadable open-source charts, graphs,
      and images. Enter the Data Center to get high resolution graphics of finely
      disaggregated community data for your review or to include in your own reports
      and proposals.
    </h4> -->
    <!-- <br/><br/><br/> -->
    <p class="text-center">
      <a class="inner-link" href="#latest" data-scroll-class="100vh:active">
      <%= image_tag("rise_assets/hero_head/dn-arrow/scroll-arrow.svg", style: "height: 60px; opacity: .75;") %>
      </a>
    </p>
  </div>
</section>
