<div class="boxed boxed--border boxed--lg">
  <div class="sidebar__widget">
      <h4 class="no-margin title-font-alt ">RACE</h4>
      <ul>
          <li>
              <a href="#">Asian</a>
          </li>
          <li>
              <a href="#">Black/African-American</a>
          </li>
          <li>
              <a href="#">Latinos</a>
          </li>
          <li>
              <a href="#">Pacific Islander</a>
          </li>
          <li>
              <a href="#">Hispanic or Latino</a>
          </li>
          <li>
              <a href="#">Native American, American Indian, Alaska Native </a>
          </li>
          <li>
              <a href="#">White</a>
          </li>
      </ul>
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">age</h6>
    <ul>
        <li>
            <a href="#">18-34</a>
        </li>
        <li>
            <a href="#">35-34</a>
        </li>
        <li>
            <a href="#">65+</a>
        </li>
    </ul>
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">gender</h6>
    <ul>
        <li>
            <a href="#">Male</a>
        </li>
        <li>
            <a href="#">Female</a>
        </li>
    </ul>
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">Region</h6>
    <ul>
        <li><a href="#">Southeast Asian</a></li>
        <li><a href="#">South Asian</a></li>
        <li><a href="#">Polynesian</a></li>
        <li><a href="#">Micronesian</a></li>
        <li><a href="#">Melanesian</a></li>
        <li><a href="#">North American</a></li>
        <li><a href="#">Caribbean</a></li>
        <li><a href="#">Central American</a></li>
        <li><a href="#">South American</a></li>
        <li><a href="#">Alaska </a></li>
        <li><a href="#">Great Plains Region</a></li>
        <li><a href="#">Rocky Mountain Region</a></li>
        <li><a href="#">Eastern Oklahoma Region</a></li>
        <li><a href="#">U.S. Midwest </a></li>
        <li><a href="#">U.S. Northwest</a></li>
        <li><a href="#">U.S. Eastern </a></li>
        <li><a href="#">U.S. Southwest</a></li>
        <li><a href="#">Navajo</a></li>
        <li><a href="#">Western</a></li>

    </ul>
  </div>

  <!--end widget-->
</div>
