<div class="boxed boxed--border boxed--lg">
  <div class="sidebar__widget">
      <h4 class="no-margin title-font-alt ">RACE</h4>
      
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">age</h6>
    <ul>

        <li>
            <a href="#">18-34</a>
        </li>
        <li>
            <a href="#">35-34</a>
        </li>
        <li>
            <a href="#">65+</a>
        </li>
    </ul>
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">gender</h6>
    <ul>
        <li>
            <a href="#">Male</a>
        </li>
        <li>
            <a href="#">Female</a>
        </li>
    </ul>
  </div>

  <!--end widget-->
</div>
