
<section class="bg--secondary unpad">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="title-font-alt text-center">research briefs</h4>
        <h4>
          In the summer before he entered 6th grade, D’Andre, described above, conducted his own home science projects with quarters and matches. In another summer program, a group of black and brown rising 9th graders from Newark, New Jersey, spend five weeks with the New Jersey Law Education Empowerment Program, taking a difficult criminal law course that culminates in a mock trial competition in front of sitting New Jersey judges. Contrary to the images so frequently present in the media, youth of color nationwide are eager to engage in rigorous summer programs. Too few exist, but when they do, programs focusing on areas ranging from law to science, technology, engineering, and math (STEM) fields, such as the Sunday Academy and the Tribal College Summer Camp for Native American students in North Dakota, are oversubscribed.
        </h4>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
