
<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-5">
            <h4 class="type--bold margin-bottom-10">Authors</h4>
            <ul class="h5">
              <li>Bryan McKinley Jones Brayboy, PhD, and Jessica A. Solyom, PhD</li>
              <li>Arizona State University (co-leads)/li>
              <li>Jeremiah Chin, Doctoral Candidate, Arizona State University</li>
              <li>Amanda Tachine, PhD, Arizona State University</li>
              <li>Megan Bang, PhD, University of Washington</li>
              <li>Nicholas Bustamante, Doctoral Student, Arizona State University</li>
              <li>Colin Ben, Doctoral Candidate, University of Utah Ceni Myles, MS, University of Washington</li>
              <li>Amber Poleviyuma, Undergraduate Student, Arizona State University</li>
            </ul>
            <hr/>
            <div class="row">
              <div class="col-md-11">
                <h4 class="type--bold margin-bottom-10">About</h4>
                <h5 class="type--bold">
                  RISE for Boys and Men of Color is a field advancement effort that aims to
                  better understand and strategically improve the lives, experiences, and
                  outcomes of boys and men of color in the United States.
                </h5>
                <br/>
              </div>
            </div>
            <p class="margin-top-10">
              <%= link_to issues_download_post1_url, class: "btn btn--sm btn--rise-orange h6" do %>
                Download Full Report <i class="material-icons">&#xE2C4;</i>
              <% end %>
            </p>
          </div>
          <div class="col-md-7">
            <%= image_tag("fieldscans/fs7/fs7.png", class: "box-shadow-light") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
