<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="color--orange title-font-alt text-center"> Fieldscan 7</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">
          McKinley &bull; Brayboy &bull; Solyom &bull; Chin &bull; Tachine &bull; Bang &bull; Bustamante &bull; Ben
          &bull; Myles &bull; Poleviyuma
        </h1>
      </div>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h4 class="type--bold margin-bottom-10">Introduction</h4>
                <h4 class="">
                By many indicators and social markers, a large majority of Indigenous boys and men
                are struggling. But, as some are fond of saying, the devil is in the details. The
                available data tell a grim story about the past and present, but the “real story” of how
                American Indian boys and men are faring in the world is not fully told. Without discounting
                statistics, our fundamental point is that anyone interested in this work needs to have more
                systematic, structural data to get the full, complex, nuanced picture of what is happening.
                </h4>
                <hr/>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="type--bold no-margin">Authors</h5>
                    <ul>
                      <li>Bryan McKinley</li>
                      <li>Jones Brayboy, PhD</li>
                      <li>Jessica A. Solyom, PhD</li>
                      <li>Jeremiah Chin</li>
                      <li>Amanda Tachine, PhD</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h5 class="type--bold no-margin">Authors? (cont'd)</h5>
                    <ul>
                      <li>Megan Bang, PhD</li>
                      <li>Nicholas Bustamante</li>
                      <li>Colin Ben</li>
                      <li>Ceni Myles, MS</li>
                      <li>Amber Poleviyuma</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <%= image_tag("fieldscans/fs7/fs7.png", class: "box-shadow-light") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
