<style>
  .article__body h4 {
    font-size: 16px;
    line-height: 26px;
  }
</style>

<section class="unpad bg--secondary">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-12">
        <h4 class="title-font-alt text-center">Background</h4>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="type--bold ">A Study of Indigenous Boys and Men</h2>
            <hr/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="overflow-scroll overflow-height-500">
              <h4 class="text-justify">
                The story of American Indian boys and men in academic fields is one of perceived dysfunction, “at-risk” descriptors, substance
                abuse, partner abuse, poor health, and low educational achievement. By many indicators and social markers, a large majority of
                Indigenous boys and men are struggling. But, as some are fond of saying, the devil is in the details. The available data tell a grim
                story about the past and present, but the “real story” of how American Indian boys and men are faring in the world is not fully told.
                Without discounting statistics, our fundamental point is that anyone interested in this work needs to have more systematic, structural
                data to get the full, complex, nuanced picture of what is happening. Data on American Indians in the US Department of Education,
                Health and Human Services, Interior, and Justice are sparse at best. We have, in the words of Shotton, Lowe, and Waterman
                (2013) been relegated to “an asterisk.” The message to many of us is clear: American Indians, Alaska Natives, and Native Hawaiians
                (who are too often buried in the Asian Pacific Islander category, making them invisible as an Indigenous population in the United
                States) have been rendered “insignificant” as a result of this asterisk. Both the data neglect and the analytical dynamic producing
                invisibility perpetuates inequities that are at best unintended and, in moving forward, are unacceptable due to their contribution
                to the erosion of Indigenous sovereignty.
              </h4>
              <h4 class="text-justify">
                Data may have diminished the presence of Indigenous peoples, but the legal and political relationship between American Indians,
                Alaska Natives, and Native Hawaiians highlights the importance of recognizing and remedying this treatment. First, the US government
                and tribal nations have a unique relationship. American Indians are mentioned twice in the US Constitution. The “Commerce
                Clause” (Article I, Section VIII) notes that, “Congress shall have the power to regulate Commerce with foreign nations and
                among the several states, and with the Indian tribes.” The significance of this is profound. In establishing the powers of Congress,
                it places Indigenous peoples in a political, governmental relationship with the United States. When writing the Constitution, the
                United States was a fledgling country and needed relationships with tribal nations in order to be seen as legitimate (Alfred 2001;
                Barker 2005). One only needed to examine some of the early treaties to see how this took shape. Rebecca Tsosie (2005) explores
                the myths surrounding Native peoples as pliant, obedient peoples who were wards of the state, countering that treaties themselves
                are indicative of a government-to-government relationship:
              </h4>
              <h4 class="text-justify">
                The first treaties between the U.S. and the Native Nations tell that story, such as the 1778 Treaty of Ft. Pitt with the
                Delaware Nation, in which the U.S. officials begged the Delaware leaders to have “safe passage” through “their
                country” and also begged for military assistance from Delaware warriors against the evil King of England. Who were
                the “Americans” at that time? Did they think they had the “right” to claim title to Native land? NO. Did they think
                they had the right to disinter Native remains and cart them off to museums and laboratories? No. Did they think
                that they had the right to unilaterally command the Delawares to obey their laws? NO, no, and no (44).
                Tribal nations, and their citizens, were prominent parts of the national conversation. We believe that they should be again and in
                ways that reach for Indigenous well-being and thriving.
              <h4>
              <h4 class="text-justify">
                Early relationships between the United States and tribal nations became less respectful as the United States expanded its territory
                and authority through the Supreme Court, most notably in a series of cases known as “the Marshall Trilogy.”1 Tribal nations went
                from treaty partners to “domestic dependent nations” whose “relation to the United States resembles that of a ward to his guardian.”
                (Cherokee Nation, 30 US (5 Pet.) at 17). This legal view of wardship grew into a trust relationship and its concomitant trust
                responsibility (Wilkins & Lomawaima 2001). The relationship essentially notes that the US government, through these cases and
                the hundreds of treaties,1 is responsible for maintaining the health, education, and general welfare of the original inhabitants of the
                United States. On this count, and many others, the government has failed.
              </h4>
              <h4 class="text-justify">
                Following the above point, it occurs to us that the federal government should have a policy of understanding what is happening
                with American Indian peoples. How can the United States fulfill its responsibility to tribal peoples if it regularly marks them with an
                asterisk (with verbiage that loosely translates to statistical insignificance) and doing nothing to correct the status of the data? It is
                both irresponsible and unethical under the terms of the relationship. One could logically remove the “statistically” from “statistically
                insignificant” and read into the term that American Indians/Alaska Natives are simply insignificant. Foreshadowing one of
                our recommendations at the end of this report, the United States government must begin to oversample in its data collections so
                that researchers can establish some baseline data to establish mapping trends in the areas of health (both mental and physical),
                education (in terms of achievement and development), justice-related issues (including incarceration rates, violence), labor, land,
                and economic markers.
              </h4>
              <h4 class="text-justify">
                Finally, not fully understanding the experiences of an increasing segment of the population (American Indian/Alaska Native peoples
                now comprise 5.2 million of the US population)3 is puzzling. Simply erasing people from having any statistical significance fails
                to honor the original agreements between American Indians and the federal government and indeed contributes to a legacy of
                violence against Native peoples.
              </h4>
              <h4 class="text-justify">
                One of the primary goals of this report is to simply say, researchers, local, state, and federal governments, and society at large have
                a moral obligation to see American Indian and Alaska Native peoples as present, viable members of societies and nations.
                Given this long history that removed (literally and metaphorically) Native peoples from the land as well as larger conversations and
                accountability around health, education, economics, and other markers of welfare, we want to turn to more specific questions of
                educational achievement. For Indigenous leaders, achievement in education is critical in beginning to redress the varied and systemic
                inequities impacting Native communities nationally. Positive education outcomes are important as they have the potential
                for enhanced social, political, and economic success—not only for the American Indian individuals but also for their tribal nations
                and communities. For many tribal communities, success is seen as a collective, shared, iterative, and interdependent among the
                nation and its members. In that sense, success for American Indians is reciprocal. That is, success of the individual is considered
                success for the community and vice versa. Tragically, the success and capacity for American Indian communities have been severely
                hampered by the systemic legacy of colonization and forced assimilation that have created an environment wherein American
                Indians and Alaska Natives are more likely to experience disparate social, economic, and life conditions. For example, American
                Indians experience higher rates of suicidality, cardiovascular disease, cancer, diabetes, and depressed mortality. These occurrences
                contribute to the average life expectancy of American Indians and Alaska Natives being roughly 4.4 years less than the US all races
                population (Indian Health Service 2016). Lower life expectancy among American Indians is not an isolated occurrence but rather is
                indicative of generally negative trends impacting American Indian communities.
              </h4>
              <h4 class="text-justify">
                Death statistics are reported higher within Native American communities than all others in respect to death from tuberculosis (600
                percent higher), alcoholism (510 percent higher), and diabetes (152 percent higher) (NCAI 2012). Violence is prevalent amongst
                American Indian communities. For instance, AI/AN women are 2.5 times more likely to be sexually assaulted than any other race
                (NIEA 2014), and aggravated assault in AI/AN communities is roughly twice the national average (NCAI 2012). Additionally, there is
                a substantial dependency on alcohol and illicit drug use within NA/AI communities, resulting in AI/AN being more likely than other
                groups to require treatment for alcohol or illicit drugs (NCAI 2012). Substance abuse is also heavily prevalent among American
                Indian youth populations. For instance, it is reported that Natives aged 15 to 24 who were admitted to treatment facilities reported
                higher rates (69 percent) of alcoholism than non-AI/AN admissions (45 percent) (NCAI 2012).
              </h4>
              <h4 class="text-justify">
                In addition to lower life expectancy stemming from alcoholism, substance abuse, and health inequities, rates of suicide among
                American Indians are especially devastating American Indian communities. This is particularly stark for American Indian youth, who
                have the highest rate of suicide among all racial groups in the United States (CDC 2014). Suicide is the second-leading cause of
                death for Native youth aged 15 to 24 years old (NCAI 2012). The rates of suicide stemming from 15- to 24-year-olds represent 40
                percent of all suicide in the AI/AN community (Carmona 2005). This is especially alarming to the overall health and well-being ofAmerican Indian communities, as the age range most afflicted by suicide comprises one of the largest segments of the American
                Indian population. Specifically, youth under the age of 18 constitute 32 percent of the total AI/AN population (NCAI 2012). These
                statistics are devastating and are compounded by a lack of access to effective educational opportunities.
              </h4>
              <h4 class="text-justify">
                Educational disparities persist throughout all age ranges for American Indians and Alaska Native students, beginning as early as
                kindergarten. Native kindergarten students are twice as likely as their white peers to be held back. There is a gap in national and
                AI/AN test scores, particularly in mathematics. Only 22 percent of fourth grade Native students score “proficient” or “advanced”
                levels in math (NIEA, n.d.). The number is even lower in eighth grade, where the percentage of Native students who score “proficient”
                or “advanced” levels in math is 17 percent. Another disparity exists in the labeling and diagnosis of students based on
                perceived educational level. AI/AN students are more likely to be mislabeled as special education (SPED) students (NIEA n.d., 26).
                When considering the level of academic achievement, living and school resource conditions should be considered, rather than
                individual intelligence or effort. For example, Native students who often live in rural areas may travel distances up to 320 miles
                to attend classes. In addition, only 40 percent of BIE schools have adequate digital broadband access (NIEA n.d.). At this point,
                it should be clear that this is less about individual notions of achievement and more about the structural and systemic inequities
                faced by large groups of people.
              </h4>
              <h4 class="text-justify">
                Graduation rates among Native students portray the issue of retention and completion. The high school graduation rate of AI/
                ANs is 67 percent, the lowest of any racial/ethnic demographic group across all schools (Executive Office of the President 2014;
                NCES 2016). An especially grim possibility faces the 48,000 students, or 7 percent of the overall AI/AN K–12 population, who attend
                Bureau of Indian Education (BIE) schools (NIEA n.d.; NCES 2012). The Department of Education found that BIE schools have a 53
                percent graduation rate, lower than the 80 percent national average (Executive Office of the President 2014). In fact, 22 percent of
                AI/AN who are 25 years old and up have not completed high school (NCES 2016; NIEA n.d.). In part, this is due to the disparate
                rates of school punishment American Indians are exposed to inside the classroom. It is estimated that American Indians comprise
                roughly 1 percent of the student population yet represent 2 percent of school arrests and 3 percent of referrals to law enforcement
                (US Department of Education 2014). This disparity in education completion is compounded by the fact that native youth are 1.5
                times more likely than their white counterparts to be incarcerated and subsequently transitioned into the adult criminal system
                (NIEA n.d.).
              </h4>
              <h4 class="text-justify">
                In postsecondary education, AI/ANs are at another disadvantage when compared to non-AI/AN groups. Only 13 percent of American
                Indians and Alaska Natives earn bachelor’s degrees compared to 29 percent in the general population (Executive Office of the
                President,2014; NCES 2016). Additionally, AI/ANs receive graduate or professional degrees at half the rate of the general population,
                at five percent (NCAI 2012). Despite this gap in rates, the amount of AI/AN enrolled in colleges and universities has increased
                more than twice in the past 30 years (NCAI 2012). Low attainment of postsecondary education is partially due to the ill-equipped
                nature of colleges. For Indigenous peoples who do graduate onto college, many do not have the proper mentorship to progress
                throughout their college careers successfully (Executive Office of the President 2014).
              </h4>
              <h4 class="text-justify">
                Indigenous communities simultaneously face the highest unemployment rates across the nation (as high as 90 percent on some
                reservations) as well as elevated rates of poverty (Brayboy et al. 2012). In 2012, for example, 29.1 percent of AI/ANs (alone) lived in
                poverty—the highest rate of any race group—compared to 15.9 percent for the entire nation (American Community Survey, 2012).
                Although Native women/girls tend to fare better in educational attainment, Native boys and men lag far behind their Native and
                non-Native counterparts, as evidenced in the following table.4
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
