<section class="" style="padding-top: 0;">
  <div class="row">
    <div class="col-lg-5">
      <div class="col-lg-9 col-lg-offset-2">
        <div class="row">
          <br/><br/><br/><br/>
          <div class="bg-- height-20">
              <h5 class="">LAUNCHING FALL 2018</h5>
              <hr/>
              <h1 class="color--orange"> The Rise Data Center
              <a href="#"></a></h1>
              <p class="lead">
                A repository of more than 400 downloadable open-source charts, graphs, and images.
                Get high resolution graphics of the most current community data.
              </p>
              <a href="#" class="btn btn--primary color--white">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="imagebg height-60">
          <div class="background-image-holder">
              <%= image_tag("rise_assets/block-2 data-center/data-ctr@2x.png") %>
          </div>
      </div>
    </div>
  </div>
</section>
