<section id="data_center" class="">
  <div class="row height-40">
    <div class="col-sm-6 col-sm-offset-3">
      <h4 class="color--orange title-font-alt text-center"> Data & experts</h4>
      <hr class="center" style="width: 20%;"/>
      <h1 class="color--orange text-center">New  Developments from RISE in 2017</h1>
      <h4 class="text-center">
        We are building tools and platforms that serve you better.
        and stratgically improve the <br/>lives, experiences, and outcomes of
        boys and men of color.
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 padding-right-0">
      <br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <div class=" bg--grey boxed box--lg height-40 box-shadow-light no-border-radius">
        <br/><br/>
        <div class="col-lg-7 col-lg-offset-4">
          <div class="">
            <h2 class="color--orange"> The RISE Data Center</h2>
            <h4 class="">
              A repository of more than 400 downloadable open-source charts, graphs, and images.
              Get high resolution graphics of the most current community data.
            </h4>
            <a href="<%= data_center_coming_url %>" class="btn btn--large btn--rise-orange">
              Get Notified <i class="material-icons">&#xE315;</i>
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-lg-6 padding-left-0 box-shadow">
      <div class="imagebg height-80 ">
        <div class="background-image-holder">
          <%= image_tag("rise_assets/home/cb_2_data_ctr/datactr-prototype.svg") %>
        </div>
      </div>
    </div>
  </div>
</section>
