<section class="container">
  <div class="container">
    <div class="text-center height-20">
      <h2 class="color--orange"> New Technology Developments from RISE in 2017
      </h2>
      <p class="lead">
        [We are building tools and an online platform to improve the lives.]
      </p>
    </div>
    <br/>

    <div class="row">
    <div class="col-lg-6 padding-right-0">
      <br/><br/><br/><br/><br/>
      <div class=" bg--grey boxed box--lg height-40">
        <br/><br/>
        <div class="col-lg-9 col-lg-offset-2">
          <div class="">
            <h2 class="color--orange"> The RISE Data Center
            </h2>
            <p class="lead">
              A repository of more than 400 downloadable open-source charts, graphs, and images.
              Get high resolution graphics of the most current community data.
            </p>
            <%= image_tag("rise_assets/home/cb_2_data_ctr/enter-btn.svg") %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-lg-6 padding-left-0">
      <div class="imagebg height-60 ">
          <div class="background-image-holder">
              <%= image_tag("rise_assets/home/cb_2_data_ctr/datactr-prototype.svg") %>
          </div>
      </div>
    </div>
  </div>

</section>
