<section class="unpad" style="padding-top: 0;">
  <div class="row">
    <div class="col-lg-6">
      <div class="imagebg height-60">
          <div class="background-image-holder">
              <%= image_tag("rise_assets/home/cb_3_expert_directory/expert-directory-prototype.svg") %>
          </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-lg-9 col-lg-offset-2">
        <div class="row">
          <br/><br/><br/><br/>
          <div class="bg-- height-20">
              <h1 class="color--orange"> Expert Directory
              </h1>
              <p class="lead">
               A searchable directory of more than 100 researchers and evaluators
               who rigrourously and routinely study boys and men of color and evaluate
               programs that serve them.
              </p>
              <%= image_tag("rise_assets/home/cb_3_expert_directory/enter-btn.svg") %>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
