
<section class="testimonials-1 space--sm">
    <div class="container">
        <h3 class="text-center title-font-alt">Funding the Transformation</h3>
        <br/>
        <div class="row text-center">
          <div class="col-sm-3">
            <%= image_tag("rise_assets/home/cb_5_funders/logo_acasey.png", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/home/cb_5_funders/logo_kellogg.png", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/home/cb_5_funders/logo_atlantic.png", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/home/cb_5_funders/logo_mcasey.png", class: "image--xs")%>
          </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
