
<section class="testimonials-1 space--sm">
    <div class="container">
        <h3 class="text-center">Funding the Transformation</h3>
        <div class="row text-center">
          <div class="col-sm-3">
            <%= image_tag("rise_assets/home/bc_5_funders/logo_acasey.svg", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/home/bc_5_funders/logo_kellogg.svg", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/home/bc_5_funders/logo_atlantic.svg", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/home/bc_5_funders/logo_mcasey.svg", class: "image--xs")%>
          </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
