
<section id="support" class="testimonials-1 box-shadow-light bg--secondary space--xs">
    <div class="container">
        <h4 class="text-center title-font-alt type--fade">Funding the Transformation</h3>
      <br/>
      <div class="row text-center">
        <div class="col-sm-3">
          <div class="boxed box-shadow-light height-10">
            <%= image_tag("rise_assets/home/cb_5_funders/logo_acasey.png", class: "image--xs")%>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="boxed box-shadow-light height-10">
            <%= image_tag("rise_assets/home/cb_5_funders/logo_kellogg.png", class: "image--xs")%>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="boxed  box-shadow-light height-10">
            <%= image_tag("rise_assets/home/cb_5_funders/logo_atlantic.png", class: "image--xs")%>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="boxed box-shadow-light height-10">
            <%= image_tag("rise_assets/home/cb_5_funders/logo_mcasey.png", class: "image--xs")%>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
</section>
