
<section class="testimonials-1 space--sm">
    <div class="container">
        <h3 class="text-center">Funding the Transformation</h3>
        <div class="row text-center">
          <div class="col-sm-3">
            <%= image_tag("rise_assets/acasey/logo_acasey-grayscale.png", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/block-5 funders/atlantic/logo_atlantic-grayscale.png", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/block-5 funders/kellogg/logo_kellogg-grayscale.png", class: "image--xs")%>
          </div>
          <div class="col-sm-3">
            <%= image_tag("rise_assets/block-5 funders/mcasey/logo_mcasey-grayscale.png", class: "image--xs")%>
          </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
