
<section id="support" class="testimonials-1 box-shadow-light bg--secondary space--xs">
    <div class="container">
        <h4 class="text-center title-font-alt type--fade">Funding the Transformation</h3>
      <br/>
      <div class="row text-center">
        <div class="col-sm-3">
          <div class="boxed box-shadow-light height-10">
            <a href="http://www.aecf.org/">
              <%= image_tag("rise_assets/about/block-4 funders/logo_acasey-color.png" , class: "image--xs")%>
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="boxed box-shadow-light height-10">
            <a href="https://www.wkkf.org/">
              <%= image_tag("rise_assets/about/block-4 funders/logo_kellogg-color.png" , class: "image--xs")%>
              <a/>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="boxed  box-shadow-light height-10">
            <a href="http://www.atlanticphilanthropies.org/">
              <%= image_tag("rise_assets/about/block-4 funders/logo_atlantic-color.png" , class: "image--xs")%>
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="boxed box-shadow-light height-10">
            <a href="http://www.caseygrants.org/">
              <%= image_tag("rise_assets/about/block-4 funders/logo_mcasey-color@2x.png" , class: "image--xs")%>
            </a>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
</section>
