<section class="cover height-100 imagebg bg--primary switchable" data-overlay="8">
  <div class="background-image-holder">
    <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="row">
          <%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo.png", class: "col-md-6")%>
        </div>
        <br/>
      </div>
    </div>
    <hr style="width: 50%; border-color: rgba(245, 208, 0, .75); border-width: 2px;" class="center"/>
    <h4 class="text-center h4">A field advancement effort.</h4>
    <br/><br/><br/>
    <p class="text-center">
      <%= image_tag("rise_assets/hero_head/dn-arrow/scroll-arrow.svg", style: "height: 70px; opacity: .5;") %>
    </p>
  </div>
</section>
