<section class="cover height-70 imagebg bg--primary switchable" data-overlay="8">
    <div class="background-image-holder">
        <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-6 col-sm-offset-3">
                <div class="text-center">
                    <p class="no-margin"><%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo@2x.png")%></p>
                    <hr/>
                    <h3 class="text-center">A field advancement effort.</h3>
                    <br/>
                    <p>
                      <%= image_tag("rise_assets/home/hero/icon/icon-scroll.svg")%>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12">
                <div class="border--round box-shadow-wide">

                </div>
                <!--end video cover-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
