<section class="cover height-60 imagebg bg--primary switchable" data-overlay="8">
  <div class="background-image-holder">
    <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="row">
          <%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo.png", class: "col-md-6 center")%>
        </div>
        <br/>
        <hr class="center"/>

      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
