<section class="cta cta-4 space--xxs bg--secondary">
  <div class="bar color--primary " data-scroll-class="600px:pos-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="bar__module">
            <ul class="menu-horizontal h4">
              <li>
                  <a href="#latest">The Latest</a>
              </li>
              <li>
                  <a href="#our_work">Our Work</a>
              </li>
              <li>
                  <a href="#support">Support</a>
              </li>
              <li>
                  <a href="#populations">Populations</a>
              </li>
              <li>
                  <a href="#research">research</a>
              </li>
              <li>
                  <a href="#data_center">Data</a>
              </li>
              <li>
                  <a href="#expert_directory">Experts</a>
              </li>
              <li>
                  <a href="#follow_us">Follow us</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
