<section class="cta cta-4 space--xxs bg--secondary">
  <div class="bar color--primary " data-scroll-class="1600px:pos-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="bar__module">
            <ul class="menu-horizontal h4">
              <li>
                  <a href="#">The Latest</a>
              </li>
              <li>
                  <a href="#">Our Work</a>
              </li>
              <li>
                  <a href="#">Focus</a>
              </li>
              <li>
                  <a href="#">Populations</a>
              </li>
              <li>
                  <a href="#">Data Center</a>
              </li>
              <li>
                  <a href="#">Expert Directory</a>
              </li>
              <li>
                  <a href="#">Follow us</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
