<section class="cta cta-4 bg--secondary box-shadow-light unpad height-10 ">
  <div class="bar color--primary " data-scroll-class="1200px:pos-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="bar__module">
            <ul class="menu-horizontal h4">
              <li>
                  <a href="#latest" class="inner-link">The Latest</a>
              </li>
              <li>
                  <a href="#our_work" class="inner-link">Our Work</a>
              </li>
              <li>
                  <a href="#populations" class="inner-link">Populations</a>
              </li>
              <li>
                  <a href="#support" class="inner-link">Funding</a>
              </li>
              <li>
                  <a href="#research" class="inner-link">research</a>
              </li>
              <li>
                  <a href="#data_center" class="inner-link">Data & experts</a>
              </li>
              <li>
                  <a href="#follow_us" class="inner-link">Follow us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix row"></div>
