<section id="populations" class="imagebg feature-large">
    <div class="background-image-holder bg--primary" data-overlay="7">
        <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h1 class="color--orange">RISE Focuses on 4 populations</h1>


                    <ol>
                      <li><h1>Asian Americans & Pacific Islanders</h3></li>
                      <li><h1>Blacks</h3></li>
                      <li><h3>Latinos</h3></li>
                      <li><h3>Native Americans</h3></li>
                    </ol>
                  </div>
                </div>
              </div>
              <!--end of container-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
