<section class="imagebg height-40 bg--primary" data-overlay="8">
    <div class="background-image-holder">
        <%= image_tag("rise_assets/grad-prep/hero-grant-proposals.png")%>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6">
              <div class="row">
                <div class="col-sm-11">
                  <h2>Rise Focuses on 4 populations</h2>
                  <p class="lead">
                      [Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.]
                  </p>
                  <hr/>

                  <!-- <ol>
                    <li><h3>Asian Americans & Pacific Islanders</h3></li>
                    <li><h3>Blacks</h3></li>
                    <li><h3>Latinos</h3></li>
                    <li><h3>Native Americans</h3></li>
                  </ol> -->
                </div>
              </div>
            </div>
            <!--end of container-->
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</section>
