
<section id="our_work"  class="unpad">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <h4 class="color--orange title-font-alt"> our work</h4>
        <hr class="" style="width: 20%;"/>
        <h1 class="color--orange">Watch and learn about our work...</h1>
        <div class="row">
          <div class="col-lg-6">
            <h4 class="">
              Watch the video below to learn more about the RISE organization, our team, mission and
              future plan.
            </h4>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>
</section>



<section class="imagebg bg-gradient-video videobg height-50 text-center box-shadow-light" data-overlay="9">
   <div class="youtube-background" data-video-url="https://youtu.be/fyqR28x0-Wo" data-start-at="10"></div>
  <div class="container pos-vertical-center">

    <h1>"...transforming the practice of research and evaluation."</h1>
    <h3 class="color--bright-yellow title-font-alt">Dr. Shaun R. Harper, Co-Director of Rise</h3>
    <br/>
    <div class="modal-instance">
      <div class="modal-container">
        <div class="modal-content bg-dark" data-width="100%" data-height="60%">
          <iframe  width="1280" height="720" src="https://www.youtube.com/embed/fyqR28x0-Wo" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end of modal-content-->
      </div>
      <!--end of modal-container-->
      <div class="video-play-icon video-play-icon--lg modal-trigger">
      </div>
    </div>
    <!--end video-->
  </div>
</section>
