<section class="switchable switchable--switch imagebg height-50" data-overlay="2">
    <div class="background-image-holder">
        <%= image_tag("rise_assets/home/cb_4_rise_video/Content Block 4.svg")%>
    </div>
    <div class="container pos-vertical-center text-center">
        <div class="row">
            <!-- <div class="col-sm-12">
                <h1>"...transforming the practice of research and evaluation"</h1>
                <p class="lead">
                    Dr. Shaun R. Harper, Co-Director of Rise
                </p>
            </div> -->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
