<section class="switchable switchable--switch imagebg height-60" data-overlay="2">
    <div class="background-image-holder">
        <%= image_tag("rise_assets/home/cb_4_rise_video/Content Block 4@2x.png")%>
    </div>
    <!--end of container-->
</section>
