<section class="imagebg bg--primary image--dark videobg height-60 text-center" data-overlay="7">
  <div class="youtube-background" data-video-url="https://youtu.be/fyqR28x0-Wo" data-start-at="10"></div>
  <div class="background-image-holder">
    <img alt="image" src="poster.jpg" />
  </div>
  <div class="container pos-vertical-center">
    <h1>"...transforming the practice of research and evaluation."</h1>
    <h3 class="color--yellow title-font-alt">Dr. Shaun R. Harper, Co-Director of Rise</h3>
  </div>
</section>
