
<section class="">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="title-font-alt">Full Article</h4>
        <h1>The Significance of Data Disaggregation in the Study of Boys and Men of Color<h1>
        <h3>Perspectives from the Asian American and Pacific Islander Student Population</h3>
        <hr/>
        <h4>
          by Robert T. Tarenishi, Bach Mai Dolly Nguyen<br/>
          Institute for Immigration, Globalization, and Education<br/> University of California, Los Angeles
        </h4>
        <p>
          <%#= link_to "My PDF", asset_path("pdf_file.pdf") %>

          <%= link_to issues_download_post5_url, class: "btn btn--sm btn--rise-orange" do %>
            Download Full Report <i class="material-icons">&#xE2C4;</i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
