
<section class="">
  <div class="container">
    <h1>Full Article</h1>
    <h2>Advancing Culturally Responsive Evaluations for Boys and Men of Color</h2>
    <h5>Author Name</h5>
    <br/>
    <%#= image_tag()%>
  </div>
</section>
