<section class="unpad">
  <div class="imagebg bg--primary text-center height-40" data-overlay="5">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/issue_briefs/teranishi/hero.png") %>
    </div>
    <div class="container">
      <br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>The Significance of Data Disaggregation in the Study of Boys and Men of Color<h1>
            <h3>Perspectives from the Asian American and Pacific Islander Student Population</h3>
            <hr/>
            <h4>Tarenishi, Nguyen</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
