
<section class="bg--secondary">
  <div class="container">
    <div class="article__body">
      <h2>Introduction</h2>
      <p>
        The field of culturally responsive evaluations (CRE) and comprehensive efforts to improve outcomes for boys and
        men of color (BMOC) are in their infancy. Yet attention to the development of the knowledge base and expansion
        of practice is needed due to the groundswell of interest in both areas in recent years. For instance, in 2014,
        President Obama established the My Brother’s Keeper (MBK) Task Force. MBK is a coordinated federal effort with
        private philanthropic organizations and communities to address persistent opportunity gaps faced by BMOC and to
        ensure that all young people can reach their full potential. While BMOCs are the targets of many social programs
        and interventions, a dearth of high-quality culturally responsive evaluations exist on the effectiveness of
        various gender- and population-speci c approaches for BMOCs to achieve measurable results.
      </p>
    </div>
  </div>
</section>
