
<section class="bg--secondary">
  <div class="container">
    <h3 class="text-center">You May Also Like...</h3>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-4">
            <div class="imagebg height-30 border--round" data-overlay="4">
                <div class="background-image-holder">
                    <%= image_tag("rise_assets/issue_briefs/smedley/hero.png") %>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                      <div class="col-sm-10 col-md-offset-1">
                          <h4>
                            The Significance of Data Disaggregation in the Study of Boys and Men of Color
                          </h4>
                          <hr/>
                          <h5>by Smedley</h5>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="imagebg height-30 border--round" data-overlay="4">
              <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/godsil/hero.png") %>
              </div>
              <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-md-offset-1">
                    <h4>
                      Tools for Addressing the Disproportionate Discipline of Boys of Color in Schools
                    </h4>
                    <hr/>
                    <h5>by Godsil</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="imagebg height-30 border--round" data-overlay="4">
              <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/yu/hero.png") %>
              </div>
              <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-md-offset-1">
                    <h4>
                      The Significance of Data Disaggregation in the Study of Boys and Men of Color:
                    </h4>
                    <hr/>
                  <h5>by Villegas</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
