<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="color--orange title-font-alt text-center"> Authors</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">
          Hamby &bull; Blount &bull; Eidson &bull; Smith, PhD &bull; Rice &bull; Bardi
        </h1>
      </div>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h4 class="type--bold margin-bottom-10">Introduction</h4>
                <h4 class="">
                  Given the high burden of violence on boys and men of color, it should be a priority to
                  understand the factors contributing to violence exposure and involvement, and evaluate
                  programs that might reduce this burden. As described in more detail below, strengths-based
                  approaches hold particular promise for alleviating the burden of violence. It is the purpose
                  of this paper to review existing knowledge on strengths-based approaches for boys and men of
                  color.
                </h4>
                <hr/>
                <div class="row">
                  <div class="col-md-4">
                    <h5 class="no-margin">Authors</h5>
                    <ul class="">
                      <li>Sherry Hamby</li>
                      <li>Zach Blount</li>
                      <li>Elizabeth Eidson</li>
                      <li>Alli Smith</li>
                      <li>Johnny Rice II</li>
                      <li>C. Albert Bardi</li>
                    </ul>
                  </div>
                  <div class="col-md-8">
                    <h5 class="type--bold no-margin">Organizations</h5>
                    <ul>
                      <li>Coppin State University</li>
                      <li>Life Paths Appalachian Research Center</li>
                      <li>Coppin State University</li>
                      <li>University of the South</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <%= image_tag("fieldscans/fs2/fs2.png", class: "box-shadow-light")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
