
<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-5">
            <h4 class="type--bold margin-bottom-10">Authors</h4>
            <ul class="h5">
              <li>Sherry Hamby</li>
              <li>Zach Blount</li>
              <li>Elizabeth Eidson</li>
              <li>Alli Smith</li>
              <li>Life Paths Appalachian Research Center</li>
              <li>Johnny Rice II</li>
              <li>Coppin State University</li>
              <li>C. Albert Bardi</li>
              <li>Coppin State University</li>
              <li>University of the South</li>
            </ul>

            <h5 class="type--bold no-margin">WITH THE ASSISTANCE OF</h5>
            <ul class="h5">
              <li>Anne-Stuart Bell</li>
              <li>Excy Guardado</li>
              <li>Annya Shalun</li>
              <li>Elizabeth Taylor</li>
            </ul>

            <hr/>
            <div class="row">
              <div class="col-md-11">
                <h4 class="type--bold margin-bottom-10">About</h4>
                <h5 class="">
                  RISE for Boys and Men of Color is a field advancement effort that aims to
                  better understand and strategically improve the lives, experiences, and
                  outcomes of boys and men of color in the United States.
                </h5>
                <br/>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <%= image_tag("fieldscans/fs3/fs3.png", class: "box-shadow-light")%>
            <br/><br/>
            <p class="margin-top-10 text-center">
              <%= link_to issues_download_post1_url, class: "btn btn--sm btn--rise-orange h6" do %>
                Download Full Report <i class="material-icons">&#xE2C4;</i>
              <% end %>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
