<style>
  .article__body h4 {
    font-size: 16px;
    line-height: 26px;
  }
</style>

<section class="unpad bg--secondary">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-12">
        <h4 class="title-font-alt text-center">Background</h4>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="type--bold ">Breaking Free from the Web of Violence: Asset-Based Approaches for Boys & Men of Color</h2>
            <hr/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="overflow-scroll overflow-height-500">
              <h4 class="text-justify">
                Boys and men of color in the United States are more vulnerable to involvement in violence than other US racial and ethnic groups (Hamby, Finkelhor, & Turner 2013; Truman 2011). Although race is a purely social construct with no biological basis, race nonetheless touches every aspect of violence and victimization. Discrimination against people of color over many generations, including macro- and micro-aggressions (overt attacks and unintentional slights based on implicit biases, respectively), contributes to the inequitable burden of victimization (Hamby 2015). Disparities are also caused by differential exposure to risk factors, worse health consequences, and sometimes unequal treatment by criminal justice, health, and social systems (Binswanger et al. 2012; Davis & Sorensen 2013; Donnelly et al. 1999; Hamby 2008, 2014; Roberts et al. 2011; Truman 2011; Walker et al. 2011).
              </h4>
              <h4 class="text-justify">
                Given the high burden of violence on boys and men of color, it should be a priority to understand the factors contributing to violence exposure and involvement, and evaluate programs that might reduce this burden. As described in more detail below, strengths-based approaches hold particular promise for alleviating the burden of violence. It is the purpose of this paper to review existing knowledge on strengths-based approaches for boys and men of color. The broader goal is to contribute to the development of a research, program, and policy agenda based on the current state of scientific knowledge regarding the causes and appropriate interventions for violence and the most effective ways to promote resilience.
              </h4>
              <h4>
                One of the most significant trends in recent years has been a shift to strengths-based approaches, which focus on individual, family, or community resources and assets, for violence and victimization (Sabina & Banyard 2015). The deficits-based approach, which focuses on risk and negative aspects of a person’s life, has not been very successful, with most reviews indicating modest or null results, especially for behaviors (versus knowledge and attitudes) and especially for replications or usual practices (e.g., Babcock, Green, & Robie 2004; Finkelhor et al. 2014; Park-Higgerson et al. 2008; Wilson & Lipsey 2007). Some programs have even resulted in backlash, meaning participants experienced worse outcomes after the program than before it (for examples, see excellent review and discussion by T. D. Wilson 2011). Although the process contributing to negative outcomes is not well understood, some participants may feel provoked or overstimulated by the hypothetical abuse scenarios, rape myths, and other content depicting violence that is common in many deficit-based programs. Or, they may assume such attitudes are more prevalent than they realized, if entire programs have been created to combat them. Thus, these programs could inadvertently suggest the very peer norms they are trying to defeat. At the very least, there is clearly room for improved effectiveness in violence prevention and intervention programming, and much that we need to learn about the protective factors that contribute to safety and well-being.
              </h4>
              <h4 class="text-justify">
                Strengths-based programs have several advantages, including better stakeholder buy-in and the potential for less backlash. Strengths-based programs also reflect the shift to an understanding of the “ordinary magic” of resilience (Masten 2001). Most people, by the time they survive to adulthood, will experience some form of violence or adversity, but most are also resilient in the face of life’s stresses. This means that they achieve well-being despite their burden of adversity. Better understanding the process of resilience can inform new approaches to prevention and intervention. Existing evidence suggests programs that focus on skills and strengths are often more effective than “scared straight” approaches and other risk-focused programs (Hamby & Grych 2013). To date, however, most strengths-based programs for violence have been aimed at the majority culture or delivered to a largely female audience, such as Berg et al., 2009; Jewell & Elliff, 2013; Jones et al., 2010; Mbilinyi et al., 2010; and Timmons-Mitchell et al., 2006 (these articles did not meet our inclusion criteria in our methodology, discussed below). We need to better understand what kinds of programs are effective for boys and men of color.
              </h4>
              <h4 class="text-justify">
                This review focuses on the broad population of boys and men of color, yet we recognize that this is a heterogeneous category that includes people with other characteristics or histories that may place them at greater risk for violence and victimization, including people with disabilities, immigrants (whether documented or undocumented), low-income males, and gay, bisexual, and transgender males. Further, these layers of vulnerability may best be studied in contexts of multi-layered approaches to resilience, particularly for individuals who are part of minority or indigenous groups (Elm et al. 2016).
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
