
<section class="">
  <div class="container text-center">
    <h1>Full Article</h1>
    <h2>Where are our american indian/alaskan native boys and young men?<h2>
    <h3>Understanding Postsecondary Education Trends</h3>
    <hr/>
    <h4>Villegas</h4>
    <br/>
    <%#= image_tag()%>
  </div>
</section>
