<section class="unpad">
  <div class="imagebg bg--primary text-center height-50" data-overlay="8">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
    </div>
    <div class="container">
      <br/><br/><br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>Where are our american indian/alaskan native boys and young men?<h1>
            <h3>Understanding Postsecondary Education Trends</h3>
            <hr/>
            <h4>Villegas</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
