
<section class="bg--secondary">
  <div class="container">
    <div class="article__body">
      <h2>Introduction</h2>

      <p>Between 1976 and 2006, the number of American Indian/Alaska Native (AI/AN or Native) men enrolled in public and private degree-granting institutions increased from 38,500 to 71,200, or by a factor of 1.8. During the same time period, the enrollment of AI/AN women enrolled in public and private degree-granting institutions increased by a factor of 3.0, from 37,600 to 111,000. Why is it that for every two of our Native women going on to higher education, only one of our Native men do so?</p>

      <p>In this policy brief, we review available data on possible contributing factors, such as school enrollment rates, special education rates, discipline rates, public high school completion, public high school averaged graduation rate, GED test-taking rates, placement in juvenile residential facilities, and college-going and completion rates, to understand more about the experiences of Native boys and young men and the systems in place to serve them. We also highlight gaps in the data that prevent us from understanding where our Native boys and young men are in the postsecondary education pipeline. While we focus on education trends in this brief, it is essential to note that economic, health, environmental, systematic, and community dynamics all contribute to educational outcomes and must not be ignored. Further, a decline in our Native men pursuing postsecondary education has real implications for our families and communities. It means that we need to do better at supporting our Native boy’s and young men’s access to opportunities that can contribute to family economic sustainability, a strong skill base in our tribal communities, and role models for future generations of Native children.
      </p>

      <p>We use data from the 10 states with the highest state proportion of AI/AN population because it is important to understand the role of state systems in the education of AI/AN boys and young men. After presenting data, we summarize a range of findings, present recommendations to address the core question, and highlight promising practices. Throughout the text, we provide hyperlinks to data sources to increase access to disaggregated AI/AN data by community users, as well as to direct policymakers to data that is either useful in its disaggregation or needs to be improved as specified in the findings and recommendations section of the brief.</p>

    </div>
  </div>
</section>
