<style>
  .article__body h4 {
    font-size: 16px;
    line-height: 26px;
  }
</style>

<section class="unpad bg--secondary">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-12">
        <h4 class="title-font-alt text-center">Background</h4>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="type--bold ">A Review of Economic Opportunity and Criminal Justice Programs for Boys and Men of Color</h2>
            <hr/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="overflow-scroll overflow-height-500">
              <h4 class="text-justify">
                Social problems tend to travel in tandem. Where one social problem exists, you will typically find others. Persons who lack access
                to quality schooling tend to have fewer employment opportunities. Communities with limited economic opportunity tend to have
                higher rates of incarceration. Involvement in the criminal justice system decreases the likelihood of graduating from high school
                (Kirk & Sampson 2013) and gaining employment (Bernburg, Krohn, & Rivera 2006), and increases the chances of future involvement
                in the criminal justice system (Liberman, Kirk, & Kim 2014; Huizinga & Henry 2008). It is a dismal cycle.
              </h4>
              <h4 class="text-justify">
                While no demographic group in the United States is spared social problems, boys and men of color disproportionately face them.
                This is particularly the case for black youth (Piquero 2008). Among men aged 18 and older, the national incarceration rate is 9.4 per
                thousand for white men, 27.8 per thousand for Hispanic men, and 66.6 per thousand for black men. Incarceration is particularly
                concentrated among poor and less well educated black men. Among male high school dropouts ages 20 to 40, the incarceration
                rate is 32.4 percent for black men, 6 percent for Hispanic men, and 6.7 percent for white men. By age 30, the lifetime risk of imprisonment
                for black male high school dropouts is 59 percent compared to only 9 percent for Hispanics and 11 percent for whites
                (Western 2006). Black youth are twice as likely as white youth to be referred to juvenile court, and they are twice as likely as whites
                to be sent to secure detention (Bernard 2006). By age 23, nearly one 50 percent of black males, 44 percent of Hispanic males, and
                38 percent of white males have been arrested (Brame et al. 2014).
              </h4>
              <h4 class="text-justify">
                Social problems often emanate from structural inequalities within societies. The specific social problems that are the subject of this
                report—incarceration and lack of economic opportunity—are the outward manifestations of these inequalities.
                Boys and men of color face a litany of societal inequities that limit their opportunities to fully participate in the economy. These
                inequalities are linked to broad themes in American society, rooted in a history of exploitation and bolstered by both custom and
                unjust government policies: slavery, Jim Crow Laws, separate and unequal services such as schools, the exclusion of domestic
                workers form social security, redlining, and mass incarceration—to name a few.
              </h4>
              <h4 class="text-justify">
                These policies are structural impediments to racial equity culminating in the geographic and social isolation we see today, perhaps
                best illustrated by racial residential segregation (LaVeist, Gaskin, & Richard 2011). Segregation limits access to help and increases
                exposure to harm. It limits access to resources that can serve as the “ladder” out of poverty such as quality schools, jobs, and vocational
                training opportunities. Segregation also increases exposure to hazards such as aggressive policing and the hyper-availability
                of illicit drugs. Boys and men of color face persistent discrimination in hiring practices, substandard primary and secondary education,
                lack of career or higher education guidance, and, as a result, lower earnings and higher rates of unemployment compared
                to their white counterparts.
              </h4>
              <h4 class="text-justify">
                This cycle can be intergenerational, passed from one generation to the next. Liberman & Fontaine (2015) pointed out that millions
                of children have been exposed to parental arrest, and youth of color are at a higher risk of this exposure. Immigration enforcement
                actions against parents also affect hundreds of thousands of youth, particularly those from Latin American countries. Witnessing
                parental arrest, through police or immigration enforcement agencies, is a traumatic experience for children, particularly because
                arrests can include handcuffing, drawing a weapon on or subduing the parent.
              </h4>
              <h4 class="text-justify">
                The trauma of parental arrest is further exacerbated by the possibility of a lengthy period of separation of the parent from the child.
                In the case of a lengthy prison term or deportation, the separation can last for the entire childhood. Numerous studies have linked
                parental incarceration to a variety of outcomes that negatively affect economic opportunity, including financial hardship, residential
                instability, poor academic performance, substance abuse, and delinquency (Foster & Hogan 2007; Geller et al. 2009; Glaze &
                Maruschak 2008; Murray & Farrington 2008; Murray, Janson, & Farrington 2007; Phillips & Gleeson 2007; Phillips et al. 2002; Smith
                et al. 2007; Walker 2003; Wildeman 2011).
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
