<li class="active">
  <div class="tab__title">
    <span class="h5">Juvenile and Criminal Justice</span>
  </div>
  <div class="tab__content">
    <section class="space--sm">
        <div class="container">
            <div class="row">
              <div class="col-md-3 hidden-sm">
                <div class="sidebar boxed boxed--border boxed--lg bg--secondary box-shadow-light">
                    <div class="sidebar__widget">
                        <h5>Sort By</h5>
                        <hr/>
                        <h6 class="no-margin">RACE</h6>
                        <ul>
                            <li>
                                <a href="#">Asian Americans and Pacfic Islanders</a>
                            </li>
                            <li>
                                <a href="#">Blacks</a>
                            </li>
                            <li>
                                <a href="#">Latinos</a>
                            </li>
                            <li>
                                <a href="#">Native Americans</a>
                            </li>
                        </ul>
                    </div>
                    <!--end widget-->
                    <div class="sidebar__widget">
                      <h6 class="no-margin">Degree</h6>
                      <ul>
                          <li>
                              <a href="#">Doctorate</a>
                          </li>
                          <li>
                              <a href="#">Doctoral Candidate</a>
                          </li>
                          <li>
                              <a href="#">Masters</a>
                          </li>
                      </ul>
                    </div>
                    <!--end widget-->
                    <!--end widget-->
                    <div class="sidebar__widget">
                      <h6 class="no-margin">OCCUPATION</h6>
                      <ul>
                          <li>
                              <a href="#">Administrator</a>
                          </li>
                          <li>
                              <a href="#">Professor</a>
                          </li>
                          <li>
                              <a href="#">Researcher</a>
                          </li>
                          <li>
                              <a href="#">Student</a>
                          </li>
                      </ul>
                    </div>
                    <!--end widget-->

                </div>

              </div>
              <div class="col-sm-12 col-md-9">
                    <div class="masonry">
                        <div class="masonry-filter-container">
                            <span>Choose Domain:</span>
                            <div class="masonry-filter-holder">
                                <div class="masonry__filters" data-filter-all-text="All Categories"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="masonry__container">
                                <div class="masonry__item col-sm-4"></div>
                                <div class="masonry__item col-sm-4" data-masonry-filter="Marketing">
                                  <article class="feature feature-1">
                                    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
                                      <div class="card__top">
                                          <div class="card__avatar">
                                            <a href="#">
                                              <img alt="Image" src="https://pbs.twimg.com/profile_images/863128647502184448/VazebD3U.jpg">
                                            </a>
                                            <span>
                                              <strong>Los Angeles, CA</strong>
                                            </span>
                                          </div>
                                      </div>
                                      <div class="card__body">
                                          <a href="#">
                                            <img src="https://content.newsinc.com/jpg/2975/31122818/40486796.jpg?t=1468242840" alt="Image" class="image--round border--round">
                                          </a>
                                          <p>
                                            <strong>Kenneth Alonzo Anderson</strong>
                                            PH.D.
                                          </p>
                                        </div>
                                    </div>
                                  </article>
                                </div>
                                <!--end item-->
                                <div class="masonry__item col-sm-4" data-masonry-filter="Marketing">
                                  <article class="feature feature-1">
                                    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
                                      <div class="card__top">
                                          <div class="card__avatar">
                                            <a href="#">
                                              <img alt="Image" src="https://pbs.twimg.com/profile_images/863128647502184448/VazebD3U.jpg">
                                            </a>
                                            <span>
                                              <strong>Los Angeles, CA</strong>
                                            </span>
                                          </div>
                                      </div>
                                      <div class="card__body">
                                          <a href="#">
                                            <img src="https://content.newsinc.com/jpg/2975/31122818/40486796.jpg?t=1468242840" alt="Image" class="image--round border--round">
                                          </a>
                                          <p>
                                            <strong>Kenneth Alonzo Anderson</strong>
                                            PH.D.
                                          </p>
                                        </div>
                                    </div>
                                  </article>
                                </div>
                                <!--end item-->
                                <div class="masonry__item col-sm-4" data-masonry-filter="Marketing">
                                  <article class="feature feature-1">
                                    <div class="card card-1 boxed boxed--sm boxed--border">
                                      <div class="card__top">
                                          <div class="card__avatar">
                                            <a href="#">
                                              <img alt="Image" src="https://pbs.twimg.com/profile_images/863128647502184448/VazebD3U.jpg">
                                            </a>
                                            <span>
                                              <strong>Los Angeles, CA</strong>
                                            </span>
                                          </div>
                                      </div>
                                      <div class="card__body">
                                          <a href="#">
                                            <img src="https://content.newsinc.com/jpg/2975/31122818/40486796.jpg?t=1468242840" alt="Image" class="image--round border--round">
                                          </a>
                                          <p>
                                            <strong>Kenneth Alonzo Anderson</strong>
                                            PH.D.
                                          </p>
                                        </div>
                                    </div>
                                  </article>
                                </div>
                                <!--end item-->
                                <div class="masonry__item col-sm-4" data-masonry-filter="Marketing">
                                  <article class="feature feature-1">
                                    <div class="card card-1 boxed boxed--sm boxed--border">
                                      <div class="card__top">
                                          <div class="card__avatar">
                                            <a href="#">
                                              <img alt="Image" src="https://pbs.twimg.com/profile_images/863128647502184448/VazebD3U.jpg">
                                            </a>
                                            <span>
                                              <strong>Los Angeles, CA</strong>
                                            </span>
                                          </div>
                                      </div>
                                      <div class="card__body">
                                          <a href="#">
                                            <img src="https://content.newsinc.com/jpg/2975/31122818/40486796.jpg?t=1468242840" alt="Image" class="image--round border--round">
                                          </a>
                                          <p>
                                            <strong>Kenneth Alonzo Anderson</strong>
                                            PH.D.
                                          </p>
                                        </div>
                                    </div>
                                  </article>
                                </div>
                                <!--end item-->
                                <div class="masonry__item col-sm-4" data-masonry-filter="Marketing">
                                  <article class="feature feature-1">
                                    <div class="card card-1 boxed boxed--sm boxed--border">
                                      <div class="card__top">
                                          <div class="card__avatar">
                                            <a href="#">
                                              <img alt="Image" src="https://pbs.twimg.com/profile_images/863128647502184448/VazebD3U.jpg">
                                            </a>
                                            <span>
                                              <strong>Los Angeles, CA</strong>
                                            </span>
                                          </div>
                                      </div>
                                      <div class="card__body">
                                          <a href="#">
                                            <img src="https://content.newsinc.com/jpg/2975/31122818/40486796.jpg?t=1468242840" alt="Image" class="image--round border--round">
                                          </a>
                                          <p>
                                            <strong>Kenneth Alonzo Anderson</strong>
                                            PH.D.
                                          </p>
                                        </div>
                                    </div>
                                  </article>
                                </div>
                                <!--end item-->
                                <div class="masonry__item col-sm-4" data-masonry-filter="Los Angeles">
                                  <article class="feature feature-1">
                                    <div class="card card-1 boxed boxed--sm boxed--border">
                                      <div class="card__top">
                                          <div class="card__avatar">
                                            <a href="#">
                                              <img alt="Image" src="https://pbs.twimg.com/profile_images/863128647502184448/VazebD3U.jpg">
                                            </a>
                                            <span>
                                              <strong>Los Angeles, CA</strong>
                                            </span>
                                          </div>
                                      </div>
                                      <div class="card__body">
                                          <a href="#">
                                            <img src="https://content.newsinc.com/jpg/2975/31122818/40486796.jpg?t=1468242840" alt="Image" class="image--round border--round">
                                          </a>
                                          <p>
                                            <strong>Kenneth Alonzo Anderson</strong>
                                            PH.D.
                                          </p>
                                        </div>
                                    </div>
                                  </article>
                                </div>
                                <!--end item-->
                                <!--end item-->
                                <div class="masonry__item col-sm-4" data-masonry-filter="Design">
                                  <article class="feature feature-1">
                                    <div class="card card-1 boxed boxed--sm boxed--border">
                                      <div class="card__top">
                                          <div class="card__avatar">
                                            <a href="#">
                                              <img alt="Image" src="https://pbs.twimg.com/profile_images/863128647502184448/VazebD3U.jpg">
                                            </a>
                                            <span>
                                              <strong>Los Angeles, CA</strong>
                                            </span>
                                          </div>
                                      </div>
                                      <div class="card__body">
                                          <a href="#">
                                            <img src="https://content.newsinc.com/jpg/2975/31122818/40486796.jpg?t=1468242840" alt="Image" class="image--round border--round">
                                          </a>
                                          <p>
                                            <strong>Kenneth Alonzo Anderson</strong>
                                            PH.D.
                                          </p>
                                        </div>
                                    </div>
                                  </article>
                                </div>
                                <!--end item-->

                                <div class="masonry__item col-sm-6" data-masonry-filter="Design">
                                    <article class="feature feature-1">
                                        <a href="#" class="block">
                                            <img alt="Image" src="img/blog-1.jpg" />
                                        </a>
                                        <div class="feature__body boxed boxed--border">
                                            <span>May 25th 2016</span>
                                            <h5>Stack designer Marc Ruben offers freelancing advice</h5>
                                            <a href="#">
                                                Read More
                                            </a>
                                        </div>
                                    </article>
                                </div>
                                <!--end item-->
                            </div>
                            <!--end of masonry container-->
                        </div>

                    </div>
                    <!--end masonry-->
                </div>

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
  </div>
</li>
