<section class="cover height-50 imagebg bg-gradient-video switchable" data-overlay="9">
  <div class="background-image-holder">
    <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
  </div>
  <br/>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <p class="center" style="width: 280px;">
            <%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo.png", class: "")%>
          </p>
        </div>
        <br/>
      </div>
    </div>
    <h1 class="text-center title-font-alt ">EXPERT DIRECTORY</h1>
    <hr style="width: 50%; border-color: rgba(245, 208, 0, .75); border-width: 2px;" class="center"/>
    <p class="text-center lead">
      <span class="type--bold">
        A searchable directory of more than 100 researchers and evaluators who rigorously<br/>
        and routinely study boys and men of color and evaluate programs to serve them.
      </span>
    </p>
  </div>
</section>
