<div class="boxed boxed--border boxed--lg">
  <div class="sidebar__widget">
      <h4 class="no-margin title-font-alt ">RACE</h4>
      <ul>
          <li>
              <a href="#">Asian Americans and Pacfic Islanders</a>
          </li>
          <li>
              <a href="#">Blacks</a>
          </li>
          <li>
              <a href="#">Latinos</a>
          </li>
          <li>
              <a href="#">Native Americans</a>
          </li>
      </ul>
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">Degree</h6>
    <ul>
        <li>
            <a href="#">Doctorate</a>
        </li>
        <li>
            <a href="#">Doctoral Candidate</a>
        </li>
        <li>
            <a href="#">Masters</a>
        </li>
    </ul>
  </div>
  <!--end widget-->
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">OCCUPATION</h6>
    <ul>
        <li>
            <a href="#">Administrator</a>
        </li>
        <li>
            <a href="#">Professor</a>
        </li>
        <li>
            <a href="#">Researcher</a>
        </li>
        <li>
            <a href="#">Student</a>
        </li>
    </ul>
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h5 class="no-margin title-font-alt">Organization</h5>

  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h5 class="no-margin title-font-alt">Acadmemic institution</h5>

  </div>
  <!--end widget-->
</div>
