<%= render "directory/css_people" %>
<%= render "directory/header" %>
<%= render "directory/criminal_justice/navigation" %>



<section class="space--sm">
 <div class="container">
   <div class="masonry">
    <div class="row">
     <div class="col-md-6">
       <p class="no-margin">By Domain</p>
       <h2 class="margin-bottom-10 title-font-alt">criminal justice: <span class="type--fade">8 Experts</span></h4>
     </div>
     <div class="col-md-6">
       <div class="masonry-filter-container pull-right margin-top-10">
         <span class="title-font-alt">Filter By Focus Area:</span>
         <div class="masonry-filter-holder bg--orange">
            <div class="masonry__filters color--white" data-filter-all-text="All Ethnicites"></div>
         </div>
       </div>
     </div>
   </div>
   <br/>
    <div class="row">
      <%= render "directory/criminal_justice/people" %>
    </div>
  </div>
 </section>
