<section class="imagebg" data-gradient-bg="#5f2c82,#49a09d,#F3A183,#5f2c82">
  <div class="background-image-holder">
    <%= image_tag("rise_assets/coming-soon/expert-directory.png") %>
  </div>
  <div class="container">
    <br/><br/>
    <div class="row">
      <div class="col-md-9">
        <span class="h1 countdown" data-date="05/25/2017" data-date-fallback="Expert Directory Coming Soon"></span>
        <p class="lead">
          A searchable directory of more than 100 researchers and evaluators who rigoursly and routinely study boys and men to color and evaluate programs that serve them.
        </p>
      </div>
      <div class="col-md-3">
        <!-- <br/><br/><br/>
        <p>
          <a class="modal-trigger btn btn--primary type--uppercase" href="#">
            <span class="btn__text">
                Notify Me
            </span>
          </a>
        </p> -->
      </div>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="col-md-12 color-white">
          <h3 class="no-margin bold h3">The RISE Experts</h3>
          <hr class=""/>
          <div class"row " style="color: white;">
            <div class="col-md-3 col-sm-12">
              Abdill Aasha<br/>
              Anderson Kenneth<br/>
              Andrews	Dorinda<br/>
              Armah IV Niiobli<br/>
              Austin Algernon<br/>
              Ballysingh Tracy<br/>
              Berhanu	Jonathan<br/>
              Bird  Kisha<br/>
              Bitsoi Lee<br/>
              Bonner II	Fred<br/>
              Brayboy	Bryan<br/>
              Bristol Travis<br/>
              Brockenbrough	Edward<br/>
              Brown	Allison<br/>
              Brunson	Rod<br/>
              Bryant Rhonda<br/>
              Burt Brian<br/>
              Cabrera	Nolan<br/>
              Caldwell Cleopatra<br/>
              Campos Emmet<br/>
              Carrión	Alejandro<br/>
              Castillo	Nathan<br/>
              Choi Yoonsun<br/>
              Cook Stephanie<br/>
              Corbin Theodore<br/>
              Dancy II T. Elon<br/>
              Darrell Hudson	Darrell<br/>
              David	E.J.R.<br/>
              Davis	James<br/>
            </div>
            <div class="col-md-3 col-sm-12">
              Day	Joseph<br/>
              Douglas	Ty-Ron<br/>
              Doyle	Otima<br/>
              Dunigan	Robert<br/>
              Elm	Jessica<br/>
              Fajardo	Ismael<br/>
              Flennaugh	Terry<br/>
              Flores Edilberto<br/>
              Garcia Nichole<br/>
              Garcia Hugo<br/>
              Gibbs	Linda<br/>
              Gilbert	Keon<br/>
              Gracia J. Nadine<br/>
              Harper Shaun<br/>
              Hartlep	Nicholas<br/>
              Hewitt Damon<br/>
              Howard Tyrone<br/>
              Hurtado	Aída<br/>
              Hussen Sophia<br/>
              Jackson	John<br/>
              Jackson	Jerlando<br/>
              Jackson II	Ronald<br/>
              Johnson, Jr. Waldo<br/>
              Jones	Jamal<br/>
              Julion Wrenetha<br/>
              Keo	Peter<br/>
              Lee	Lloyd<br/>
              Lewis	Chance<br/>
              Lindsey	Michael<br/>
              Lofton	Richard
              Marks	Bryant<br/>
            </div>
            <div class="col-md-3 col-sm-12">
              Martinez Andrew<br/>
              Martinez Jr. Eligio<br/>
              Mauer	Marc<br/>
              McCoy	Henrika<br/>
              McCready Lance<br/>
              McCune Jeffrey<br/>
              McGowan	Brian<br/>
              McGuire	Keon<br/>
              Mendez Jason<br/>
              Mitchell Jamie<br/>
              Mooring Shawn<br/>
              Museus Samuel<br/>
              Nelson Joseph<br/>
              Nembhard Ché<br/>
              Ocampo Anthony<br/>
              Patrón Oscar<br/>
              Platt	Spencer<br/>
              Ponjuan	Luis<br/>
              Powell Wizdom<br/>
              Pérez II David<br/>
              Ravenhell	Joseph<br/>
              Rich John<br/>
              Richardson Joseph<br/>
              Rivera Jason<br/>
              Rodriguez	Sarah<br/>
              Rodriguez	Linda<br/>
              Salinas Jr.	Cristobal<br/>
              Scheitler	AJ<br/>
              Shannon	Morgan<br/>
              Shek Yen Ling<br/>
            </div>
            <div class="col-md-3 col-sm-12">

              Slopen Natalie<br/>
              Soodjinda	Daniel<br/>
              Spohn	Cassia<br/>
              Stevenson	Howard<br/>
              Sáenz	Victor<br/>
              Tachine	Amanda<br/>
              Takeuchi David<br/>
              Tatum	Alfred<br/>
              Tengan Ty<br/>
              Thangaraj	Stanley<br/>
              Thierry	Jordan<br/>
              Toldson	Ivory<br/>
              Tran Minh<br/>
              Treadwell	Henrie<br/>
              Trujillo	Matthew<br/>
              Urias	Marissa<br/>
              Vega Juan<br/>
              Voisin Dexter<br/>
              Walters	Howard<br/>
              Warren Chezare<br/>
              Watkins	Daphne<br/>
              Winn Donna-Marie<br/>
              Wood J. Luke<br/>
              Yeh	Theresa<br/>
              Young	Alford<br/>
            </div>
          </div>
        </div>
        <!--end of row-->
      </div>
        <div class="modal-instance">
          <div class="modal-container">
                <div class="modal-content imagebg text-center">
                    <div class="container">
                        <div class="row">
                            <h2>Get notified as soon as we launch!</h2>
                            <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name and email address and agree to the terms.">
                                <div class="col-md-4 col-sm-4">
                                    <input class="validate-required" type="text" name="NAME" placeholder="Your Name" />
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address" />
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <button type="submit" class="btn btn--primary type--uppercase">Subscribe</button>
                                </div>
                                <div class="col-sm-12">
                                    <input class="validate-required" type="checkbox" name="group[13737][1]" />
                                    <span>I have read and agree to the
                                        <a href="#">terms and conditions</a>
                                    </span>
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
                                </div>
                            </form>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>
            </div>
          <!--end modal container-->
        </div>
        <!--end modal instance-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
