  <section id="activities" class="bg--primary">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h4 class="color--orange title-font-alt">OUR activities</h4>
          <hr class="" style="width: 20%;"/>
          <h1 class="color--orange">Our Responses & Activity Categories</h1>
          <h4 class="type--fade">
            Community‐based organizations, educational institutions, and other entities have launched hundreds of initiatives across the U.S. focused on boys and men of color.
            Foundations have invested considerably in these  initiatives, research studies, and  evaluation projects.
            Despite this, life experiences and outcomes among boys and men of color remain largely unchanged; in some instances, they have worsened over time.
          </h4>
          <h4>In response to these problems and opportunities, RISE has six main activity categories:</h4>
          
        </div>
        <div class="col-md-6 col-md-offset-1">
          <br/><br/><br/><br/>
          <div class="tabs-container" data-content-align="center">
            <ul class="tabs">
          		<li class="active">
          			<div class="tab__title text-center">
          				<i class="icon icon--sm block icon-CLASS"></i>
          				<span class="h5">#1</span>
          			</div>
                <div class="tab__content">
                  <h5>Response #1</h5>
          				<p>Convening education, health, human services and social policy, juvenile and criminal justice, and workforce development researchers and evaluators to take stock of what is known and what remains to be known about Native American, Asian American and Pacific Islander, Black, and Latino boys and men. At each convening, boys and men of color, families, community stakeholders, policymakers, and practitioners will help scholars identify urgent, culturally responsive research and evaluation needs. Scholars will be convened within and across the five fields.</h3>
          			</div>
          		</li>
          		<li>
          			<div class="tab__title">
          				<span class="h5">#2</span>
          			</div>
          			<div class="tab__content">
          				Translating research and evaluation results from the five fields for policymakers, community stakeholders, journalists, and practitioners.
          			</div>
          		</li>
          		<li>
          			<div class="tab__title">
          				<span class="h5">#3</span>
          			</div>
          			<div class="tab__content">
          				Maintaining a vibrant virtual community that unites evaluators and researchers across the five fields with each other and promotes learning and action by policymakers, community agents, and practitioners. This dynamic web portal will include an extensive, open-access library of research on boys and men of color, a national directory of experts on each ethnic group and in each field, occasional virtual community engagement forums, and numerous other resources.
          			</div>
          		</li>
              <li>
          			<div class="tab__title">
          				<span class="h5">#4</span>
          			</div>
          			<div class="tab__content">
          				Developing cohorts and communities of postdoctoral fellows, Ph.D. students, and undergraduates of color to study boys and men of color and rigorously evaluate programs that serve them.
          			</div>
          		</li>
          		<li>
          			<div class="tab__title">
          				<span class="h5">#5</span>
          			</div>
          			<div class="tab__content">
          				Identifying emerging solutions with and on behalf of boys and men of color. This will be done through the regranting of funds for new research studies, ideation challenges, and program evaluation and capacity-building efforts.
          			</div>
          		</li>
              <li>
          			<div class="tab__title">
          				<span class="h5 no-margin">#6</span>
          			</div>
          			<div class="tab__content">
          				Disaggregating data by race, ethnicity, and sex for Native Americans, Asian Americans and Pacific Islanders, Blacks, and Latinas/os. Also creating new databases and data systems, while more finely disaggregating data within existing national data systems.
          			</div>
          		</li>
          	</ul>
          </div><!--end of tabs container-->
        </div>
      </div>
      <hr/>



    </div>
  </section>
