
  <section class="bg--secondary">

    <div class="container">

      <h1>RISE Activities</h1>
      <h3>Community‐based organizations, educational institutions, and other entities have launched hundreds of initiatives across the U.S. focused on boys and men of color. Foundations have invested considerably in these initiatives, research studies, and evaluation projects. Despite this, life experiences and outcomes among boys and men of color remain largely unchanged; in some instances, they have worsened over time.</h5>
      <h4>In response to these problems and opportunities, RISE has six main activity categories:</h4>
      <ol class="lead">
        <li>Convening education, health, human services and social policy, juvenile and criminal justice, and workforce development researchers and evaluators to take stock of what is known and what remains to be known about Native American, Asian American and Pacific Islander, Black, and Latino boys and men. At each convening, boys and men of color, families, community stakeholders, policymakers, and practitioners will help scholars identify urgent, culturally responsive research and evaluation needs. Scholars will be convened within and across the five fields.</li>
        <li>Translating research and evaluation results from the five fields for policymakers, community stakeholders, journalists, and practitioners.</li>
        <li>Maintaining a vibrant virtual community that unites evaluators and researchers across the five fields with each other and promotes learning and action by policymakers, community agents, and practitioners. This dynamic web portal will include an extensive, open-access library of research on boys and men of color, a national directory of experts on each ethnic group and in each field, occasional virtual community engagement forums, and numerous other resources.</li>
        <li>Developing cohorts and communities of postdoctoral fellows, Ph.D. students, and undergraduates of color to study boys and men of color and rigorously evaluate programs that serve them.</li>
        <li>Identifying emerging solutions with and on behalf of boys and men of color. This will be done through the regranting of funds for new research studies, ideation challenges, and program evaluation and capacity-building efforts.</li>
        <li>Disaggregating data by race, ethnicity, and sex for Native Americans, Asian Americans and Pacific Islanders, Blacks, and Latinas/os. Also creating new databases and data systems, while more finely disaggregating data within existing national data systems.</li>
      </ol>
    </div>

  </section>
  
