<section id="h_nav" class="cta cta-4 space--xxs bg--secondary">
  <div class="bar color--primary " data-scroll-class="600px:pos-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="bar__module">
            <ul class="menu-horizontal h4">
              <li>
                  <a href="#principles">Principles</a>
              </li>
              <li>
                  <a href="#activities">Activities</a>
              </li>
              <li>
                  <a href="#funders">Funders</a>
              </li>
              <li>
                  <a href="#co_conveners">Co-conveners</a>
              </li>
              <li>
                  <a href="#advisory_board">Advisory Board</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
