<section id="hero" class="imagebg image--dark bg--primary videobg height-50 text-center" data-overlay="8">

  <div class="youtube-background" data-video-url="https://youtu.be/fyqR28x0-Wo" data-start-at="10"></div>

  <div class="background-image-holder">
    <img alt="image" src="poster.jpg" />
  </div>
  <br/><br/><br/>
  <div class="container pos-vertical-center">
    <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="article__title">
                <h4>Rise for Boys and Men of Color</h4>
                <hr/>
                <h1>Better Understanding Means Better Strategy & Better Outcomes</h1>
                <br/>
                <p>
                  <%#= image_tag("rise_assets/home/hero/icon/icon-scroll.png")%>
                </p>
              </div>
          </div>
      </div>
      <!--end of row-->
  </div>
</section>
