<section id="intro" class="switchable switchable--switch feature-large">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="video-cover border--round box-shadow-wide">
                    <div class="background-image-holder">
                        <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
                    </div>
                    <div class="video-play-icon"></div>
                    <iframe src="https://www.youtube.com/watch?v=fyqR28x0-Wo&feature=youtu.be" allowfullscreen="allowfullscreen"></iframe>
                </div>
                <!--end video cover-->
            </div>
            <div class="col-sm-6 col-md-5">
                <div class="switchable__text">
                    <h2>RISE for boys and men of color is an interdiscplinary field advancment effort.</h2>
                    <p class="lead">
                        We aim to understand and strategically improve the lives, experiences, and outcomes of boys and men of color in the United States.
                    </p>
                    <a href="#" class="btn ">Learn More &raquo;</a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="height-40 switchable feature-large bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br/>
                <%= image_tag("rise_assets/issue_briefs/yu/hero.png", class: "border--round box-shadow-wide")%>
            </div>
            <div class="col-sm-6 col-md-5">
                <div class="switchable__text">
                    <h2>We focus on 4 Populations</h2>
                    <p class="lead">
                      RISE focuses on four populations: Asian American and Pacific Islanders, Blacks, Latinos, and Native Americans.
                    </p>
                    <a href="#" class="btn ">Learn More &raquo;</a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="space--sm height-40 switchable switchable--switch bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

              <%= image_tag("rise_assets/issue_briefs/smedley/hero.png", class: "border--round box-shadow-wide")%>
            </div>
            <div class="col-sm-6 col-md-5">
              <div class="switchable__text">
                <h2>Our work spans five fields</h2>
                <p class="lead">
                  Our work spans five fields (education, health, human services, and social policy, juvenile and criminal justices, and workforce development)
                </p>
                <a href="#" class="btn ">Learn More &raquo;</a>
              </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
