<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="article__body ">
          <h2 class="text-center">Rise for boys and Men of Color is a $10 million field advancment effort.</h2>
          <p>We aim to understand and strategically improve the lives, experiences, and outcomes of boys and men of color in the United States. RISE spans five filds (education, health, human services, and social policy, juvenile and criminal justices, and workforce development)
          and focuses on four populations (Asian Americans and Pacific Islanders, Blacks, Latinos, and Native Americans).</p>
        </div>
      </div>
    </div>
  </div>
</section>
