<section id="principles" class="bg--primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-offset-1">
          <h4 class="text-center color--orange title-font-alt">RISE Principles</h4>
          <hr class="center" style="width: 20%;"/>
          <h1 class="text-center color--yellow">Our Responses & Activity Categories</h1>
          <h4 class="type--fade text-center">
            Ten principles were used to construct a RISE theory of change and develop its strategic activities. These principles respond to longstanding needs, challenges, and opportunities in academic research, community-based and youth-serving organizations, government and policymaking venues, and media.
          </h4>
        </div>
      </div>
      <br/><br/>
      <div class="row">

        <div class="slider" data-arrows="true" data-paging="true">
          	<ul class="slides">
          		<li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                  <div class="feature__body">
                    <h6>Principle #1</h6>
                    <h4 class="">Narrative Change</h4>
                    <p class="lead no-margin">Moving beyond hopeless, criminalized, deficit-oriented, and racist misrepresentations of boys and men of color.</p>
                  </div>
                </div>
              </li>
          		<li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                  <div class="feature__body">
                    <h6>Principle #2</h6>
                    <h4>Primary, Gender-Specific Focus on Boys and Men of Color</h4>
                    <p class="lead no-margin">Bringing greater clarity to the gender-specific needs and issues of boys and men of color, which necessarily entails determining what distinguishes the experiences of girls and women of color.</p>
                  </div>
                </div>
              </li>
          		<li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                  <div class="feature__body">
                    <h6>Principle #3</h6>
                    <h4>Balanced Treatment of Racial and Ethnic Groups </h4>
                    <p class="lead no-margin">Expanding what is known about Black boys and men, while devoting considerably more attention to Asian Americans and Pacific Islanders, Latinos, and Native Americans.</p>
                  </div>
                </div>
              </li>


              <li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                  <div class="feature__body">
                    <h6>Principle #4</h6>
                    <h4>Interdisciplinarity</h4>
                    <p class="lead no-margin">
                      Understanding the interconnectedness of systems and conditions that work together to support and cyclically disadvantage boys and men of color; recognizing, for exmaple, that inequities in education and health are inextricably linked.
                    </p>
                  </div>
              </div>
              </li>
          		<li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                  <div class="feature__body">
                    <h6>Principle #5</h6>
                    <h4>Intersectionality</h4>
                    <p class="lead no-margin">
                      Recognizing how race intersects with socioeconomic status, sexual orientation, language, (dis)ability, religion, and a range of identities that boys and men of color possess and perform.
                    </p>
                  </div>
                </div>
              </li>
          		<li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                  <div class="feature__body">
                    <h6>Principle #6</h6>
                    <h4>Disaggregated Data Analysis</h4>
                    <p class="lead no-margin">Analyzing data in more rigorous and responsible ways to highlight the unique needs, experiences, and outcomes of subgroups within each focal racial/ethnic group.</p>
                  </div>
                </div>
              </li>


              <li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                  <div class="feature__body">
                    <h6>Principle #7</h6>
                    <h4>Networks and Collective Action</h4>
                    <p>Bringing together networks of committed individuals and organizations to collaborate, share knowledge and effective strategies, leverage relationships and access to resources, and demonstrate solidarity in support of boys and men of color.</p>
                  </div>
                </div>
              </li>
          		<li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                    <div class="feature__body">
                      <h6>Principle #8</h6>
                      <h4>Culturally Relevant, Authentic, Inclusive and Rigorous Evaluation</h4>
                      <p>Ensuring programs that serve boys and men of color are rigorously and appropriately assessed by scholars of color and other evaluators who deeply understand cultural contexts and appreciate viewpoints people of color offer.</p>
                    </div>
                </div>
              </li>
          		<li class="col-sm-4">
                <div class="height-30 bg--white boxed boxed--lg">
                  <div class="feature__body">
                    <h6>Principle #9</h6>
                    <h4>Structural, Systemic, and Policy Change</h4>
                    <h4>Working to dismantle systems of oppression and institutionalized racism by strategically using research on boys and men of color to inform policymaking and philanthropy.</p>
                  </div>
                </div>
              </li>



          	</ul>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
</section>
