
<section class="bg--primary bg--dark">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="article__body">
          <h3>RISE Principles</h3>
          <p>Ten principles were used to construct a RISE theory of change and develop its strategic activities. These principles respond to longstanding needs, challenges, and opportunities in academic research, community-based and youth-serving organizations, government and policymaking venues, and media.</p>
          <div class="row">
            <div class="col-md-6">
              <ol class="lead">
                <li><h5>Narrative Change</h5> Moving beyond hopeless, criminalized, deficit-oriented, and racist misrepresentations of boys and men of color.</li>
                <li><h5>Primary, Gender-Specific Focus on Boys and Men of Color</h5> Bringing greater clarity to the gender-specific needs and issues of boys and men of color, which necessarily entails determining what distinguishes the experiences of girls and women of color.</li>
                <li><h5>Balanced Treatment of Racial and Ethnic Groups</h5> Expanding what is known about Black boys and men, while devoting considerably more attention to Asian Americans and Pacific Islanders, Latinos, and Native Americans.</li>
                <li><h5>Interdisciplinarity </h5> Understanding the interconnectedness of systems and conditions that work together to support and cyclically disadvantage boys and men of color; recognizing, for example, that inequities in education and health are inextricably linked.</li>
                <li><h5>Intersectionality</h5> Recognizing how race intersects with socioeconomic status, sexual orientation, language, (dis)ability, religion, and a range of identities that boys and men of color possess and perform.</li>
              </ol>
            </div>
            <div class="col-md-6">
              <ol class="lead">
                <li><h5>Disaggregated Data Analysis</h5> Analyzing data in more rigorous and responsible ways to highlight the unique needs, experiences, and outcomes of subgroups within each focal racial/ethnic group.</li>
                <li><h5>Networks and Collective Action</h5> Bringing together networks of committed individuals and organizations to collaborate, share knowledge and effective strategies, leverage relationships and access to resources, and demonstrate solidarity in support of boys and men of color.</li>
                <li><h5>Culturally Relevant, Authentic, Inclusive and Rigorous Evaluation</h5> Ensuring programs that serve boys and men of color are rigorously and appropriately assessed by scholars of color and other evaluators who deeply understand cultural contexts and appreciate viewpoints people of color offer.</li>
                <li><h5>Multiple Ways of Knowing</h5> Acknowledging that people of color are experts on their own experiences and appreciating various forms of knowledge, research and evaluation methods, and approaches to presenting evidence.</li>
                <li><h5>Structural, Systemic, and Policy Change</h5> Working to dismantle systems of oppression and institutionalized racism by strategically using research on boys and men of color to inform policymaking and philanthropy.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
