<section class="imagebg bg-gradient-1 videobg height-50 text-center box-shadow-light" data-overlay="9">
   <div class="youtube-background" data-video-url="https://youtu.be/JN4wlkTfQSk" data-start-at="10"></div>
  <div class="container pos-vertical-center">

    <h1>Asian American and Pacific Islander Boys and Men: The Risk of Being Missed in the U S 2020 Census</h1>
    <h3 class="color--bright-yellow title-font-alt">Presented by Neil Horikoshi and Terry Ao Miinis</h3>
    <br/>
    <div class="modal-instance">
      <div class="modal-container">
        <div class="modal-content bg-dark" data-width="100%" data-height="60%">
          <iframe  width="1280" height="720" src="https://www.youtube.com/embed/JN4wlkTfQSk" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end of modal-content-->
      </div>
      <!--end of modal-container-->
      <div class="video-play-icon video-play-icon--lg modal-trigger">
      </div>
    </div>
    <!--end video-->
  </div>
</section>

<section class="">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="title-font-alt">Full Article</h4>
        <h1>The Risk of Being Missed in the U.S. 2020 Census<h1>
        <h3>Asian American and Pacific Islander Boys and Men</h3>
        <hr/>
        <h4>
          by Neil Horikoshi, Terry Ao Minnis<br/>
          Asian & Pacific Islander American Scholarship Fund<br/> Asian Americans Advancing Justice | AAJC
        </h4>
        <p>
          <%#= link_to "My PDF", asset_path("pdf_file.pdf") %>

          <%= link_to issues_download_post6_url, class: "btn btn--sm btn--rise-orange" do %>
            Download Full Report <i class="material-icons">&#xE2C4;</i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
