<section class="unpad">
  <div class="imagebg bg-gradient-issue-brief-post text-center height-50" data-overlay="9">
    <div class="background-image-holder">
      <%= image_tag("issue-brief/6/header.png") %>
    </div>
    <div class="container">
      <br/><br/><br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>The Risk of Being Missed in the U.S. 2020 Census<h1>
            <h3>Asian American and Pacific Islander Boys and Men</h3>
            <hr/>
            <h4 class="title-font-alt">by Horikoshi, Ao Minnis</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
