<section class="bg--secondary unpad">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="title-font-alt text-center">Introduction</h4>
        <h4>
          Mandated by the U.S. Constitution for purposes of congressional apportionment, census data are used for many purposes—from redistricting to the allocation of more than $600 billion in federal funding annually to states, localities, and families. As such, the count must be accurate, both numerically and geographically. Accuracy is measured by the number of duplicate responses (resulting in overcounts) and omissions or missed persons (resulting in undercounts) in a decennial census, with the net undercount or net overcount resulting from subtracting overcounts from undercounts.
        </h4>
        <h4>A “differential undercount” for certain population groups exists in every census. People of color are missed more often than non-Hispanic Whites (who actually were overcounted in the 2010 Census). Males are generally missed at higher rates than females, especially for certain age groups.3 Children, especially those younger than five, are also significantly undercounted, with the undercount of children of color even more disproportionate.4 Asian American and Pacific Islander (AAPI) boys and men are susceptible to not being fully counted in the 2020 Census, especially in light of innovations to the census and the current political climate. Being missed would mean AAPI boys and men will not get their fair share of resources and political power. These omissions will also exacerbate the “barriers that are too often underreported, overlooked, and misrepresented through empirical research,” making AAPI boys and men more susceptible to the lack of access to “opportunities for educational success and upward mobility.” Fortunately, there are opportunities to help ensure a fair and accurate count of AAPI boys and men if there is the will—and the funding—to make it happen.
        </h4>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
