
<section class="">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="title-font-alt">Full Article</h4>
        <h1>Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color</h1>
        <h5>by Smedley</h5>
        <br/>
        <p>
          <%= link_to issues_download_post3_url, class: "btn btn--sm btn--rise-orange" do %>
            Download Full Report <i class="material-icons">&#xE2C4;</i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
