<section class="unpad">
  <div class="imagebg bg--primary text-center height-40" data-overlay="8">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/ideation-challenge/hero-ideation-challenge.png") %>
    </div>
    <div class="container">
      <br/>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h2>Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color</h2>
            <hr/>
            <h4>Smedley</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
