<section class="unpad">
  <div class="imagebg bg-gradient-issue-brief-post text-center height-50" data-overlay="9">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/issue_briefs/smedley/hero.png") %>
    </div>
    <div class="container">
      <br/><br/><br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color</h1>
            <hr/>
            <h4>Smedley</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
