
<section class="bg--secondary">
  <div class="container">
    <div class="row article__body">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="title-font-alt text-center">research briefs</h4>
        <p>
          After decades of documenting and lamenting the inequities that constrain opportunity and shorten the lifespans of boys and men of color (BMOC), researchers, educators, policymakers, and community leaders are intensively exploring intervention strategies to help this population realize its true potential. Stimulated in part by President Obama’s My Brother’s Keeper initiative, these leaders are working to help boys of color enter school well-prepared to learn, help K–12 educational systems to retain and propel them to higher education, keep boys of color out of juvenile and criminal justice systems, and help their families escape poverty through job training and placement, among other efforts. These strategies are gaining traction, which is encouraging and illustrative of how sustained investment and commitment can help reverse the trajectories of BMOC and help them achieve their dreams.
        </p>
      </div>
    </div>
  </div>
</section>
