<section class="cover height-30 imagebg bg--primary" data-overlay="8">
  <div class="background-image-holder">
    <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
  </div>
  <div class="container pos-vertical-center text-center">
    <h1 class="title-font-alt no-margin">The Media Page</h1>
    <hr style="width: 50%; border-color: rgba(245, 208, 0, .75); border-width: 2px;" class="center"/>
  </div>
</section>


<section>
  <div class="container">
    <div class="row media-center">
      <div class="col-sm-6">
        <h3 class="no-margin">Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color</h3>
        <h4>Dr. Brian Smedley</h4>
        <div class="video-cover border--round">
          <div class="background-image-holder">
              <img alt="image" src="https://i.ytimg.com/vi/84qDJ-5z-Bg/hqdefault.jpg" />
          </div>
          <div class="video-play-icon"></div>
          <iframe src="https://www.youtube.com/embed/84qDJ-5z-Bg?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end video cover-->
        <br/>
      </div>
      <div class="col-sm-6">
        <h3 class="no-margin">The Significance of Data Disaggregation in the Study of Boys and Men of Color</h3>
        <h4>Dr. Robert Teranishi</h4>
        <div class="video-cover border--round">
          <div class="background-image-holder">
              <img alt="image" src="https://i.ytimg.com/vi/Ig_2NsvDR-U/hqdefault.jpg" />
          </div>
          <div class="video-play-icon"></div>
          <iframe src="https://www.youtube.com/embed/Ig_2NsvDR-U?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end video cover-->
        <br/>
      </div>
      <div class="col-sm-6">
        <h3 class="no-margin">Developing Policies to Respond to the Challenges Confronting African American and Latino Males</h3>
        <h4>Dr. Pedro N oguera</h4>
        <div class="video-cover border--round">
          <div class="background-image-holder">
              <img alt="image" src="https://i.ytimg.com/vi/2-SWAvQPzto/hqdefault.jpg" />
          </div>
          <div class="video-play-icon"></div>
          <iframe src="https://www.youtube.com/embed/2-SWAvQPzto?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end video cover-->
        <br/>
      </div>


      <!-- Webinars -->

      <div class="col-sm-6">
        <h3 class="no-margin">Improving Community College Success for Young Men of Color A Policy and Systems Change..</h3>
        <h4>Marc Philpart, J. Luke Wood, Frank Harris, and Victor Rubin</h4>
        <div class="video-cover border--round">
          <div class="background-image-holder">
              <img alt="image" src="https://i.ytimg.com/vi/FZaE3u1ngZg/hqdefault.jpg" />
          </div>
          <div class="video-play-icon"></div>
          <iframe src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end video cover-->
        <br/>
      </div>

      <div class="col-sm-6">
        <h3 class="no-margin">Educational and Behavioral Health Service Disparities for Youth of Color</h3>
        <h4>Dr. Margarita Alegria</h4>
        <div class="video-cover border--round">
          <div class="background-image-holder">
              <img alt="image" src="https://i.ytimg.com/vi/xhf3dHe2Wg8/hqdefault.jpg" />
          </div>
          <div class="video-play-icon"></div>
          <iframe src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end video cover-->
        <br/>
      </div>

      <div class="col-sm-6">
        <h3 class="no-margin">Leadership and Administration Sustaining Diversity and Why Culture Matters</h3>
        <h4>Dr. Arthur Hernandez</h4>
        <div class="video-cover border--round">
          <div class="background-image-holder">
              <img alt="image" src="https://i.ytimg.com/vi/TOeY5OC2QyM/hqdefault.jpg" />
          </div>
          <div class="video-play-icon"></div>
          <iframe src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <!--end video cover-->
        <br/>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
