<section class="unpad">
  <div class="imagebg bg--primary text-center height-60" data-overlay="8">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
    </div>
    <div class="container">
      <br/><br/><br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>Where are our American Indian / Alaskan Native Boys and Young Men?</h1>
            <hr/>
            <h4>Latest Publication</h4>
            <p>
              <%= link_to issues_post1_path, class: "btn btn--sm btn--rise-orange" do %>
                View Brief 
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
