
<section class="bg--secondary">
  <div class="container">
    <div class="row article__body">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="title-font-alt text-center">research briefs</h4>
        <div class="article__body">
          <p class="lead">RISE aims to impact the lives of boys and men of color through knowledge production. Here, you will find forward-thinking research grounded in the RISE principles, by thought leaders who focus on the experience of Asian Americans and Pacific Islanders, Blacks, Latinos, and Native Americans. Within these publications are examinations of phenomena and relevant issues that affect the experiences of boys of color within the five RISE fields (education, health, human services and policy, juvenile and criminal justice, and workforce development). The goal of these works is to model how research can be used to make substantative change on behalf of boys and men of color and provide new ways of approaching challenges they face.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
