  <!-- Content -->
  <div class="content clearfix">

		<!-- Fullscreen Slider Section -->
		<section class="section-block featured-media window-height tm-slider-parallax-container">
			<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-scale-under="960" data-speed="1100" data-scale-min-height="500">
				<ul class="tms-slides">
					<li class="tms-slide" data-image data-force-fit data-animation="scaleIn" data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.50">
						<div class="tms-content">
							<div class="tms-content-inner left">
								<div class="row">
									<div class="column width-6" style="border-right: 1px solid #fff;">
										<img data-src="images/logos/fc_logotype_2_white.svg" data-retina src="images/blank.png" alt=""/>
									</div>
									<div class="column width-1">
									""
									</div>
									<div class="column width-5">
										<!-- Intro Title -->
										<div class="pb-0 intro-title-1 clear-height pt-150">
											<div class="row">
												<div class="column width-10">
													<div class="title-container">
														<div class="title-container-inner">
															<h3 class="title-large color-grey-ultralight" style="font-size: 48px;">
																We bring together <br/>Fashion + Technology scenes all over the world.
															</h1>
															<br/>
															<p>
																<a href="#" class="button bkg-black hard-shadow border-hover-facebook color-white color-hover-facebook" style="font-size: 2rem;">
																	<span class="icon-facebook left"></span>
																	Get Invited
																</a>
																<p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Intro Title End -->
									</div>
								</div>
								<div class="row">
									<div class="column width-7">
										<h1 class="title-large color-white mb-30">
											<span class="tms-caption" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-no-scale>Balzac.</span>
										</h1>
									</div>
									<div class="column width-7">
										<p class="tms-caption text-medium weight-regular color-white mb-30"
											data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;"
											data-no-scale
										>
											We're a leading ad agency in New York city. Here are some samples of our recent work.
										</p>
										<div class="tms-caption"
											data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;"
											data-x="center"
											data-y="bottom"
											data-offsety="50"
										>
											<a href="#recent-work" data-offset="-260" class="scroll-link text-small weight-bold color-white" data-offset="-60">See Work</a>
											<span class="text-small color-white">/</span>
											<a href="#" class="next-full-width-slider text-small weight-bold color-white" data-offset="-60">See Presentation</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<img data-src="<%= image_url("stock/5.jpg")%>" data-retina src="images/blank.png" alt=""/>
					</li>
				</ul>
			</div>
		</section>
		<!-- Fullscreen Slider Section End -->

		<!-- Intro Title -->
		<div class="section-block intro-title-1 clear-height pt-100 pb-20">
			<div class="row">
				<div class="column width-12">
					<div class="row">
						<div class="column width-2 pb-20">
							<img src="images/logos/fc_logotype_1.png" data-retina src="images/blank.png" alt=""/>
						</div>
					</div>
					<div class="title-container">
						<div class="row">
							<div class="column width-7">
								<div class="title-container-inner">
									<h1 class="title-large" style="font-size: 40px; line-height 60px;">
									Our fearless leaders.</h1>
								</div>
							</div>
						</div>
					</div>
					<!-- Team Grid -->
				</div>
			</div>
		</div>
		<div class="section-block team-2 pt-0">
			<div class="row">
				<div class="column width-12">
					<h4 class="vertical-title mb-mobile-50">F-collective Team</h4>
				</div>
			</div>
			<div class="row">
				<div class="column width-12">
					<div class="row content-grid-3">
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
									<img src="images/team/team-member-1.jpg" width="760" height="760" alt=""/>
									<div class="caption-over-outer">
										<div class="caption-over-inner v-align-bottom color-charcoal">
											<h4>Jason Andrews</h4>
										</div>
									</div>
								</div>
								<div class="team-content-info background-none mb-mobile-50">
									<h6 class="occupation">Designer, Illustrator</h6>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
									<ul class="social-list list-horizontal">
										<li><a href="#"><span class="icon-facebook small"></span></a></li>
										<li><a href="#"><span class="icon-twitter small"></span></a></li>
										<li><a href="#"><span class="icon-github small"></span></a></li>
									</ul>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
									<img src="images/team/team-member-2.jpg" width="760" height="760" alt=""/>
									<div class="caption-over-outer">
										<div class="caption-over-inner v-align-bottom color-charcoal">
											<h4>Emma Casey</h4>
										</div>
									</div>
								</div>
								<div class="team-content-info background-none mb-mobile-50">
									<h6 class="occupation">Project Manager</h6>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
									<ul class="social-list list-horizontal">
										<li><a href="#"><span class="icon-facebook small"></span></a></li>
										<li><a href="#"><span class="icon-linkedin small"></span></a></li>
										<li><a href="#"><span class="icon-px small"></span></a></li>
									</ul>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
									<img src="images/team/team-member-3.jpg" width="760" height="760" alt=""/>
									<div class="caption-over-outer">
										<div class="caption-over-inner v-align-bottom color-charcoal">
											<h4>Dale Andersson</h4>
										</div>
									</div>
								</div>
								<div class="team-content-info background-none mb-mobile-50">
									<h6 class="occupation">Junior Designer</h6>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
									<ul class="social-list list-horizontal">
										<li><a href="#"><span class="icon-facebook small"></span></a></li>
										<li><a href="#"><span class="icon-linkedin small"></span></a></li>
										<li><a href="#"><span class="icon-px small"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Team Grid End -->
		</div>
	 </div>


	<!-- Intro Title -->
	<div class="section-block pb-0 intro-title-1 clear-height pt-60 bkg-black color-grey-ultralight">
		<div class="row">
			<div class="column width-12">
				<div class="title-container">
					<div class="title-container-inner">
						<h4 style="inline-block; padding: 5px 0px 0px 0; text-align: left; text-transform: uppercase; word-spacing: 5px; ">the collectives</h4>
							<h1 class="title-large">
							<span class="pink" style="color: #FF69B4;">People</span> and everything in between from fashion technology scenes all the world craig from borough to.
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Intro Title End -->
	<div class="section-block grid-filter-menu right left-on-mobile bkg-black color-grey-ultralight" data-target-grid="#recent-posts">
		<div class="row">
			<div class="column width-12">
				<ul>
					<li>Categories:</li>
					<li><a class="active scroll-link" href="#recent-posts" data-offset="-120" data-filter="*">All <sup class="project-count"></sup></a></li>
					<li><a class="scroll-link" href="#recent-posts" data-offset="-120" data-filter=".culture">Culture <sup class="project-count"></sup></a></li>
					<li><a class="scroll-link" href="#recent-posts" data-offset="-120" data-filter=".work">Work <sup class="project-count"></sup></a></li>
					<li><a class="scroll-link" href="#recent-posts" data-offset="-120" data-filter=".general">General <sup class="project-count"></sup></a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Team Grid -->
	<div class="section-block team-2">
	  <div class="row">
	    <div class="column width-12">
	      <h4 class="vertical-title mb-mobile-50">F-collective Worldwide</h4>
	    </div>
	  </div>
	  <div class="row">
	    <div class="column width-12">
	      <div class="row content-grid-6">



	        <div class="grid-item">
						<div class="wrapper">
	          	<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
	            <img src="http://www.ragtradeatlanta.com/wp-content/uploads/2015/07/Edmound-Newton-1170x1561.jpeg" width="760" height="760" alt=""/>
	            <div class="caption-over-outer">
	              <div class="caption-over-inner v-align-bottom">
	                <h4>Jason A.</h4>
	              </div>
	            </div>
	          </div>
	          <div class="team-content-info mb-mobile-50">
	            <h6 class="occupation">Designer</h6>
	            <ul class="social-list list-horizontal">
	              <li><a href="#"><span class="icon-facebook small"></span></a></li>
	              <li><a href="#"><span class="icon-twitter small"></span></a></li>
	              <li><a href="#"><span class="icon-github small"></span></a></li>
	            </ul>
	          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://s-media-cache-ak0.pinimg.com/originals/55/9c/d4/559cd49efc61a288c4099781d6261dd2.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom ">
		                <h4>Emma C.</h4>
		              </div>
		            </div>
							</div>
	          	<div class="team-content-info mb-mobile-50">
	            <h6 class="occupation">Project Manager</h6>
	            <ul class="social-list list-horizontal">
	              <li><a href="#"><span class="icon-facebook small"></span></a></li>
	              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
	              <li><a href="#"><span class="icon-px small"></span></a></li>
	            </ul>
	          </div>
	        	</div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
					 		<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
						 <img src="https://s-media-cache-ak0.pinimg.com/736x/dd/01/c0/dd01c02b9103d33e64a857de6175df51--street-fashion-men-mens-fashion-week.jpg" width="760" height="760" alt=""/>
						 <div class="caption-over-outer">
							 <div class="caption-over-inner v-align-bottom ">
								 <h4>Dale A.</h4>
							 </div>
						 </div>
					 </div>
					 		<div class="team-content-info background-none mb-mobile-50">
						 <h6 class="occupation">Junior Designer</h6>
						 <ul class="social-list list-horizontal">
							 <li><a href="#"><span class="icon-facebook small"></span></a></li>
							 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
							 <li><a href="#"><span class="icon-px small"></span></a></li>
						 </ul>
					 </div>
				 		</div>
				 	</div>
					<div class="grid-item">
						<div class="wrapper">
						 	<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
								<img src="https://s-media-cache-ak0.pinimg.com/736x/97/52/49/9752491ac6445a1997a83a0ecca90717--tokyo-fashion-men-fashion.jpg" width="760" height="760" alt=""/>
								<div class="caption-over-outer">
							 		<div class="caption-over-inner v-align-bottom">
								 		<h4>Dale A.</h4>
							 		</div>
								 </div>
							</div>
							<div class="team-content-info background-none mb-mobile-50">
								 <h6 class="occupation">Junior Designer</h6>
								 <ul class="social-list list-horizontal">
									 <li><a href="#"><span class="icon-facebook small"></span></a></li>
									 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
									 <li><a href="#"><span class="icon-px small"></span></a></li>
								 </ul>
							 </div>
						</div>
				 	</div>
					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="http://dresstokillmagazine.com/wp-content/uploads/2016/04/Coeur-de-Pirate.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation"></h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
							<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							 <img src="https://heymikeyatl.files.wordpress.com/2016/06/free-people-february-2016-catalog-photos02.jpg" width="760" height="760" alt=""/>
							 <div class="caption-over-outer">
								 <div class="caption-over-inner v-align-bottom ">
									 <h4>Dale A.</h4>
								 </div>
							 </div>
						 	</div>
						 	<div class="team-content-info background-none mb-mobile-50">
							 <h6 class="occupation">Junior Designer</h6>
							 <ul class="social-list list-horizontal">
								 <li><a href="#"><span class="icon-facebook small"></span></a></li>
								 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
								 <li><a href="#"><span class="icon-px small"></span></a></li>
							 </ul>
						 </div>
					 </div>
				  </div>
				  <div class="grid-item">
				 		<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="http://6uh9u7hhy8-flywheel.netdna-ssl.com/wp-content/uploads/2017/05/Jeedah-from-Atlanta.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom ">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
				 	<div class="grid-item">
					 <div class="wrapper">
						 <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							 <img src="http://www.kontrolmag.com/wp-content/uploads/2016/08/cam-newton-0816-05.jpg" width="760" height="760" alt=""/>
							 <div class="caption-over-outer">
								 <div class="caption-over-inner v-align-bottom">
									 <h4>Dale A.</h4>
								 </div>
							 </div>
						 </div>
						 <div class="team-content-info background-none mb-mobile-50">
							 <h6 class="occupation">Junior Designer</h6>
							 <ul class="social-list list-horizontal">
								 <li><a href="#"><span class="icon-facebook small"></span></a></li>
								 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
								 <li><a href="#"><span class="icon-px small"></span></a></li>
							 </ul>
						 </div>
					 </div>
				 	</div>
				 <div class="grid-item">
					 <div class="wrapper">
						 <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							 <img src="https://s3.amazonaws.com/whatnowatlanta/media/2015/11/denim-soul-1-1024x1024.jpg" width="760" height="760" alt=""/>
							 <div class="caption-over-outer">
								 <div class="caption-over-inner v-align-bottom">
									 <h4>Emma C.</h4>
								 </div>
							 </div>
						 </div>
						 <div class="team-content-info background-none mb-mobile-50">
							 <h6 class="occupation">Project Manager</h6>
							 <ul class="social-list list-horizontal">
								 <li><a href="#"><span class="icon-facebook small"></span></a></li>
								 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
								 <li><a href="#"><span class="icon-px small"></span></a></li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 <div class="grid-item">
			 		 <div class="wrapper">
						 <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							 <img src="http://media.gq.com/photos/558363153655c24c6c965bd9/master/w_800/style-blogs-the-gq-eye-ss_atl_3.jpg" width="760" height="760" alt=""/>
							 <div class="caption-over-outer">
								 <div class="caption-over-inner v-align-bottom">
									 <h4>Emma C.</h4>
								 </div>
							 </div>
						 </div>
						 <div class="team-content-info background-none mb-mobile-50">
							 <h6 class="occupation">Project Manager</h6>
							 <ul class="social-list list-horizontal">
								 <li><a href="#"><span class="icon-facebook small"></span></a></li>
								 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
								 <li><a href="#"><span class="icon-px small"></span></a></li>
							 </ul>
						 </div>
					 </div>
				 </div>
		     <div class="grid-item">
					 <div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="http://www.talkingwithtami.com/wp-content/uploads/2016/09/JFC20160811_BR2_1061-e1472729905432.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/18380105_1616875985008547_8141375813992841216_n.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
		      <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://static.wixstatic.com/media/9a1a08_3874ce02551c45868a108ba56c450454.jpg_srz_979_1517_85_22_0.50_1.20_0.00_jpg_srz" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://pbs.twimg.com/media/C8mRhGiXgAAeF5M.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Emma C.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Project Manager</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://cdn.shopify.com/s/files/1/0961/8798/t/6/assets/promo6.jpg?7200157294220852355" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
						</div>
				  </div>



					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://static.wixstatic.com/media/9a1a08_3874ce02551c45868a108ba56c450454.jpg_srz_979_1517_85_22_0.50_1.20_0.00_jpg_srz" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://pbs.twimg.com/media/C8mRhGiXgAAeF5M.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Emma C.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Project Manager</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://cdn.shopify.com/s/files/1/0961/8798/t/6/assets/promo6.jpg?7200157294220852355" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
						</div>
				  </div>


					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://static.wixstatic.com/media/9a1a08_3874ce02551c45868a108ba56c450454.jpg_srz_979_1517_85_22_0.50_1.20_0.00_jpg_srz" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://pbs.twimg.com/media/C8mRhGiXgAAeF5M.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Emma C.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Project Manager</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://cdn.shopify.com/s/files/1/0961/8798/t/6/assets/promo6.jpg?7200157294220852355" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
						</div>
				  </div>
					<div class="grid-item">
						<div class="wrapper">
	          	<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
	            <img src="http://www.ragtradeatlanta.com/wp-content/uploads/2015/07/Edmound-Newton-1170x1561.jpeg" width="760" height="760" alt=""/>
	            <div class="caption-over-outer">
	              <div class="caption-over-inner v-align-bottom">
	                <h4>Jason A.</h4>
	              </div>
	            </div>
	          </div>
	          <div class="team-content-info mb-mobile-50">
	            <h6 class="occupation">Designer</h6>
	            <ul class="social-list list-horizontal">
	              <li><a href="#"><span class="icon-facebook small"></span></a></li>
	              <li><a href="#"><span class="icon-twitter small"></span></a></li>
	              <li><a href="#"><span class="icon-github small"></span></a></li>
	            </ul>
	          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://s-media-cache-ak0.pinimg.com/originals/55/9c/d4/559cd49efc61a288c4099781d6261dd2.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom ">
		                <h4>Emma C.</h4>
		              </div>
		            </div>
							</div>
	          	<div class="team-content-info mb-mobile-50">
	            <h6 class="occupation">Project Manager</h6>
	            <ul class="social-list list-horizontal">
	              <li><a href="#"><span class="icon-facebook small"></span></a></li>
	              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
	              <li><a href="#"><span class="icon-px small"></span></a></li>
	            </ul>
	          </div>
	        	</div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
					 		<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
						 <img src="https://s-media-cache-ak0.pinimg.com/736x/dd/01/c0/dd01c02b9103d33e64a857de6175df51--street-fashion-men-mens-fashion-week.jpg" width="760" height="760" alt=""/>
						 <div class="caption-over-outer">
							 <div class="caption-over-inner v-align-bottom ">
								 <h4>Dale A.</h4>
							 </div>
						 </div>
					 </div>
					 		<div class="team-content-info background-none mb-mobile-50">
						 <h6 class="occupation">Junior Designer</h6>
						 <ul class="social-list list-horizontal">
							 <li><a href="#"><span class="icon-facebook small"></span></a></li>
							 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
							 <li><a href="#"><span class="icon-px small"></span></a></li>
						 </ul>
					 </div>
				 		</div>
				 	</div>
					<div class="grid-item">
						<div class="wrapper">
						 	<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
								<img src="https://s-media-cache-ak0.pinimg.com/736x/97/52/49/9752491ac6445a1997a83a0ecca90717--tokyo-fashion-men-fashion.jpg" width="760" height="760" alt=""/>
								<div class="caption-over-outer">
							 		<div class="caption-over-inner v-align-bottom">
								 		<h4>Dale A.</h4>
							 		</div>
								 </div>
							</div>
							<div class="team-content-info background-none mb-mobile-50">
								 <h6 class="occupation">Junior Designer</h6>
								 <ul class="social-list list-horizontal">
									 <li><a href="#"><span class="icon-facebook small"></span></a></li>
									 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
									 <li><a href="#"><span class="icon-px small"></span></a></li>
								 </ul>
							 </div>
						</div>
				 	</div>
					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="http://dresstokillmagazine.com/wp-content/uploads/2016/04/Coeur-de-Pirate.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
							<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							 <img src="https://heymikeyatl.files.wordpress.com/2016/06/free-people-february-2016-catalog-photos02.jpg" width="760" height="760" alt=""/>
							 <div class="caption-over-outer">
								 <div class="caption-over-inner v-align-bottom ">
									 <h4>Dale A.</h4>
								 </div>
							 </div>
						 	</div>
						 	<div class="team-content-info background-none mb-mobile-50">
							 <h6 class="occupation">Junior Designer</h6>
							 <ul class="social-list list-horizontal">
								 <li><a href="#"><span class="icon-facebook small"></span></a></li>
								 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
								 <li><a href="#"><span class="icon-px small"></span></a></li>
							 </ul>
						 </div>
					 </div>
				  </div>
				  <div class="grid-item">
				 		<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="http://6uh9u7hhy8-flywheel.netdna-ssl.com/wp-content/uploads/2017/05/Jeedah-from-Atlanta.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom ">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
				 	<div class="grid-item">
					 <div class="wrapper">
						 <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							 <img src="http://www.kontrolmag.com/wp-content/uploads/2016/08/cam-newton-0816-05.jpg" width="760" height="760" alt=""/>
							 <div class="caption-over-outer">
								 <div class="caption-over-inner v-align-bottom">
									 <h4>Dale A.</h4>
								 </div>
							 </div>
						 </div>
						 <div class="team-content-info background-none mb-mobile-50">
							 <h6 class="occupation">Junior Designer</h6>
							 <ul class="social-list list-horizontal">
								 <li><a href="#"><span class="icon-facebook small"></span></a></li>
								 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
								 <li><a href="#"><span class="icon-px small"></span></a></li>
							 </ul>
						 </div>
					 </div>
				 	</div>
				 <div class="grid-item">
					 <div class="wrapper">
						 <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							 <img src="https://s3.amazonaws.com/whatnowatlanta/media/2015/11/denim-soul-1-1024x1024.jpg" width="760" height="760" alt=""/>
							 <div class="caption-over-outer">
								 <div class="caption-over-inner v-align-bottom">
									 <h4>Emma C.</h4>
								 </div>
							 </div>
						 </div>
						 <div class="team-content-info background-none mb-mobile-50">
							 <h6 class="occupation">Project Manager</h6>
							 <ul class="social-list list-horizontal">
								 <li><a href="#"><span class="icon-facebook small"></span></a></li>
								 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
								 <li><a href="#"><span class="icon-px small"></span></a></li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 <div class="grid-item">
			 		 <div class="wrapper">
						 <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							 <img src="http://media.gq.com/photos/558363153655c24c6c965bd9/master/w_800/style-blogs-the-gq-eye-ss_atl_3.jpg" width="760" height="760" alt=""/>
							 <div class="caption-over-outer">
								 <div class="caption-over-inner v-align-bottom">
									 <h4>Emma C.</h4>
								 </div>
							 </div>
						 </div>
						 <div class="team-content-info background-none mb-mobile-50">
							 <h6 class="occupation">Project Manager</h6>
							 <ul class="social-list list-horizontal">
								 <li><a href="#"><span class="icon-facebook small"></span></a></li>
								 <li><a href="#"><span class="icon-linkedin small"></span></a></li>
								 <li><a href="#"><span class="icon-px small"></span></a></li>
							 </ul>
						 </div>
					 </div>
				 </div>
		     <div class="grid-item">
					 <div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="http://www.talkingwithtami.com/wp-content/uploads/2016/09/JFC20160811_BR2_1061-e1472729905432.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/18380105_1616875985008547_8141375813992841216_n.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
		      <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://static.wixstatic.com/media/9a1a08_3874ce02551c45868a108ba56c450454.jpg_srz_979_1517_85_22_0.50_1.20_0.00_jpg_srz" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://pbs.twimg.com/media/C8mRhGiXgAAeF5M.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Emma C.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Project Manager</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://cdn.shopify.com/s/files/1/0961/8798/t/6/assets/promo6.jpg?7200157294220852355" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
						</div>
				  </div>



					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://static.wixstatic.com/media/9a1a08_3874ce02551c45868a108ba56c450454.jpg_srz_979_1517_85_22_0.50_1.20_0.00_jpg_srz" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://pbs.twimg.com/media/C8mRhGiXgAAeF5M.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Emma C.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Project Manager</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://cdn.shopify.com/s/files/1/0961/8798/t/6/assets/promo6.jpg?7200157294220852355" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
						</div>
				  </div>


					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://static.wixstatic.com/media/9a1a08_3874ce02551c45868a108ba56c450454.jpg_srz_979_1517_85_22_0.50_1.20_0.00_jpg_srz" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Jason A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-twitter small"></span></a></li>
		              <li><a href="#"><span class="icon-github small"></span></a></li>
		            </ul>
		          </div>
						</div>
	        </div>
	        <div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://pbs.twimg.com/media/C8mRhGiXgAAeF5M.jpg" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Emma C.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Project Manager</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
		        </div>
					</div>
					<div class="grid-item">
						<div class="wrapper">
		          <div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
		            <img src="https://cdn.shopify.com/s/files/1/0961/8798/t/6/assets/promo6.jpg?7200157294220852355" width="760" height="760" alt=""/>
		            <div class="caption-over-outer">
		              <div class="caption-over-inner v-align-bottom">
		                <h4>Dale A.</h4>
		              </div>
		            </div>
		          </div>
		          <div class="team-content-info background-none mb-mobile-50">
		            <h6 class="occupation">Junior Designer</h6>
		            <ul class="social-list list-horizontal">
		              <li><a href="#"><span class="icon-facebook small"></span></a></li>
		              <li><a href="#"><span class="icon-linkedin small"></span></a></li>
		              <li><a href="#"><span class="icon-px small"></span></a></li>
		            </ul>
		          </div>
						</div>
				  </div>


	      </div>
	    </div>
	  </div>
	</div>
	<!-- Team Grid End -->
</div>
<!-- Content End -->
