<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="color--orange title-font-alt text-center"> Authors</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">
          Powell &bull; Adams
        </h1>
      </div>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h4 class="type--bold margin-bottom-10">Introduction</h4>
                <h4 class="">
                  Underutilization of healthcare minimizes opportunities for early detection and preventive
                  interventions that could improve chronic disease and mental health outcomes in boys and men
                  of color (BMOC). To be certain, healthcare underutilization among BMOC is not purely a
                  consequence of limited insurance or access, but rather it is driven by broader social
                  determinants (e.g., education, housing, transportation, neighborhood conditions, and income).
                </h4>
                <hr/>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="type--bold no-margin">Authors</h5>
                    <ul>
                      <li>Wizdom Powell, PhD, MPH</li>
                      <li>Leslie B. Adams, MPH</li>
                    </ul>
                  </div>
                </div>
                <hr/>
                <p class="center">
                  <%= link_to fieldscans_download_fs5_url, class: "btn btn--sm btn--block btn--rise-orange" do %>
                    Download Full Report <i class="material-icons">&#xE2C4;</i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <%= image_tag("fieldscans/fs5/fs5.png", class: "box-shadow-light")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
