<style>
  .article__body h4 {
    font-size: 16px;
    line-height: 26px;
  }
</style>

<section class="unpad bg--secondary">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-12">
        <h4 class="title-font-alt text-center">Background</h4>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="type--bold ">Masculinities Matter: The Role of Masculinities in Depression, Suicide, and Substance Abuse Among African American, Hispanic/Latino, and Alaska Native/ American Indian Boys and Men</h2>
            <hr/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="overflow-scroll overflow-height-500">
              <h4 class="text-justify">
                Problem statement: Across the United States, boys and men of color (BMOC) have poorer health status and live shorter lives than
                non-Hispanic white males. In general, BMOC in the United States have the highest chronic disease morbidities and shortest life
                expectancies (Kochanek et al. 2016). BMOC also have lower rates of healthcare access, insurance, and utilization (Sandman et al
                2000; Green et al. 1999; Neighbors et al. 1987).
              </h4>
              <h4 class="text-justify">
                Underutilization of healthcare minimizes opportunities for early detection and preventive interventions that could improve chronic
                disease and mental health outcomes in BMOC. To be certain, healthcare underutilization among BMOC is not purely a consequence
                of limited insurance or access, but rather it is driven by broader social determinants (e.g., education, housing, transportation,
                neighborhood conditions, and income).
              </h4>
              <h4 class="text-justify">
                Lower levels of educational attainment/income, homelessness, diminished transportation access, residential instability, and neighborhood
                disadvantage each play a critical role in BMOC mortality, morbidity, and health-related quality of life. Such social determinants
                are also at the root of other health behavioral risk-taking, which play a central role in abridging the lifespans of BMOC.
                This field scan report focuses on BMOC—African American, Hispanic/Latino, and Native American—groups who face some of
                the most compelling health disparities and inequities in our nation (National Center for Health Statistics 2016). We use the term
                “males” to refer to the population of men and boys as a whole. Given the significant amount of male mortality attributable to substance
                abuse and suicide or driven by depression (Kochanek et al. 2016), this field scan focuses on these three behavioral health
                outcomes. This focus is further supported by evidence documenting the notable amount of comorbidity between these behavioral
                health outcomes and other chronic diseases (e.g., cardiovascular disease, diabetes, and cancer) linked to the disproportionate
                health disadvantage shouldered by BMOC.
              </h4>
              <h4 class="text-justify">
                Higher rates of male substance abuse are often catalyzed by undiagnosed depression. Males often report less depression than
                females (Kessler et al. 2003; Rosenfield & Mouzon 2013; Scholz, Crabb, & Wittert 2014). In fact, recent prevalence estimates indicate
                that 5–10 percent, 20.7 percent, and 8.5 percent of African American, Hispanic/Latino, and Native American males meet diagnostic
                criteria for depression, respectively (Beals 2005; Compton 2006; Skarupski 2005; Wassertheil-Smoller 2014; Williams 2007). These
                estimates are an important starting place for gauging the impact of depression on BMOC. However, they also likely underestimate
                the extent of depression experienced by BMOC since males generally find it challenging to disclose and detect depression
                symptoms. Despite lower rates of depression, males in the United States have the highest rates of suicide completion (Kochanek
                et al. 2014). This gendered mental health paradox is even more compelling among African American boys who exhibited a recent
                increase in suicide (Bridge et al. 2015) and Alaska Native/American Indian boys and men who, during sensitive developmental
                periods (ages 15–24), have some of the highest suicide death rates in our nation (23.5 per 100,000) (see Figure 1). Recognizing this
                mental health paradox and the potential difficulty males have with disclosing depression, some practitioners and researchers suggest
                that male depression is masked (Addis 2008; Cochran & Rabinowitz 2000), manifesting most often as problem behaviors and
                increased health risk-taking (Byrnes, Miller, & Schafer 1999; Perdue et al. 2003; Richardson et al. 1993; Stall et al. 2003).
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
