
<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-justify">
        <h2 class="title-font-alt text-center">The RISE Pledge</h2>
        <hr/>
        <h4>
          I/we commit to improving the lives, experiences, and outcomes of boys and men of color in the United States by adopting
          and advancing <a href="rise-org.herokuapp.com/pages/about#principles">The RISE Principles</a>. I/we will strategically partner with RISE by changing the narrative about Asian American
          and Pacific Islander, Black, Latino, and Native American boys and men. Furthermore, I/we will use evidence for action,
          engage actively with networks of committed others, and learn from and help widely disseminate evidence of policies,
          practices, approaches, and conditions that have been proven to positively affect boys and men of color, enhance their
          families and communities, and strengthen organizations and efforts that aim to effectively serve them.
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="cta cta-4 bg--primary bg--dark space--xxs">
  <div class="bar color--primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2>We are building a national network of individuals and organizations to advance the RISE Principles. </h2>
        </div>
      </div>
    </div>
  </div>
</section>
