

    <section class="cta cta-4 space--xxs bg--secondary">
      <div class="bar color--primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
              <h3>Building a National Network of Individuals and Organizations to Advance the RISE Principles. </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg--primary bg--dark">

      <div class="container">
        <h1>The RISE Pledge</h1>

        <h4>
          I/we commit to improving the lives, experiences, and outcomes of boys and men of color in the United States by adopting
          and advancing the RISE Principles. I/we will strategically partner with RISE by changing the narrative about Asian American
          and Pacific Islander, Black, Latino, and Native American boys and men. Furthermore, I/we will use evidence for action,
          engage actively with networks of committed others, and learn from and help widely disseminate evidence of policies,
          practices, approaches, and conditions that have been proven to positively affect boys and men of color, enhance their
          families and communities, and strengthen organizations and efforts that aim to effectively serve them.
        </h4>
      </div>
