
<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-justify">
        <div class="boxed boxed--lg boxed--border">
            <div id="account-profile" class="account-tab">
        <h4>Profile</h4>
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <label>Real Name:</label>
                    <input type="text" name="name" value="Lucas Banks" />
                </div>
                <div class="col-sm-6">
                    <label>Display Name:</label>
                    <input type="text" name="display-name" value="l_banks" />
                </div>
                <div class="col-sm-12">
                    <label>Email Address:</label>
                    <input type="email" name="email" value="l_banks@stack.net" />
                </div>
                <div class="col-sm-12">
                    <label>Location:</label>
                    <input type="text" name="location" value="Melbourne" />
                </div>
                <div class="col-sm-12">
                    <label>Website:</label>
                    <input type="text" name="website" value="http://mrare.co" />
                </div>
                <div class="col-sm-12">
                    <label>Bio:</label>
                    <textarea rows="4" name="bio"></textarea>
                </div>
                <div class="col-sm-12">
                    <div class="input-checkbox input-checkbox--switch">
                        <div class="inner"></div>
                        <input type="checkbox" name="public-profile" />
                    </div>
                    <span>Allow my profile to be viewable by guests</span>
                </div>
                <div class="col-md-3 col-sm-4">
                    <button type="submit" class="btn btn--primary type--uppercase">Save Profile</button>
                </div>
            </div>
        </form>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
