<section class="unpad">
  <div class="imagebg bg--primary text-center height-30" data-overlay="8">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/take-the-pledge/hero-pledge.png") %>
    </div>
    <br/><br/>
    <div class="container pos-vertical-center">
        <div class="row">
          <div class="col-sm-12">
            <div class="article__title">
              <h2>Take the Rise Pledge</h2>
              <hr/>
              <h4>A Call to Action</h4>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
