<div class="boxed boxed--border boxed--lg">
  <div class="sidebar__widget">
      <h4 class="no-margin title-font-alt ">RACE</h4>
      <ul>
          <li>
              <a href="#">Asian</a>
          </li>
          <li>
              <a href="#">Black/African-American</a>
          </li>
          <li>
              <a href="#">Latinos</a>
          </li>
          <li>
              <a href="#">Pacific Islander</a>
          </li>
          <li>
              <a href="#">Hispanic or Latino</a>
          </li>
          <li>
              <a href="#">Native American, American Indian, Alaska Native </a>
          </li>
          <li>
              <a href="#">White</a>
          </li>
      </ul>
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">Degree</h6>
    <ul>
        <li>
            <a href="#">Less than HS</a>
        </li>
        <li>
            <a href="#">HS Dip</a>
        </li>
        <li>
            <a href="#">Some College</a>
        </li>
        <li>
            <a href="#">Associates</a>
        </li>
        <li>
            <a href="#">Bachelor's</a>
        </li>
        <li>
            <a href="#">Graduate/Professional</a>
        </li>
    </ul>
  </div>
  <!--end widget-->
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">age</h6>
    <ul>
        <li>
            <a href="#">18-24</a>
        </li>
        <li>
            <a href="#">25-34</a>
        </li>
    </ul>
  </div>
  <!--end widget-->
  <hr/>
  <div class="sidebar__widget">
    <h4 class="no-margin title-font-alt">gender</h6>
    <ul>
        <li>
            <a href="#">male</a>
        </li>
        <li>
            <a href="#">female</a>
        </li>
    </ul>
  </div>
  <!--end widget-->
  <hr/>

  <!--end widget-->
</div>
