  <!-- start section -->
  <section class="wow fadeIn no-padding-bottom">
      <div class="container">
          <div class="row">
              <div class="col-md-12 wow fadeIn">
                  <span class="head-text text-extra-dark-gray alt-font font-weight-500 display-block md-width-100" style="line-height: 1;">
                      We evidence-based work that educates our nation, transforms institutions and societies for the better.
                  </span>
                  <br/><br/>
                  <p>
                    <a href="#" class="btn btn-small btn-transparent-dark-gray btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto">Learn more</a>
                  </p>
              </div>
          </div>
      </div>
  </section>
  <!-- end section -->

  <br/>

  <!-- start divider -->
  <div class="container"><div class="divider-full bg-extra-light-gray"></div></div>
  <!-- end divider -->
  <!-- start about section -->
  <section class="wow fadeIn no-padding-bottom">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeIn">
                  <div class="position-relative icon-with-paragraph">
                      <span class="text-deep-pink position-absolute left-0 top-0 alt-font special-char-extra-large sm-display-none">*</span>
                      <h5 class="font-weight-300 text-extra-dark-gray width-90 padding-nineteen-left md-padding-twenty-left md-width-100 sm-no-padding-left xs-margin-15px-bottom">
                        We evidence-based work that educates our nation, transforms institutions and organizations racism.</h5>
                  </div>
              </div>
              <div class="col-lg-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.2s">
                <a href="about-us-modern.html" class="text-deep-pink"><strong>Rigorous</strong></a>
                  <p class="text-medium font-weight-300 width-70 line-height-26 md-width-100">The University of Southern California is home to a dynamic research and organizational improvement center that helps professionals in educational institutions, corporations, and other contexts strategically develop and achieve equity goals, better understand and correct climate problems, avoid and recover from racial crises, and cultivate sustainable cultures of inclusion and respect. We do high-quality research, climate assessments, learning and organizational development activities, consulting, and a range of signature events. We also translate our research for policymakers, practitioners, and people outside of academia. Models of success that are evidence-based, scalable, and adaptable inform our rigorous approach at the USC Race and Equity Center.</p>

              </div>

              <p>Racism is America’s longest standing social problem. As such, racial inequities are persistent and pervasive in schools, colleges and universities, workplace settings, and our larger society. Despite this, few professionals know how to talk comfortably about race and racism with their colleagues. Even fewer know what to do when racial tensions arise, when data show racial disparities, and when frustrated citizens and employees demand accountability and racial justice.

Our work matters because race continues to matter in our country. Dismantling an issue as big as racism requires a robust interdisciplinary network of expert scholars, as well as a wide range of strategies, tools, partnerships, and resources.

At the USC Race and Equity Center, we aim to be helpful. Actionable intelligence, as well as scalable and adaptable models of success, inform our ongoing quest for racial equity.

Our strength largely resides in our interdisciplinary network of faculty affiliates. We unite more than 100 professors across academic schools at USC who are experts on race and racism, people of color, immigration, and other important dimensions of equity. These scholars work together on research, as well as on the development of useful tools and resources. When journalists, policymakers, and organizational leaders call us for expertise and assistance, we leverage our brilliant cast of faculty affiliates.

Lives depend greatly on the research our faculty affiliates produce and activities our center staff undertake.</p>
          </div>
      </div>
  </section>
  <!-- end about section -->



</div>
