<style>
  .h4 {
    color: #900;
  }
</style>


<section class="position-absolute width-100 no-padding" style="height: 100%; top: 81px; padding: 10px;">
  <section class="parallax wow fadeIn padding-two-tb" style="background: url(<%= image_url('stock/home/backgrounds/4.jpg')%>); background-size: cover; border: 10px solid #fff;">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white text-center alt-font no-margin">The REC Team</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="wow fadeIn no-padding h-nav" style="z-index: 9999;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
            <a href='<%= pages_team_path %>'>
              <h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Leadership & Staff</h6>
            </a>
          </div>
            <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.4s">
              <a href='<%= pages_researchers_path %>'>
                <h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Researchers</h6>
              </a>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.6s">
              <a href='<%= pages_affiliates_path %>'>
                <h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Faculty Affiliates</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wow fadeIn padding-50px-tb" style="z-index: 9999;">
    <div class="container">
      <h6 class="text-extra-dark-gray text-center font-weight-300 alt-font-3 ">initiative Leadership</h6>
      <h2 class="alt-font text-black text-center font-weight-500 margin-5px-bottom">Faculty Affiliates</h2>

      <br/><br/>

      <!-- Communication -->
      <div class="row">
        <div class="col-md-12 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
          <h5 class="alt-font text-black margin-10px-bottom">Annenberg School for Communication and Journalism</h5>
          <p class="text-extra-light-grey">Communication, Public Policy</p>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
          <p>
            <span class="h4">Ben	Carrington</span><br/> Associate Professor  | carringb@usc.edu</p>
          <p>
            <span class="h4">Bill	Celis</span> <br/>Professor | celis@usc.edu<br/>
          </p>
          <p>
            <span class="h4">Joe	Saltzman</span><br/> Professor | saltzman@usc.edu<br/>
          </p>

        </div>
        <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
          <p>
            <span class="h4">Josh	Kun</span><br/> Professor | jkun@usc.edu<br/>
          </p>
          <p>
            <span class="h4">Roberto	Suro</span><br/> Professor  | suro@usc.edu</p>
          <p>
            <span class="h4">Safiya Umoja</span> <br/>Noble	Associate Professor | safiyano@usc.edu<br/>
          </p>

        </div>
        <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
          <p>
            <span class="h4">Sarah	Banet-Weiser</span><br/> Professor | sbanet@usc.edu<br/>
          </p>
          <p>
            <span class="h4">Sheila	Murphy</span><br/> Professor | smurphy@usc.edu<br/>
          </p>
          <p>
            <span class="h4">Stacy	Smith</span><br/> Associate Professor | stacysmi@usc.edu<br/>
          </p>
          <p>
            <span class="h4">Taj	Frazier </span><br/> Associate Professor | rfrazier@usc.edu<br/>
          </p>
        </div>
      </div>
      <!-- Communication -->


      <!-- Communication -->
      <div class="row">
        <div class="col-md-12 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
          <h5 class="alt-font text-black margin-10px-bottom">Dana and David Dornsife College of Letters, Arts and Sciences</h5>
          <p class="text-extra-light-grey">Anthropology, Political Science, School for Communication and Journalism</p>
          <hr/>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
          <p>
            <span class="h4">Beth	Pyatak</span><br/> Assistant Professor | Chan Division of Occupational Science and Occupational Therapy | beth.pyatak@osot.usc.edu | Health</p>
          <p>
            <span class="h4">Ange-Marie Hancock	Alfaro</span> <br/>Professor | Dana and David Dornsife College of Letters, Arts and Sciences  |  ahancock@usc.edu  |  Political Science and Gender Studies<br/>
          </p>
          <p>
            <span class="h4">Cheryl	Mattingly</span><br/> Professor | saltzman@usc.edu | Dana and David Dornsife College of Letters, Arts and Sciences | mattingl@usc.edu	 |  Anthropology<br/>
          </p>

        </div>
        <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
          <p>
            <span class="h4">Christian	Grose	Associate</span><br/> Professor  | Dana and David Dornsife College of Letters, Arts and Sciences  |  cgrose@dornsife.usc.edu  |  Political Science <br/>
          </p>
          <p>
            <span class="h4">Daniel N.	Warshawsky</span><br/> Assistant Professor  | Dana and David Dornsife College of Letters, Arts and Sciences  |  suro@usc.edu  |  warshaws@usc.edu  |  Spatial Sciences</p>
          <p>
            <span class="h4">Safiya Umoja</span> <br/>Noble	Associate Professor | safiyano@usc.edu<br/>
          </p>

        </div>
        <div class="col-md-4 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
          <p>
            <span class="h4">Sarah	Banet-Weiser</span><br/> Professor | sbanet@usc.edu<br/>
          </p>
          <p>
            <span class="h4">Sheila	Murphy</span><br/> Professor | smurphy@usc.edu<br/>
          </p>
          <p>
            <span class="h4">Stacy	Smith</span><br/> Associate Professor | stacysmi@usc.edu<br/>
          </p>
          <p>
            <span class="h4">Taj	Frazier </span><br/> Associate Professor | rfrazier@usc.edu<br/>
          </p>
        </div>
      </div>
      <!-- Communication -->
    </div>
  </section>
