<%= render 'pages/corporate/header' %>
<%= render 'pages/corporate/introduction' %>

<section class="wow fadeIn no-padding" style="background: #f5f5f5;">
  <%= render 'pages/corporate/cta-hero'%>
  <br/><br/><br/><br/><br/><br/><br/>
  <%= render 'pages/corporate/pricing'%>
</section>
