<style>

    .swiper-slide.cover-background.swiper-slide-active,
    .swiper-slide.cover-background.swiper-slide {
      margin-right: 10px !important;
      margin-left: 10px !important;
      margin-bottom: 20px !important;
    }

    .swiper-auto-width .swiper-slide {
      width: 50%;
    }

    .slider-text-bottom {
      padding-bottom: 100px;
    }

    .swiper-bottom-content {
      border-radius: 4px;
    }


    .swiper-vertical-pagination .box-arrow {
      /* top: -1px; */
      box-shadow: 1px 1px 1px #000;
      background: #111 !important;
    }

    .text-yellow {
      color: #FFCC00;
    }



    .navbar-nav > li a {
      color: #900 !important;
    }

    .navbar-nav > li a p {
      color: #000 !important;
    }

    .navbar-nav > li.active a,
    .navbar-nav > li:hover a {
      color: #900 !important;
    }

    .navbar-nav > li.active p,
    .navbar-nav > li:hover p {
      color: #000 !important;
    }

    h4 {
      line-height: 42px;
    }

    .swiper-slide.cover-background {
      border: 10px solid #fff;
    }

    .swiper-slide.cover-background.swiper-slide-active, .swiper-slide.cover-background.swiper-slide {
      padding: 0 !important;
      margin: 0 !important;
    }

</style>


<body class="width-100">

      <!-- start slider section -->
    <section id="home" class="no-padding full-screen">
      <div class="swiper-container swiper-vertical-pagination swiper-container-vertical">
        <div class="swiper-wrapper">
          <!-- start slide item -->
          <div class="swiper-slide cover-background" style="background-image: url(<%= image_url('stock/home/backgrounds/1.jpg')%>); background-position">
            <div class="opacity-medium bg-red  "></div>
            <div class="full-screen width-100 position-relative">
              <div class="slider-typography text-left">
                <div class="slider-text-middle-main">
                  <div class="slider-text-bottom padding-100px-lr xs-padding-30px-lr height-100">
                    <div class="swiper-bottom-content width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                      <h5 class="xs-margin-5px-bottom font-weight-300 text-white-hover alt-font text-white ">
                        "Racism is America’s longest standing social problem. As such, racial inequities are persistent and pervasive
                        in schools, colleges and universities, workplace settings, and our larger society. "</a></h4>
                      <img src="https://res.cloudinary.com/allamerican/image/fetch/t_face_s270/https://speakerdata2.s3.amazonaws.com/photo/image/854367/hi-res" class="img-circle margin-5px-right" style="border: 1px solid #333;" height="40" width="40"/>
                      <div class="" style="display: inline-block">
                        <span class="alt-font-3 text-small text-white font-weight-300">Shaun Harper / </span>
                        <span class="text-uppercase text-small text-white font-weight-600 letter-spacing-1" style="">Executive Director </span><br/>
                      </div>
                    </div>

                    <div style="right: 0;" class="swiper-bottom-content pull-right width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                      <p class="xs-margin-5px-bottom lead font-weight-500 text-yellow alt-font-3 text-white-hover">Parnter with us</p>
                      <h4 class="xs-margin-5px-bottom font-weight-300 text-white-hover alt-font text-white">
                        Become a member of our the Corporate Alliance
                      </h4>
                      <p>
                        <a href="#" class="btn btn-rounded bg-red btn-danger btn-large btn-block">Get more Information <i class="fas fa-long-arrow-alt-right"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end slide item -->

          <!-- start slide item -->
          <div class="swiper-slide cover-background" style="background-image: url(<%= image_url('stock/home/backgrounds/2.jpg')%>); background-position">
            <div class="opacity-light bg-warning"></div>
            <div class="full-screen width-100 position-relative">
              <div class="slider-typography text-left">
                <div class="slider-text-middle-main">
                  <div class="slider-text-bottom padding-100px-lr xs-padding-30px-lr height-100">

                    <div class="swiper-bottom-content width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                      <h5 class="xs-margin-5px-bottom font-weight-300 text-white alt-font text-white-hover">
                        "Few professionals know how to talk comfortably about race and racism with their colleagues. Even fewer know what to do when racial
                        tensions arise, when data show racial disparities, and when frustrated citizens and employees demand accountability and racial justice."
                      </h5>
                      <img src="https://res.cloudinary.com/allamerican/image/fetch/t_face_s270/https://speakerdata2.s3.amazonaws.com/photo/image/854367/hi-res" class="img-circle margin-5px-right" style="border: 1px solid #333;" height="40" width="40"/>
                      <div class="" style="display: inline-block">
                        <span class="alt-font-3 text-small text-white font-weight-300">Shaun Harper / </span>
                        <span class="text-uppercase text-small text-white font-weight-600 letter-spacing-1" style="">Executive Director </span><br/>
                      </div>
                    </div>

                    <div style="right: 0;" class="swiper-bottom-content pull-right width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                      <p class="xs-margin-5px-bottom lead font-weight-500 text-yellow alt-font-3 text-white-hover">Parnter with us</p>
                      <h4 class="xs-margin-5px-bottom font-weight-300 text-white-hover alt-font text-white">
                        Become a member of our the Corporate Alliance
                      </h4>
                      <p>
                        <a href="#" class="btn btn-rounded bg-red btn-danger btn-large btn-block">Get more Information <i class="fas fa-long-arrow-alt-right"></i></a>
                      </p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end slide item -->

          <!-- start slide item -->
          <div class="swiper-slide cover-background" style="background-image: url(<%= image_url('stock/home/backgrounds/3.jpg')%>); background-position">
            <div class="opacity-light bg-extra-dark-gray"></div>
            <div class="full-screen width-100 position-relative">
              <div class="slider-typography text-left">
                <div class="slider-text-middle-main">
                  <div class="slider-text-bottom padding-100px-lr xs-padding-30px-lr">


                    <div class="swiper-bottom-content bg-black width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all" style="background: #900;">
                      <p class="xs-margin-5px-bottom"><a href="single-project-page-01.html" class="lead font-weight-500 text-yellow alt-font-3 text-white-hover">
                        companies and organizations</a></p>
                      <h5 class="xs-margin-5px-bottom font-weight-300 text-white alt-font text-white-hover">
                        "Our work matters because race continues to matter in our country. Dismantling an issue as big as racism requires a robust
                        interdisciplinary network of expert scholars, as well as a wide range of strategies, tools, partnerships, and resources.
                        "</h5>
                      <img src="https://res.cloudinary.com/allamerican/image/fetch/t_face_s270/https://speakerdata2.s3.amazonaws.com/photo/image/854367/hi-res" class="img-circle margin-5px-right" style="border: 1px solid #333;" height="40" width="40"/>
                      <div class="" style="display: inline-block">
                        <span class="alt-font-3 text-small text-white font-weight-300">Shaun Harper / </span>
                        <span class="text-uppercase text-small text-white font-weight-600 letter-spacing-1" style="">Executive Director </span><br/>
                      </div>
                    </div>

                    <<div style="right: 0;" class="swiper-bottom-content pull-right width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                      <p class="xs-margin-5px-bottom lead font-weight-500 text-yellow alt-font-3 text-white-hover">Parnter with us</p>
                      <h4 class="xs-margin-5px-bottom font-weight-300 text-white-hover alt-font text-white">
                        Become a member of our the Corporate Alliance
                      </h4>
                      <p>
                        <a href="#" class="btn btn-rounded bg-red btn-danger btn-large btn-block">Get more Information <i class="fas fa-long-arrow-alt-right"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end slide item -->

          <!-- start slide item -->
          <div class="swiper-slide cover-background" style="background-image: url(<%= image_url('stock/home/backgrounds/4.jpg')%>); background-position">
            <div class="opacity-light bg-extra-dark-gray"></div>
            <div class="full-screen width-100 position-relative">
              <div class="slider-typography text-left">
                <div class="slider-text-middle-main">
                  <div class="slider-text-bottom padding-100px-lr xs-padding-30px-lr">
                    <div class="swiper-bottom-content bg-black width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all" style="background: #900;">
                      <p class="xs-margin-5px-bottom"><a href="single-project-page-01.html" class="lead font-weight-500 text-yellow alt-font-3 text-white-hover">
                        companies and organizations</a></p>
                      <h5 class="xs-margin-5px-bottom font-weight-300 text-white alt-font text-white-hover">
                        "Our work matters because race continues to matter in our country. Dismantling an issue as big as racism requires a robust
                        interdisciplinary network of expert scholars, as well as a wide range of strategies, tools, partnerships, and resources.
                        "</h5>
                      <img src="https://res.cloudinary.com/allamerican/image/fetch/t_face_s270/https://speakerdata2.s3.amazonaws.com/photo/image/854367/hi-res" class="img-circle margin-5px-right" style="border: 1px solid #333;" height="40" width="40"/>
                      <div class="" style="display: inline-block">
                        <span class="alt-font-3 text-small text-white font-weight-300">Shaun Harper / </span>
                        <span class="text-uppercase text-small text-white font-weight-600 letter-spacing-1" style="">Executive Director </span><br/>
                      </div>
                    </div>

                    <div style="right: 0;" class="swiper-bottom-content pull-right width-500px padding-30px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                      <p class="xs-margin-5px-bottom lead font-weight-500 text-yellow alt-font-3 text-white-hover">Parnter with us</p>
                      <h4 class="xs-margin-5px-bottom font-weight-300 text-white-hover alt-font text-white">
                        Become a member of our the Corporate Alliance
                      </h4>
                      <p>
                        <a href="#" class="btn btn-rounded bg-red btn-danger btn-large btn-block">Get more Information <i class="fas fa-long-arrow-alt-right"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide item -->



        </div>
      </div>
      <!-- start slider pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- end slider pagination -->
    </section>
