<section class="parallax wow fadeIn padding-two-tb" style="background: url(<%= image_url('stock/home/backgrounds/4.jpg')%>); background-size: cover; border: 10px solid #fff; border-top: 90px solid #fff;">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-white text-center alt-font no-margin">Research Reports and Pubications</h2>
      </div>
    </div>
  </div>
</section>
<!-- start product quotes section -->
<section class="wow fadeIn no-padding-bottom padding-three-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 center-col text-center last-paragraph-no-margin sm-margin-40px-bottom xs-margin-30px-bottom">
        <p class="font-weight-300 text-medium text-medium-gray alt-font-3">Latest Publication</p>
        <br/><br/>
        <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
        <h3 class="text-center alt-font text-black font-weight-500">Black Male Student-Athletes and Racial Inequities in <br/>NCAA Division I College Sports</h3>
      </div>
    </div>


    <div class="row padding-40px-top padding-90px-bottom">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="margin-eight-bottom sm-margin-50px-bottom xs-margin-20px-bottom pull-left">
            <div class="col-md-7 col-sm-12 col-xs-12 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
              <p class="text-large font-weight-300">Summary</h6>
              <h6 class="font-weight-300 text-extra-dark-gray lh-34">"Harper’s research goes beyond basketball and football, and includes Black male scholarship athletes on all sports teams. He analyzed data from the NCAA Federal Graduation Rates Database, along with each institution’s federal graduation rates. Four cohorts were examined."</h5>
              <p class="font-weight-300 text-medium text-medium-gray">&#8211; USC Press Room</p>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 wow fadeInUp"  data-wow-delay="0.2s">
              <p class="text-large font-weight-300">Highlights</p>
              <ul class="highlights">
                <li>Graduation rates for Black male student-athletes have declined over the past two years at 40 percent of the universities studied.</li>
                <li>Black male student-athletes across four cohorts graduated at just over 55 percent, compared to more than 76 percent of undergraduate students, and 60 percent of Black undergraduate men overall.</li>
                <li>Only four universities graduated Black male student-athletes at rates higher than or equal to student athletes overall.</li>
                <li>Overall graduation rates for Black male student-athletes have increased 2.5 percentage points over the past two years.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-extra-light-gray padding-90px-tb" style=" border: 1px solid #eee;">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeInUp" style="margin-top: -200px;">
          <img src="https://pbs.twimg.com/media/DYK3DalXcAE-sF1.jpg" alt="" class="box-shadow"/>
        </div>
      </div>
    </div>
    <br/><br/><br/>
    <div class="container">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center margin-100px-bottom sm-margin-50px-bottom xs-margin-30px-bottom">
          <h4 class="font-weight-300 text-extra-dark-gray margin-15px-bottom">Download the Report</h4>
          <br/>
          <p><a href="#" class="btn btn-black btn-large"><i class="fas fa-cloud-download-alt margin-10px-right"></i> Download the Report</a></p>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 line-height-28 last-paragraph-no-margin sm-margin-50px-bottom xs-margin-30px-bottom wow fadeIn">
          <h6 class="alt-font-3 text-grey">Introduction</h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-1 line-height-26 wow fadeIn">
          <ul class="list-style-6 margin-twelve-left">
            <li class="margin-5px-bottom"><label class="width-30 display-inline-block">Authors:</label>Jason Richardson</li>
            <li class="margin-5px-bottom"><label class="width-30 display-inline-block">Published:</label>Adventure  /  Travel</li>
            <li class="margin-5px-bottom"><label class="width-30 display-inline-block">Edition:</label>Design, Art Direction, Website</li>
            <li class="margin-5px-bottom"><label class="width-30 display-inline-block">Pages:</label>January 16th, 2017</li>
            <li class="margin-5px-bottom"><label class="width-30 display-inline-block">Contact:</label><a href="https://themeforest.net/user/themezaa/portfolio?ref=themezaa" target="_blank">www.mammutadventure.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end product quotes section -->
<!-- start product images section -->

<!-- end product images section -->
