<style>
  .article__body h4 {
    font-size: 16px;
    line-height: 26px;
  }
</style>

<section class="unpad bg--secondary">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-12">
        <h4 class="title-font-alt text-center">Background</h4>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="type--bold ">Latino boys and men: Advancing scholarship and community-based solutions</h2>
            <hr/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="overflow-scroll overflow-height-500">
              <h4 class="text-justify">
                Developing culturally relevant human services for racial and ethnic minorities has become a national priority (DHHS 2001). However,
                understanding what works, how it works, and why it works within certain cultural-specific communities continues to be severely
                limited, despite efforts of professional fields to promote multicultural practice (APA 2003). This limitation is only intensified when
                looking at the subpopulation of boys and men within communities of Color (Boyce, Wills, & Beatty 2012; Davis, Kilburn, & Schultz
                2009). One way to fill this gap is to utilize a cultural-specific framework to guide the scan of various sources of knowledge (e.g.,
                academic literature and community-led products).
              </h4>
              <h4 class="text-justify">
                Existing reviews of the literature are limited in several ways. First, there is insufficient attention to issues affecting boys and men
                of Color (Boyce et al. 2012; Davis et al. 2009). Whereas various national initiatives have taken place over the last 30 years to increase
                attention to diversity, we do not yet know the extent to which these efforts translate into increasing our knowledge base
                on the challenges faced by racial and ethnic minorities in general, and boys and men of Color specifically. Second, analyses of the
                literature that focus especially on racial ethic minority populations remain limited. What is known is that published reviews reveal
                the inclusion of racial ethnic minorities continues to be limited, although it has increased over time (Carter & Forsyth 2007; Delgado-
                Romero et al. 2005). Third, most published content analyses focus heavily on describing general sample characteristics and
                rarely address the inclusion of more complex or nuanced factors.
              </h4>
              <h4 class="text-justify">
                In general, there is a gap in existing content analyses that document the state of the field as it relates to understanding racial-cultural
                sociodemographic terms (e.g., race, ethnicity, culture), inclusion of racial-cultural psychological variables (e.g., racial identity,
                acculturation) (for review, see Carter & Forsyth 2007; Delgado-Romero et al. 2005), and, more specifically, gender-related factors
                (e.g., masculinity, machismo, gender role conflicts, gender identities) that impact the lives of men of Color, specifically Latino men
                and boys. Given the aforementioned limitations, we used a culturally relevant research framework to understand the state of the
                literature (Mazzula 2015), which has documented inclusion criteria for racial ethnic minority populations, recommendations for incorporating
                identity (e.g., racial identity, ethnic identity, etc.) and systematic guidelines to assist journal editors and editorial boards
                to enforce adequate reporting of sample characteristics (Mazzula 2015; Mazzula et al. 2014).
              </h4>
              <h4 class="text-justify">
                We addressed systemic limitations on understanding the state of the field by utilizing an interdisciplinary and comprehensive
                approach to identify community-based solutions with Latino and African American men and boys that may not be included in the
                academic literature base. Specifically, we engaged the community-centered evidence-based practice (CCEBP) approach, which required
                us to move beyond understandings of academic findings and include practice-based knowledge from multiple data sources
                (Serrata et al. 2017). The CCEBP approach was developed in direct response to the lack of culturally relevant academic literature
                and practices that reflect the complexity of ethnic and racial minority communities. It is a framework that effectively incorporates
                the knowledge of community practitioners with the knowledge generated in academia and in fields of practice (Serrata et al. 2017).
                Community-based practitioners often work alongside diverse communities to develop creative solutions to not only combat individual
                issues but solutions that intervene at the community level (Wandersman 2003). This source of knowledge is all too often
                ignored, keeping an entire field of initiatives in the dark and ignored.
              <h4>
              <h4 class="text-justify">
                Accordingly, and importantly, this project reviewed mainstream academic knowledge but also knowledge from community-based
                initiatives with Latino boys and men in the area of healthy masculinity. The review of the grey literature and interviews with community-
                based practitioners complimented the content analysis of academic literature to provide a comprehensive and multidisciplinary
                knowledge base. The grey literature and interviews also served to identify preliminary best practices for moving forward in
                the area of healthy masculinity with Latino men and boys.
              </h4>
              <h4 class="text-justify">
                The report is organized by presenting the methodology and findings separately for the content analysis of the academic literature,
                the review of the grey literature, and interviews with community-based primary prevention initiatives. We bridge these distinct
                bodies of work for the discussion and recommendations section of the report.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
