<section class="cover height-50 imagebg bg--primary switchable" data-overlay="8">
  <br/>
  <div class="background-image-holder">
    <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <p class="text-center">
        <%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo.png", class: "col-md-2 col-md-offset-5")%>
      </p>
    </div>
    <hr style="width: 50%; border-color: rgba(245, 208, 0, .75); border-width: 2px;" class="center"/>
    <h2 class="text-center title-font-alt">Data Center: <span class="color--yellow">Health</span></h2>
    <div class="modal-instance block">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 pull-left">
          <p class="text-center">
            <a href="#" class="btn btn-sm btn-block modal-trigger">Research Methodology</a>
          </p>
        </div>
      </div>
      <div class="modal-container">
          <div class="modal-content">
           <div class="boxed boxed--lg" style="padding: 50px 100px;">
             <h3 class="text-bold">Research Methodology</h3>
             <hr class="short">

             <h4 class="text-bold no-margin">Description of the Data</h4>
             <p>
               The estimated percentage of private, public, or no health insurance coverage for men 18 years old and over, disaggregated by race and ethnicity subgroups. For reporting purposes, the Census Bureau broadly classifies health insurance coverage as private health insurance or public coverage.
             </p>

             <p>
               Private health insurance is a plan provided through an employer or union, a plan purchased by an individual from a private company, or TRICARE or other military health care.
             </p>

             <p>
               Public health coverage includes the federal programs Medicare, Medicaid, and VA Health Care (provided through the Department of Veterans Affairs); the Children’s Health Insurance Program (CHIP); and individual state health plans.
             </p>

             <p>People who had no reported health coverage, or those whose only health coverage was Indian Health Service, were considered uninsured.</p>

             <h4 class="text-bold no-margin">Data Source</h4>
             <p class="">
               Data was retrieved from Table S0201 of the 2011-2013 American Community Survey available for download on the <a href="https://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml">American FactFinder Website</a>.
             </p>

             <h4 class="text-bold no-margin">Notes</h4>
             <p class="">
               The universe for most health insurance coverage estimates is the civilian noninstitutionalized population, which excludes active-duty military personnel and the population living in correctional facilities and nursing homes. Some noninstitutionalized GQ populations have health insurance coverage distributions that are different from the household population (e.g., the prevalence of private health insurance among residents of college dormitories is higher than the household population). The proportion of the universe that is in the noninstitutionalized GQ populations could therefore have a noticeable impact on estimates of the health insurance coverage. Institutionalized GQ populations may also have health insurance coverage distributions that are different from the civilian noninstitutionalized population, the distributions in the published tables may differ slightly from how they would look if the total population were represented.
             </p>

             <ul>
               <ol>
                 <li>Insurance through a current or former employer or union (of this person or another family member)</li>
                 <li>Insurance purchased directly from an insurance company (by this person or another family member)</li>
                 <li>Medicare, for people 65 and older, or people with certain disabilities</li>
                 <li>Medicaid, Medical Assistance, or any kind of government-assistance plan for those with low incomes or a disability</li>
                 <li>TRICARE or other military health care</li>
                 <li>VA (including those who have ever used or enrolled for VA health care)</li>
                 <li>Indian Health Service</li>
                 <li>Any other type of health insurance or health coverage plan</li>
               </ul>

             <p>People were considered insured if they reported at least one “yes” to Questions 16a to 16f. Respondents reporting a “yes” to the types listed in parts a, b, or e were considered to have private health insurance. Respondents reporting a “yes” to the types listed in c, d, or f were considered to have public coverage. The types of health insurance are not mutually exclusive; people may be covered by more than one at the same time</p>
             <p>For more information on the description of the data and comparability with earlier versions of the survey, see the <a href="https://www2.census.gov/programs-surveys/acs/tech_docs/subject_definitions/2010_ACSSubjectDefinitions.pdf">ACS 2010 Subject Definitions documentation</a>.</p>
           </div>
           <div class="modal-close modal-close-cross"></div>
         </div>
        </div>
    </div><!--end of modal instance-->
    <!-- <h4 class="text-center">
       This repository organizes hundreds of downloadable open-source charts, graphs,
      and images. Enter the Data Center to get high resolution graphics of finely
      disaggregated community data for your review or to include in your own reports
      and proposals.
    </h4> -->
    <!-- <br/><br/><br/> -->
  </div>
</section>
