/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require css/bootstrap
 *= require css/stack-interface
 *= require css/socicon
 *= require css/lightbox.min
 *= require css/flickity
 *= require css/iconsmind
 *= require css/jquery.steps
 *= require css/theme
 *= require css/custom
 *= require css/font-roboto

 */

 @font-face {
 	font-family: 'iconsmind';
 	src:url('iconsmind.eot') format('embedded-opentype');
 	src:url('iconsmind.woff') format('woff'),
 		url('iconsmind.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }


@font-face {
  font-family:'stack-interface';
  src:url("stack-interface.eot") format("embedded-opentype");
  src:url("stack-interface.woff2") format("woff2"),
  url("stack-interface.woff") format("woff"),
  url("stack-interface.ttf") format("truetype"),
  url("stack-interface.svg") format("svg");
  font-weight:normal;
  font-style: normal;
}

@font-face {
  font-family: "socicon";
  src: url("socicon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
