<section class="cover height-30 imagebg bg--primary" data-overlay="8">
  <div class="background-image-holder">
    <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <p class="center">
            <%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo.png", class: "")%>
          </p>
        </div>
        <br/>
      </div>
    <div class="col-md-offset-1 col-md-9">
      <h1 class="title-font-alt no-margin">The Data Center</h1>
      <hr style="width: 50%; border-color: rgba(245, 208, 0, .75); border-width: 2px;" class=""/>
      <p class="lead">
        <span class="type--fade">
          A repository of more than 400 downloadable open-source charts, graphs, and images. Get high
          resolution graphics of the most current community data.
        </span>
      </p>
    </div>
  </div>
</section>
