<section class="cover height-60 imagebg bg--primary" data-overlay="8">
  <div class="background-image-holder">
    <%= image_tag("rise_assets/home/hero/image/image@2x.png")%>
  </div>
  <br/>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <p class="center" style="width: 250px;">
            <%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo.png", class: "")%>
          </p>
        </div>
        <br/>
      </div>
    </div>
    <h1 class="text-center title-font-alt ">The Data Center</h1>
    <hr style="width: 50%; border-color: rgba(245, 208, 0, .75); border-width: 2px;" class="center"/>
    <p class="text-center lead">
      <span class="type--fade ">
        A repository of more than 400 downloadable open-source charts, graphs,</br> and images. Get high
        resolution graphics of the most current community data.
      </span>
    </p>
    <h3 class="text-center"><strong>Or</strong></h3>
    <p class="text-center"><a href="#" class="btn">Sort Data</a></p>
  </div>
</section>
