<section class="bg--secondary">
  <div class="container">

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <h4 class="color--orange title-font-alt text-center">by Race + ethnicity</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">Explore Data and Research by Ethnicity</h1>
        <h4 class="text-center">
          Explore the latest research, from RISE research, academic initiatives, experts and more.
        </h4>
      </div>
    </div>
    <br/>
    <br/>

    <div class="row">
      <div class="col-sm-3 masonry__item">
        <div class="card card-2 text-center">
          <div class="card__top">
            <a href="#">
              <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
            </a>
          </div>
          <div class="card__body">
            <h4>Native American</h4>
          </div>
          <div class="card__bottom text-center"></div>
        </div>
      </div>
      <div class="col-sm-3 masonry__item">
        <div class="card card-2 text-center">
          <div class="card__top">
            <a href="#">
              <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
            </a>
          </div>
          <div class="card__body">
            <h4>Black</h4>
          </div>
          <div class="card__bottom text-center"></div>
        </div>
      </div>
      <div class="col-sm-3 masonry__item">
        <div class="card card-2 text-center">
          <div class="card__top">
            <a href="#">
              <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
            </a>
          </div>
          <div class="card__body">
            <h4>Latino</h4>
          </div>
          <div class="card__bottom text-center"></div>
        </div>
      </div>
      <div class="col-sm-3 masonry__item">
        <div class="card card-2 text-center">
          <div class="card__top">
            <a href="#">
              <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
            </a>
          </div>
          <div class="card__body">
            <h4>Asian American and Pacific Islander</h4>
          </div>
          <div class="card__bottom text-center"></div>
        </div>
      </div>
    </div>
    <!--end of container-->
</section>
