
<section class="bg--secondary">
  <div class="container">
    <br/>
    <div class="row">
      <div class="col-md-6">
        <h4 class=" title-font-alt">Popular Research Publications</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="imagebg height-20 border--round bg-gradient-issue-brief-card boxed boxed--sm" data-overlay="9">
                <div class="background-image-holder">
                    <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                      <div class="col-sm-12">
                          <h4>
                            Where are our American Indian / Alaskan Native Boys and Young Men?
                          </h4>
                          <hr/>
                          <h5 class="title-font-alt">by Villegas</h5>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="imagebg height-20 border--round bg-gradient-issue-brief-card boxed boxed--sm" data-overlay="9">
              <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/godsil/hero.png") %>
              </div>
              <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>
                      Tools for Addressing the Disproportionate Discipline of Boys of Color in Schools
                    </h4>
                    <hr/>
                    <h5 class="title-font-alt">by Godsil</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="imagebg height-20 border--round bg-gradient-issue-brief-card boxed boxed--sm" data-overlay="9">
              <div class="background-image-holder ">
                <%= image_tag("rise_assets/issue_briefs/yu/hero.png") %>
              </div>
              <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>
                      Advancing Culturally Responsive Evaluations for Boys and Men of Color
                    </h4>
                    <hr/>
                  <h5 class="title-font-alt">by Villegas</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-lg-6">
            <div class="imagebg height-20 border--round bg-gradient-issue-brief-card boxed boxed--sm" data-overlay="9">
              <div class="background-image-holder ">
                <%= image_tag("rise_assets/issue_briefs/yu/hero.png") %>
              </div>
              <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>
                      Advancing Culturally Responsive Evaluations for Boys and Men of Color
                    </h4>
                    <hr/>
                  <h5 class="title-font-alt">by Villegas</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-offset-1 col-md-5 text-center">
        <br/>
        <h4 class="text-center title-font-alt">help & more resources</h4>
        <hr/>
        <br/><br/>
        <h2 class="text-center">Not finding what you need in our data center?</h2>
        <p>
          <a class="btn btn--large">Submit a Custom Request</a>
        </p>
        <h4 class="text-center">A RISE Data Analyst will respond within 72 hours</h4>
      </div>
    </div>
  </div>
</section>
