  <section class="">
    <div class="container">
      <h1 class="text-semibold">RISE Data Center Chats</h1>
      <hr class="short">
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <h3 class="no-margin">Effectively examining data to understand Executive Order 13767</h3>
        <h4>Dr. Nichole M. Garcia</h4>
        <div class="col-sm-8 text-center">
            <div class="background-image-holder">
          		<img alt="image" src="https://i.ytimg.com/vi_webp/3osX0llc5lA/maxresdefault.webp" />
            </div>
              <div class="modal-instance height-50">
                  <div class="video-play-icon modal-trigger box-shadow video-play-icon--dark"></div>
                  <div class="modal-container">
                      <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                          <iframe src="https://www.youtube.com/embed/3osX0llc5lA" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                      <!--end of modal-content-->
                  </div>
                  <!--end of modal-container-->
              </div>
              <!--end of modal instance-->
          </div>
        <div class="col-sm-3 col-sm-offset-1 ">
          <div class="">
            <h4>OVERVIEW</h5>
            <hr/>
            <p>This session offers an overview of Executive Order 13767: Border Security and Immigration Enforcement Improvements.  A brief walk through of Department of Homeland Security and Transactional Records Access Clearinghouse data is shared to explain the ways in which data informs this executive order.  In addition, a historical inforgraphic is provided to visually represent laws and policies enacted that created the United States and Mexico border. The session will be informative for those currently working in institutions, non-profits, and community organizations as well as for those working with data to represent underserved communities.</p>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <section>
    <div class="container">
      <div class="row">
        <h3 class="no-margin">Overview of the American Community Survey and accessing dis-aggregated Census data</h3>
        <h4>Dr. Nathan M. Castillo</h4>
        <div class="col-sm-8 text-center">
            <div class="background-image-holder">
              <img alt="image" src="https://i.ytimg.com/vi/xhncqIOHRvY/hqdefault.jpg" />
            </div>
              <div class="modal-instance height-50">
                  <div class="video-play-icon modal-trigger box-shadow video-play-icon--dark"></div>
                  <div class="modal-container">
                      <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                          <iframe src="https://www.youtube.com/embed/xhncqIOHRvY" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                      <!--end of modal-content-->
                  </div>
                  <!--end of modal-container-->
              </div>
              <!--end of modal instance-->
          </div>
        <div class="col-sm-3 col-sm-offset-1 ">
          <div class="">
            <h4>OVERVIEW</h5>
            <hr/>
            <p>This session offers an overview of the American Community Survey website with a brief walk through about how to access dis-aggregated data using the online webform. The session will also provide information for those currently working with institutional data as well as for those who are curious about working with large scale data sets.</p>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>


  <section>
    <div class="container">
      <div class="row">
        <h3 class="no-margin">Overview of Laws Impacting the Refugee Community in the United States</h3>
        <h4>Dr. Peter Keo</h4>
        <div class="col-sm-8 text-center">
            <div class="background-image-holder">
              <img alt="image" src="https://i1.ytimg.com/vi/f7EVOleUjdU/hqdefault.jpg" />
            </div>
            <div class="modal-instance height-50">
              <div class="video-play-icon modal-trigger box-shadow video-play-icon--dark pos-vertical-center"></div>

                  <div class="modal-container">
                      <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                          <iframe src="https://www.youtube.com/embed/f7EVOleUjdU" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                      <!--end of modal-content-->
                  </div>
                  <!--end of modal-container-->
              </div>
              <!--end of modal instance-->
          </div>
        <div class="col-sm-3 col-sm-offset-1 ">
          <div class="">
            <h4>OVERVIEW</h5>
            <hr/>
            <p>This webinar explores the historical timeline of laws that have impacted the refugee community in the United States (1940-present).  Specifically, this session examines these issues in the context of Executive Order 13769 that was recently signed under the Trump administration.</p>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
