
<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="color--orange title-font-alt text-center"> Fiedlscan 1</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">Benjamin Cook &bull; Barrett, PhD &bull; Hou, MPH &bull; Samson, PhD</h1>
      </div>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h4 class="type--bold margin-bottom-10">Introduction</h4>
                <h4 class="">
                  Racial/ethnic minority youth and youth diagnosed with mental illness are more likely to
                  come into contact with the police and subsequently be involved in the juvenile justice system.
                  As one would expect from the statistics, youth of color who are also diagnosed with a mental
                  illness experience a form of “double jeopardy” when it comes to risk for incarceration.
                </h4>
                <hr/>
                <h4 class="type--bold margin-bottom-10">Authors</h4>
                <ul class="h5">
                  <li>Benjamin Cook, PhD, MPH</li>
                  <li>James Barrett, PhD </li>
                  <li>Sherry Hou, MPH</li>
                  <li>Frank Samson, PhD</li>
                </ul>
                <hr/>
                <p class="center">
                  <%= link_to fieldscans_download_fs1_url, class: "btn btn--sm btn--block btn--rise-orange" do %>
                    Download Full Report <i class="material-icons">&#xE2C4;</i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <%= image_tag("fieldscans/fs1/fs1.png", class: "box-shadow-light")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
