
<section class="bg--white">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-5">
            <h4 class="type--bold margin-bottom-10">Authors</h4>
            <ul class="h4">
              <li>Benjamin Cook, PhD, MPH</li>
              <li>James Barrett, PhD </li>
              <li>Sherry Hou, MPH</li>
              <li>Frank Samson, PhD</li>
            </ul>
            <hr/>
            <div class="row">
              <div class="col-md-11">
                <h4 class="type--bold margin-bottom-10">About</h4>
                <h5 class="type--bold">
                  RISE for Boys and Men of Color is a field advancement effort that aims to
                  better understand and strategically improve the lives, experiences, and
                  outcomes of boys and men of color in the United States.
                </h5>
                
                <br/>
              </div>
            </div>
            <p class="margin-top-10">
              <%= link_to issues_download_post1_url, class: "btn btn--sm btn--rise-orange h6" do %>
                Download Full Report <i class="material-icons">&#xE2C4;</i>
              <% end %>
            </p>
          </div>
          <div class="col-md-7">
            <%= image_tag("fieldscans/fs1/fs1.png", class: "box-shadow-light")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
