<style>
  .article__body h4 {
    font-size: 16px;
    line-height: 26px;
  }
</style>

<section class="unpad bg--secondary">
  <br/><br/>
  <div class="container">
    <div class="row article__body">
      <div class="col-md-12">
        <h4 class="title-font-alt text-center">Background</h4>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="type--bold ">The Intersection of the Criminal Justice, Education, and Mental Healthcare Systems and Its Influence on Boys and Young Men of Color</h2>
            <hr/>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="overflow-scroll overflow-height-500">
              <h4 class="text-justify">
                Racial and ethnic minorities comprise approximately 32 percent of the US youth population, however, they account for more than
                60 percent of individuals within the juvenile justice system (Snyder & Sickmund 2006). They are more than eight times as likely as
                their white counterparts to be housed in a juvenile detention center (Wordes & Jones 1998). Meanwhile, 65 percent of young people
                in the juvenile justice system are diagnosed with a psychiatric or substance use disorder (Desai et al. 2006; Shufelt & Cocozza
                2006).
              </h4>
              <h4 class="text-justify">
                Youth with emerging mental illness can have difficulty regulating behavior and affect, so small conflicts can escalate into
                violent altercations, which can then lead to police involvement and subsequent legal charges. Racial/ethnic minorities are consistently
                more likely to harbor negative perceptions of policing in their communities, influenced by personal experiences or those of
                friends and family, as well as media coverage and neighborhood conditions (Weitzer & Tuch 2004). Consequently, both racial/ethnic
                minority youth and youth diagnosed with mental illness are more likely to come into contact with the police and subsequently be
                involved in the juvenile justice system. As one would expect from the statistics, youth of color who are also diagnosed with a mental
                illness experience a form of “double jeopardy” when it comes to risk for incarceration (see case study on page 3).
              </h4>
              <h4 class="">
                Youth of color begin to experience the effects of punitive expansion as early as elementary school (Christle, Jolivette, & Nelson 2005;
                Gregory, Skiba, & Noguera 2010; Nicholson-Crotty, Birchmeier, & Valentine 2009). Many schools teaching youth of color rely heavily on
                exclusion practices to discipline students. These practices may contribute to the racial gaps in academic achievement, in addition to the
                unequal and inadequate education opportunities offered to children and adolescents of color (Gregory et al. 2010). Suspensions tend
                to interfere with academic achievement, making it difficult for students of color to build on their academic skills and maintain appropriate
                school behavior. The strong associations among academic failure, exclusionary discipline practices, dropouts, and delinquency
                greatly contribute to the school-to-prison pipeline (Christle et al. 2005). The lifetime risk of being incarcerated is 58.9 percent among
                African American males without a high school diploma (Massoglia 2008).
              </h4>
              <h4 class="text-justify">
                Negative outcomes like involvement with the justice system are more likely for low-income minority youth in urban areas than for
                youth in resource-rich environments. However, these negative outcomes can potentially be mitigated via the integration of law
                enforcement, education, and mental health services. Models such as crisis intervention team (CIT) trainings appear to improve
                officers’ knowledge in handling such cases (Compton et al. 2006), yet evidence for the impact of CIT trainings on reducing incarceration
                or improving officer safety is mixed (Taheri 2016). In part, success may be limited because of the challenges in translating
                knowledge to action, and the scarce resources and poor coordination linking at-risk youth with psychiatric needs with appropriate
                care (Compton et al. 2010). Little is known about how cross-sector collaborations across the criminal justice, mental health, and
                education systems address emerging mental health needs, despite the fact that at-risk youth are often identified as needing
                services in schools, and that police departments are often the first and only point of contact between at-risk youth and the social
                service system.
              </h4>
              <h4 class="text-justify">
                In this report, we conduct a scan of the academic and grey literature on the intersection of the criminal justice, mental health, and
                education systems, and how it influences the lives of at-risk racial/ethnic minority youth (boys and young men of color). First, we
                identify a set of public health and social science studies that examine the associations between the systems named above and
                outcomes for at-risk youth, using the social ecological model as an organizing framework to elucidate the multilevel determinants
                of advantage and disadvantage among at-risk youth. Second, we identify interventions that aim to improve outcomes for racial/
                ethnic minority at-risk youth at the intersection of these three structural systems.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</section>
