/*! Place your custom styles here */

.menu-horizontal > li > a {
  opacity: 1;
  font-weight: normal;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  font-family: 'Oswald';
  text-transform: uppercase;
  color: #0e2d53;
  letter-spacing: 1px;
}

nav.bar.bar--sm li > span.dropdown__trigger {
  top: 0;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 5px;
  letter-spacing: 2px;
  font-size: 1.1em;
  margin-right: 1.6em;
  opacity: 1;
}

@media (min-width: 1280px) {
body.boxed-layout {
  background: #0e2d53;
  padding-top: 0;
  }
}

.cta .menu-horizontal li:not(:last-child) {
  margin: 0 1em;
}


/*Backgroun colors*/
.bg--primary {
  background: #0e2d53;
}


.color--orange {
  color: #FF4500;
}

.bg--orange {
  background: #FF4500;
}

.bg--grey {
  background: #f8f8f8;
}

.type--fine-print.color--white {
  opacity: .75;
}

[data-overlay].bg--primary:before {
  background: #0e2d53;
}

/*list styling*/

ol {
    list-style-position: outside;
    padding-left: 20px;
    list-style-type: decimal;
}

ol li {
  margin-left: 10px;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.title-font-alt {
  font-family: 'Oswald';
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 2px;
  color: #0e2d53;
}

.lead {
    font-weight: 400;
    line-height: 1.4em;
}


/*social media*/

.bg--twitter {
  background: #1DA1F2;
}

.bg--orange {
  background: #ee6431;
}

.bg--yellow {
  background: #ffb140;
}


.color--yellow {
  color: #ffb140 !important;
}

.color--bright-yellow {
  color: #F1F500 !important;
}



.color--orange-dark {
  color: #bb4f3e;
}

.color--orange-light {
  color: #FFD597;
}

.color--purple {
  color: #E2243B;
}


/*utilities*/

.no-margin {
  margin: 0;
}


.box-shadow {
  box-shadow: 1px 10px 15px #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.box-shadow-light {
  box-shadow: 1px 1px 1px #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.box-shadow-dark {
  box-shadow: 1px 5px 10px #222;
}

a {
  color: #0e2d53;
}


.menu-horizontal > li:not(:hover) > a > i {
    color: #fff;
}


.feature-5 p:last-of-type {
    line-height: 1.5em;
}


.feature h4 + p {
    max-width: 22.28571429em;
}

.feature-5 p {
     min-height: 0;
}

.feature-5 p:last-of-type {
    margin-bottom: 0;
}

#features p {
  line-height: 1.5em;
}

#features .boxed h4 {
  margin-bottom: 10px;
  line-height: 1.3em;
  font-size: 1.3em;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#features .boxed {
  border-left: 5px solid #08c;
}

.dropdown__content h3 {
  margin-bottom: 10px;
}

.dropdown__content hr {
  margin: 10px 0;
}


hr {
  border-color: rgba(245, 208, 0, .50);
}


.padding-10 {
  margin: 0 0 10px;
  border-radius: 4px;
}

/*Custom gradients*/

[data-overlay].bg-gradient-blue:before {
  background: -moz-linear-gradient(top, rgba(48,172,255,0.5) 0%, rgba(0,114,192,0.75) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(48,172,255,0.5) 0%,rgba(0,114,192,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(48,172,255,0.5) 0%,rgba(0,114,192,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-clear:before {
  background: -moz-linear-gradient(top, rgba(242,245,250,0.75) 0%, rgba(206,215,227,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(242,245,250,0.75) 0%,rgba(206,215,227,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(242,245,250,0.75) 0%,rgba(206,215,227,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-yellow:before {
  background: -moz-linear-gradient(top, rgba(238,213,3,0.75) 0%, rgba(224,163,0,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(238,213,3,0.75) 0%,rgba(224,163,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(238,213,3,0.75) 0%,rgba(224,163,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-orange:before {
  background: -moz-linear-gradient(top, rgba(254,122,74,0.75) 0%, rgba(255,106,51,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(254,122,74,0.75) 0%,rgba(255,106,51,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(254,122,74,0.75) 0%,rgba(255,106,51,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-purple:before {
  background: -moz-linear-gradient(top, rgba(204,87,210,0.75) 0%, rgba(168,38,175,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(204,87,210,0.75) 0%,rgba(168,38,175,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(204,87,210,0.75) 0%,rgba(168,38,175,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-video:before {
  background: -moz-linear-gradient(top, rgba(127,21,35,0.75) 0%, rgba(188,69,34,0.7) 45%, rgba(243,121,14,0.65) 76%, rgba(235,215,1,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(127,21,35,0.75) 0%,rgba(188,69,34,0.7) 45%,rgba(243,121,14,0.65) 76%,rgba(235,215,1,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(127,21,35,0.75) 0%,rgba(188,69,34,0.7) 45%,rgba(243,121,14,0.65) 76%,rgba(235,215,1,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-issue-brief-card:before {
  background: -moz-linear-gradient(top, rgba(235,215,1,0.6) 0%, rgba(243,121,14,0.65) 29%, rgba(188,69,34,0.7) 57%, rgba(127,21,35,0.75) 78%, rgba(125,20,34,0.75) 79%, rgba(93,9,20,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(235,215,1,0.6) 0%,rgba(243,121,14,0.65) 29%,rgba(188,69,34,0.7) 57%,rgba(127,21,35,0.75) 78%,rgba(125,20,34,0.75) 79%,rgba(93,9,20,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(235,215,1,0.6) 0%,rgba(243,121,14,0.65) 29%,rgba(188,69,34,0.7) 57%,rgba(127,21,35,0.75) 78%,rgba(125,20,34,0.75) 79%,rgba(93,9,20,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-issue-brief-post:before {
  background: -moz-linear-gradient(45deg, rgba(93,9,20,0.8) 0%, rgba(125,20,34,0.75) 21%, rgba(127,21,35,0.75) 22%, rgba(188,69,34,0.7) 43%, rgba(243,121,14,0.65) 71%, rgba(235,215,1,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(93,9,20,0.8) 0%,rgba(125,20,34,0.75) 21%,rgba(127,21,35,0.75) 22%,rgba(188,69,34,0.7) 43%,rgba(243,121,14,0.65) 71%,rgba(235,215,1,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(93,9,20,0.8) 0%,rgba(125,20,34,0.75) 21%,rgba(127,21,35,0.75) 22%,rgba(188,69,34,0.7) 43%,rgba(243,121,14,0.65) 71%,rgba(235,215,1,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn--rise-orange {
  border: 1px solid #bc4422; /* Old browsers */
  border-color: -moz-linear-gradient(top, #bc4422 0%, #f3790d 50%, #ffea00 100%); /* FF3.6-15 */
  border-color: -webkit-linear-gradient(top, #bc4422 0%,#f3790d 50%,#ffea00 100%); /* Chrome10-25,Safari5.1-6 */
  border-color: linear-gradient(to bottom, #bc4422 0%,#f3790d 50%,#ffea00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn--rise-blue {
  background: #f3790d; /* Old browsers */
  background: -moz-linear-gradient(top, #f3790d 0%, #ecd701 39%, #eaec01 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3790d 0%,#ecd701 39%,#eaec01 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f3790d 0%,#ecd701 39%,#eaec01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}


/*hover state for horizontal menu
1574B5*/


.center {
  display: table;
  margin: 20px auto;
}

span.circle-border {
  border: 1px solid #0e2d53;
  border-radius: 100%;
  padding: 10px;
  margin: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  line-height: 20px;
  font-weight: 400;
  font-size: .75em !important;
  background: #0e2d53;
  color: #fff;
}

.no--border {
  border: none;
}

.btn {
  font-weight: 500;
}

.border--grey {
  border-color: #eee;
}

.boxed.no-border-radius {
  border-radius: 0;
}

.btn:not([class*='primary']), .btn--rise {
  border-radius: 100px;
  border-width: 2px;
  font-size: 1.4em;
  border-color: orange !important;
  color: orange;

  padding-top: 0.46428571em;
  padding-bottom: 0.46428571em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.btn--rise-orange i.material-icons {
  font-size: 1.8em;
  vertical-align: middle;
  color: #ffb140;
}

.color--white {
  color: #fff !important;
}

.bar.pos-fixed:not([class*='bg-']) {
    border-bottom: 1px solid #ddd;
    box-shadow: 1px 1px 1px #eee;
}


.advisors h4 a {
  color: #1574B5 !important
}

.flickity-prev-next-button:not(:hover) {
  opacity: 1;
  background: #FF4500;
  font-size: 20px;
}

/*
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/


.menu-horizontal > li:not(:hover) > a {
  opacity: 1;
  color: #1574b5;
  border-bottom: 5px solid transparent;
  line-height: 60px;
  padding: 33px 0;
}

.menu-horizontal > li:hover > a {
  color: #1574b5;
  opacity: 1;
  border-bottom: 5px solid #1574b5;
  line-height: 60px;
  padding: 33px 0;
}


.menu-horizontal > li > a {
  border-bottom: 5px solid transparent;
}

h4 {
  line-height: 28px;
}

.advisors h4 {
  margin: 0px;
}

.advisors h5 {
  line-height: 20px;
}

.advisors .boxed {
    position: relative;
    overflow: hidden;
    padding: 0.75em 1.5em;
}


#principles .feature__body h4 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  font-family: 'Oswald';
  text-transform: uppercase;
}

#principles .feature__title {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
  height: 90px;
  vertical-align: text-bottom;
  position: relative;
  display: block;
}

#principles .boxed.boxed--lg {
    padding: 1.5em 2.5em;
}

#principles .feature__body h6 {
    color: #FF4500;
    margin: 0;
    text-transform: capitalize;
}

#principles .feature__body p.lead {
  font-size: 1.1em;
  line-height: 22px;
  color: #333;
}


.flickity-prev-next-button.next {
    right: -25px;
    box-shadow: 1px 1px 1px #333;
}

.flickity-prev-next-button.previous {
    left: -25px;
    box-shadow: 1px 1px 1px #333;
}

.flickity-prev-next-button:hover {
  font-size: 20px;
  background: #9D0905;
}

#activities .tabs-container .tab__content {
 border: 1px solid #ECECEC; border-radius: 6px; padding: 30px 40px;
}

#activities .tabs-container .tab__content p {
 margin: 0; line-height: 24px; opacity: .5; font-size: 1.2em;
}

.bar .logo {
  max-height: 2.4em;
  line-height: 1px;
  position: absolute;
  max-width: none;
}


.dropdown .dropdown__content:not([class='bg--dark']) .menu-vertical a {
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
}

ul.menu-vertical {
    line-height: 1.6em;
}

.dropdown__content h4 {
  font-weight: normal;
  font-size: 2em;
  color: orange;
}

.dropdown__content hr {
  margin-bottom: 20px;
}
