/*! Place your custom styles here */

.menu-horizontal > li > a {
  opacity: 1;
  font-weight: normal;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  font-family: 'Oswald';
  text-transform: uppercase;
  color: #0e2d53;
  letter-spacing: 1px;
}

nav.bar.bar--sm li > span.dropdown__trigger {
  top: 0;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 5px;
  letter-spacing: 2px;
  font-size: 1.1em;
  margin-right: 1.6em;
  opacity: 1;
}

@media (min-width: 1280px) {
body.boxed-layout {
  background: #0e2d53;
  padding-top: 0;
  }
}

.cta .menu-horizontal li:not(:last-child) {
  margin: 0 1em;
}


/*Backgroun colors*/
.bg--primary {
  background: #0e2d53;
}


.color--orange {
  color: #FF4500;
}

.bg--orange {
  background: #FF4500;
}

.bg--grey {
  background: #f8f8f8;
}

.type--fine-print.color--white {
  opacity: .75;
}

[data-overlay].bg--primary:before {
  background: #0e2d53;
}

/*list styling*/

ol {
    list-style-position: outside;
    padding-left: 20px;
    list-style-type: decimal;
}

ol li {
  margin-left: 10px;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.title-font-alt {
  font-family: 'Oswald';
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 2px;
  color: #0e2d53;
}

.lead {
    font-weight: 400;
    line-height: 1.4em;
}


/*social media*/

.bg--twitter {
  background: #1DA1F2;
}

.bg--orange {
  background: #ee6431;
}

.bg--yellow {
  background: #ffb140;
}


.color--yellow {
  color: #ffb140 !important;
}

.color--bright-yellow {
  color: #F1F500 !important;
}



.color--orange-dark {
  color: #bb4f3e;
}

.color--orange-light {
  color: #FFD597;
}

.color--purple {
  color: #5800a5;
}


/*utilities*/

.no-margin {
  margin: 0;
}


.box-shadow {
  box-shadow: 1px 10px 15px #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.box-shadow-light {
  box-shadow: 1px 1px 1px #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.box-shadow-dark {
  box-shadow: 1px 30px 20px #222;
}

a {
  color: #0e2d53;
}


.menu-horizontal > li:not(:hover) > a > i {
    color: #fff;
}


.feature-5 p:last-of-type {
    line-height: 1.5em;
}


.feature h4 + p {
    max-width: 22.28571429em;
}

.feature-5 p {
     min-height: 0;
}

.feature-5 p:last-of-type {
    margin-bottom: 0;
}

#features p {
  line-height: 1.5em;
}

#features .boxed h4 {
  margin-bottom: 10px;
  line-height: 1.3em;
  font-size: 1.3em;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#features .boxed {
  border-left: 5px solid #08c;
}

.dropdown__content h3 {
  margin-bottom: 10px;
}

.dropdown__content hr {
  margin: 10px 0;
}


hr {
  border-color: rgba(245, 208, 0, .50);
}


.padding-10 {
  margin: 0 0 10px;
  border-radius: 4px;
}

/*Custom gradients*/

[data-overlay].bg-gradient-blue:before {
  background: -moz-linear-gradient(top, rgba(48,172,255,0.5) 0%, rgba(0,114,192,0.75) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(48,172,255,0.5) 0%,rgba(0,114,192,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(48,172,255,0.5) 0%,rgba(0,114,192,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-clear:before {
  background: -moz-linear-gradient(top, rgba(242,245,250,0.75) 0%, rgba(206,215,227,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(242,245,250,0.75) 0%,rgba(206,215,227,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(242,245,250,0.75) 0%,rgba(206,215,227,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-yellow:before {
  background: -moz-linear-gradient(top, rgba(238,213,3,0.75) 0%, rgba(224,163,0,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(238,213,3,0.75) 0%,rgba(224,163,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(238,213,3,0.75) 0%,rgba(224,163,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-orange:before {
  background: -moz-linear-gradient(top, rgba(254,122,74,0.75) 0%, rgba(255,106,51,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(254,122,74,0.75) 0%,rgba(255,106,51,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(254,122,74,0.75) 0%,rgba(255,106,51,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-purple:before {
  background: -moz-linear-gradient(top, rgba(204,87,210,0.75) 0%, rgba(168,38,175,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(204,87,210,0.75) 0%,rgba(168,38,175,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(204,87,210,0.75) 0%,rgba(168,38,175,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-video:before {
  background: -moz-linear-gradient(top, rgba(127,21,35,0.75) 0%, rgba(188,69,34,0.7) 45%, rgba(243,121,14,0.65) 76%, rgba(235,215,1,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(127,21,35,0.75) 0%,rgba(188,69,34,0.7) 45%,rgba(243,121,14,0.65) 76%,rgba(235,215,1,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(127,21,35,0.75) 0%,rgba(188,69,34,0.7) 45%,rgba(243,121,14,0.65) 76%,rgba(235,215,1,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-issue-brief-card:before {
  background: -moz-linear-gradient(top, rgba(235,215,1,0.6) 0%, rgba(243,121,14,0.65) 29%, rgba(188,69,34,0.7) 57%, rgba(127,21,35,0.75) 78%, rgba(125,20,34,0.75) 79%, rgba(93,9,20,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(235,215,1,0.6) 0%,rgba(243,121,14,0.65) 29%,rgba(188,69,34,0.7) 57%,rgba(127,21,35,0.75) 78%,rgba(125,20,34,0.75) 79%,rgba(93,9,20,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(235,215,1,0.6) 0%,rgba(243,121,14,0.65) 29%,rgba(188,69,34,0.7) 57%,rgba(127,21,35,0.75) 78%,rgba(125,20,34,0.75) 79%,rgba(93,9,20,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

[data-overlay].bg-gradient-issue-brief-post:before {
  background: -moz-linear-gradient(45deg, rgba(93,9,20,0.8) 0%, rgba(125,20,34,0.75) 21%, rgba(127,21,35,0.75) 22%, rgba(188,69,34,0.7) 43%, rgba(243,121,14,0.65) 71%, rgba(235,215,1,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(93,9,20,0.8) 0%,rgba(125,20,34,0.75) 21%,rgba(127,21,35,0.75) 22%,rgba(188,69,34,0.7) 43%,rgba(243,121,14,0.65) 71%,rgba(235,215,1,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(93,9,20,0.8) 0%,rgba(125,20,34,0.75) 21%,rgba(127,21,35,0.75) 22%,rgba(188,69,34,0.7) 43%,rgba(243,121,14,0.65) 71%,rgba(235,215,1,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/*hover state for horizontal menu
1574B5*/
