/*! Place your custom styles here */

.menu-horizontal > li > a {
  opacity: 1;
  font-weight: normal;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  font-family: 'Oswald';
  text-transform: uppercase;
  color: #0e2d53;
  letter-spacing: 1px;
}

nav.bar.bar--sm li > span.dropdown__trigger {
  top: 0;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 5px;
  letter-spacing: 2px;
  font-size: 1.1em;
  margin-right: 1.6em;
  opacity: 1;
}

@media (min-width: 1280px) {
body.boxed-layout {
  background: #0e2d53;
  padding-top: 0;
  }
}

.cta .menu-horizontal li:not(:last-child) {
  margin: 0 1em;
}


/*Backgroun colors*/
.bg--primary {
  background: #0e2d53;
}


.color--orange {
  color: #FF4500;
}

.bg--orange {
  background: #FF4500;
}

.bg--grey {
  background: #f8f8f8;
}

.type--fine-print.color--white {
  opacity: .75;
}

[data-overlay].bg--primary:before {
  background: #0e2d53;
}

/*list styling*/

ol {
    list-style-position: outside;
    padding-left: 20px;
    list-style-type: decimal;
}

ol li {
  margin-left: 10px;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.title-font-alt {
  font-family: 'Oswald';
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 2px;
  color: #0e2d53;
}

.lead {
    font-weight: 400;
    line-height: 1.4em;
}


/*social media*/

.bg--twitter {
  background: #1DA1F2;
}

.bg--orange {
  background: #ee6431;
}

.bg--yellow {
  background: #ffb140;
}

.color--yellow {
  color: #ffb140;
}

.color--orange-dark {
  color: #bb4f3e;
}

.color--orange-light {
  color: #FFD597;
}

.color--purple {
  color: #5800a5;
}


/*utilities*/

.no-margin {
  margin: 0;
}


.box-shadow {
  box-shadow: 1px 10px 15px #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.box-shadow-light {
  box-shadow: 1px 1px 1px #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.box-shadow-dark {
  box-shadow: 1px 30px 20px #222;
}

a {
  color: #0e2d53;
}


.menu-horizontal > li:not(:hover) > a > i {
    color: #fff;
}


.feature-5 p:last-of-type {
    line-height: 1.5em;
}


.feature h4 + p {
    max-width: 22.28571429em;
}

.feature-5 p {
     min-height: 0;
}

.feature-5 p:last-of-type {
    margin-bottom: 0;
}

#features p {
  line-height: 1.5em;
}

#features .boxed h4 {
  margin-bottom: 10px;
  line-height: 1.3em;
  font-size: 1.3em;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#features .boxed {
  border-left: 5px solid #08c;
}

.dropdown__content h3 {
  margin-bottom: 10px;
}

.dropdown__content hr {
  margin: 10px 0;
}
