/*! Place your custom styles here */

.menu-horizontal > li:not(:hover) > a {
  opacity: 1;
  font-weight: normal;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
}

@media (min-width: 1280px) {
body.boxed-layout {
  background: #0e2d53;
}
}

@media (min-width: 990px) {
.menu-horizontal li:not(:last-child) {
    margin: 0 1em;
}
}


/*Backgroun colors*/

.bg--primary {
  background: #0e2d53;
}


.color--orange {
  color: #FF4500;
}

.bg--orange {
  background: #FF4500;
}

.bg--grey {
  background: #f8f8f8;
}

.type--fine-print.color--white {
  opacity: .75;
}

/*list styling*/

ol {
    list-style-position: outside;
    padding-left: 20px;
    list-style-type: decimal;
}

ol li {
  margin-left: 10px;
}

h1, h2, h3 {
  font-weight: 400;
}

.lead {
    font-weight: 400;
    line-height: 1.4em;
    color: #333;
}


/*social media*/

.bg--twitter {
  background: #1DA1F2
}

.bg--orange {
  background: #f26f1d
}

.bg--yellow {
  background: #f2d91d
}


/*utilities*/

.no-margin {
  margin: 0;
}


.box-shadow {
  box-shadow: 1px 10px 15px #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}


.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}
